<div class="guide-container">
  <h2>1. Hướng dẫn tạo cửa hàng và thiết lập thông tin cơ bản</h2>
  <p>
    <strong>Mô tả:</strong> Tính năng Khởi tạo cửa hàng giúp bạn nhanh chóng tạo
    mới một cửa hàng và thiết lập các thông tin cơ bản ban đầu. Người dùng có
    thể thêm tên cửa hàng, địa chỉ,... và dễ dàng truy cập phần <b>Quản lý</b> >
    <strong>Cấu hình</strong> > <strong>Cửa hàng</strong> để chỉnh sửa thêm.
  </p>

  <div class="section">
    <app-step-box>
      <h3 header>VIDEO HƯỚNG DẪN</h3>
      <h3 icon class="btn-image"><i class="fa-solid fa-image"></i> Xem clip</h3>
      <div class="modal video">
        <iframe
          src="https://www.youtube.com/embed/mcF6tzYJI3w?si=dI4XtFxf5fhCNsQR"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          referrerpolicy="strict-origin-when-cross-origin"
          allowfullscreen
        ></iframe>
      </div>
    </app-step-box>
  </div>

  <div class="section">
    <app-step-box>
      <h3 header>a. Tạo cửa hàng mới</h3>
      <h3
        icon
        class="btn-image"
        (click)="
          emitShowImageEvent(
            'assets/images/create-store-1.png',
            'Ảnh khởi tạo cửa hàng'
          )
        "
      >
        <i class="fa-solid fa-image"></i> Xem ảnh
      </h3>
      <div class="modal">
        <div class="row">

          <div class="line">
            <b>Bước 1:</b> Mở ứng dụng, chọn biểu tượng
            <strong><i class="fa-solid fa-plus"></i></strong> và chọn
            <strong>Tạo cửa hàng mới</strong>.
          </div>
        </div>
        <div class="row">

          <div class="line">
            <b>Bước 2:</b> Nhập tên cửa hàng và địa chỉ vào ô trống.
          </div>
        </div>
        <div class="row">

          <div class="line">
            <b>Bước 3:</b> Nhấn <strong><i class="fa-solid fa-plus"></i></strong> để
            lưu lại.
          </div>
        </div>
      </div>
    </app-step-box>
  </div>

  <div class="section">
    <app-step-box>
      <h3 header>b. Truy cập cửa hàng</h3>
      <h3
        icon
        class="btn-image"
        (click)="
          emitShowImageEvent(
            'assets/images/create-store-2.png',
            'Ảnh truy cập cửa hàng'
          )
        "
      >
        <i class="fa-solid fa-image"></i> Xem ảnh
      </h3>
      <div class="modal">
        <div class="row">

          <div class="line">
            <b>Bước 1:</b> Sau khi tạo xong, chọn biểu tượng
            <strong><i class="fa-regular fa-cash-register"></i></strong> để truy
            cập vào cửa hàng vừa tạo.
          </div>
        </div>
        <div class="row">

          <div class="line">
            <b>Bước 2:</b> Chọn biểu tượng
            <strong><i class="fa-solid fa-bars"></i></strong> góc trái trên
            cùng, sau đó truy cập <strong>Chính sách</strong>, chọn
            <b>Cấu hình</b>, rồi chọn <strong>Cửa hàng</strong> để điều chỉnh
            các thông tin về cửa hàng.
          </div>
        </div>
      </div>
    </app-step-box>
  </div>

  <div class="section">
    <app-step-box>
      <h3 header>c. Tạo nhóm cửa hàng</h3>
      <h3
        icon
        class="btn-image"
        (click)="
          emitShowImageEvent(
            'assets/images/create-store-3.png',
            'Ảnh tạo nhóm cửa hàng'
          )
        "
      >
        <i class="fa-solid fa-image"></i> Xem ảnh
      </h3>
      <div class="modal">
        <div class="row">

          <div class="line">
            <b><b>Bước 1:</b></b> Chọn biểu tượng
            <strong><i class="fa-solid fa-plus"></i></strong> và chọn
            <strong>Tạo nhóm cửa hàng</strong>.
          </div>
        </div>
        <div class="row">

          <div class="line">
            <b><b>Bước 2:</b></b> Nhập tên nhóm, Mô tả và thêm các cửa hàng vào nhóm từ
            <b>Danh sách cửa hàng</b>.
          </div>
        </div>
        <div class="row">

          <div class="line">
            <b><b>Bước 3:</b></b> Nhấn
            <strong><i class="fa-regular fa-floppy-disk"></i></strong> để lưu
            lại.
          </div>
        </div>
      </div>
    </app-step-box>
  </div>
</div>
