<div class="guide-container">
  <h2>📦 7. Khởi tạo hàng hóa</h2>
  <p>
    <strong>Mô tả:</strong>Thiết lập danh sách hàng hóa để quản lý kinh doanh
    hiệu quả, bao gồm thông tin tên, đơn vị tính và giá bán.
  </p>

  <div class="section a">
    <h3>Thêm mới hàng hóa.<button class="btn-image" (click)="emitShowImageEvent('assets/images/create-goods-1.PNG','Ảnh thêm mới hàng hoá')"><i class="fa-solid fa-image"></i> Xem ảnh</button></h3>
    <div class="row">
      <div class="icon"><i class="fas fa-hand-point-right"></i></div>
      <div class="line">
        Bước 1: Chọn biểu tượng <strong><i class="fa-solid fa-bars"></i></strong> góc trái trên cùng, sau đó truy cập
        <strong>Hàng hóa</strong>.
      </div>
    </div>
    <div class="row">
      <div class="icon"><i class="fas fa-hand-point-right"></i></div>
      <div class="line">
        Bước 2: Nhấn nút <b><i class="fa-solid fa-plus"></i>Mặt hàng</b>, nhập
        thông tin hàng hóa (tên, đơn vị tính, giá…).
      </div>
    </div>
    <div class="row">
      <div class="icon"><i class="fas fa-hand-point-right"></i></div>
      <div class="line">Bước 3: Nhấn <b>Cập nhật</b> để lưu mặt hàng.</div>
    </div>
    <div class="row">
      <div class="icon"><i class="fas fa-hand-point-right"></i></div>
      <div class="line">
        Bước 4: Nhấn biểu tượng <b><i class="fa-solid fa-floppy-disk"></i></b> ở
        góc trên bên phải để lưu lại toàn bộ thao tác.
      </div>
    </div>
  </div>
</div>
