<div class="guide-container">
  <h2>7. Khởi tạo hàng hóa</h2>
  <p>
    <strong>Mô tả:</strong>Thiết lập danh sách hàng hóa để quản lý kinh doanh
    hiệu quả, bao gồm thông tin tên, đơn vị tính và giá bán.
  </p>

  <div class="section">
    <app-step-box>
      <h3 header>a. Thêm mới hàng hóa</h3>
      <h3
        icon
        class="btn-image"
        (click)="
          emitShowImageEvent(
            'assets/images/create-goods-1.png',
            'Ảnh thêm hàng hoá'
          )
        "
      >
        <i class="fa-solid fa-image"></i> Xem ảnh
      </h3>
      <div class="modal">
        <div class="row">
          <div class="icon"><i class="fas fa-hand-point-right"></i></div>
          <div class="line">
            Bước 1.1: Để tạo hàng hóa cho chuỗi cửa hàng, chọn biểu tượng
            <strong><i class="fa-solid fa-grid"></i></strong> góc phải trên
            cùng, chọn <b>Chính sách chung</b> và chọn <b>Hàng hóa</b>.
          </div>
        </div>
        <div class="row">
          <div class="icon"><i class="fas fa-hand-point-right"></i></div>
          <div class="line">
            Bước 1.2: Để tạo hàng hóa cho cửa hàng, chọn biểu tượng
            <strong><i class="fa-solid fa-bars"></i></strong> góc trái trên
            cùng, chọn <b>Quản lý</b> sau đó truy cập <strong>Hàng hóa</strong>.
          </div>
        </div>
        <div class="row">
          <div class="icon"><i class="fas fa-hand-point-right"></i></div>
          <div class="line">
            Bước 2: Nhấn nút <b><i class="fa-solid fa-plus"></i></b> để thêm mặt
            hàng, nhập thông tin hàng hóa (tên, đơn vị tính,…).
          </div>
        </div>
        <div class="row">
          <div class="icon"><i class="fas fa-hand-point-right"></i></div>
          <div class="line">Bước 3: Nhấn <b>Cập nhật</b> để lưu mặt hàng.</div>
        </div>
        <div class="row">
          <div class="icon"><i class="fas fa-hand-point-right"></i></div>
          <div class="line">
            Bước 4: Nhấn biểu tượng
            <b><i class="fa-solid fa-floppy-disk"></i></b> để lưu lại toàn bộ
            thao tác.
          </div>
        </div>
      </div>
    </app-step-box>
  </div>

  <div class="section">
    <app-step-box>
      <h3 header>b. Chỉnh sửa hàng hoá</h3>
      <h3
        icon
        class="btn-image"
        (click)="
          emitShowImageEvent(
            'assets/images/create-goods-2.png',
            'Ảnh Chỉnh sửa hàng hoá'
          )
        "
      >
        <i class="fa-solid fa-image"></i> Xem ảnh
      </h3>
      <div class="modal">
        <div class="row">
          <div class="icon"><i class="fas fa-hand-point-right"></i></div>
          <div class="line">
            Bước 1: Để sửa thông tin, chọn <b>nhóm hàng hoá</b>, chọn
            <b>chủng loại</b> rồi chọn <b>hàng hoá</b> muốn sửa, sau đó sửa lại
            thông tin mặt hàng và ấn Cập nhật rồi lưu để hoàn tất.
          </div>
        </div>
        <div class="row">
          <div class="icon"><i class="fas fa-hand-point-right"></i></div>
          <div class="line">
            Bước 2: Để xoá hàng hoá, chọn <b>nhóm hàng hoá</b>, chọn
            <b>chủng loại</b> rồi chọn <b>hàng hoá</b> muốn xoá, sau đó ấn biểu
            tượng <b><i class="fa-solid fa-trash"></i></b> rồi lưu để hoàn tất.
          </div>
        </div>
        <div class="note">
          <p>
            (<b>Lưu ý:</b> Ấn vào biểu tượng
            <b><i class="fa-solid fa-magnifying-glass"></i></b> để tìm kiếm
            nhanh theo tên hàng hoá.)
          </p>
        </div>
      </div>
    </app-step-box>
  </div>

  <div class="section">
    <app-step-box>
      <h3 header>c. Các thao tác khác</h3>
      <div class="modal">
        <div class="row">
          <div class="icon"><i class="fa-solid fa-hand-point-right"></i></div>
          <div class="line">
            Chọn biểu tượng
            <strong><i class="fa-solid fa-arrow-left"></i></strong> để trở về
            hành động trước đó.
          </div>
        </div>
        <div class="row">
          <div class="icon"><i class="fa-solid fa-hand-point-right"></i></div>
          <div class="line">
            Chọn biểu tượng
            <strong><i class="fa-solid fa-arrow-right"></i></strong> để hoàn tác
            hành động trở về.
          </div>
        </div>
      </div>
    </app-step-box>
  </div>
</div>
