<div class="guide-container">
  <h2>7. Khởi tạo hàng hóa</h2>
  <p>
    <strong>Mô tả:</strong> Thiết lập danh sách hàng hóa để quản lý kinh doanh
    hiệu quả, bao gồm thông tin tên, đơn vị tính và giá bán.
  </p>

  <div class="section">
    <app-step-box>
      <h3 header>VIDEO HƯỚNG DẪN</h3>
      <h3 icon class="btn-image"><i class="fa-solid fa-image"></i> Xem clip</h3>
      <div class="modal video">
        <div class="youtube-wrapper">
          <iframe
            src="https://www.youtube.com/embed/KL5GxCMj2zs?rel=0&modestbranding=1&controls=1&showinfo=0"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            referrerpolicy="strict-origin-when-cross-origin"
            allowfullscreen
          ></iframe>
        </div>
      </div>
    </app-step-box>
  </div>

  <div class="section">
    <app-step-box>
      <h3 header>a. Truy cập hàng hoá</h3>
      <h3
        icon
        class="btn-image"
        (click)="
          emitShowImageEvent(
            'assets/images/create-goods-1.png',
            'Ảnh truy cập hàng hoá'
          )
        "
      >
        <i class="fa-solid fa-image"></i> Xem ảnh
      </h3>
      <div class="modal">
        <div class="row">
          <div class="icon"><i class="fas fa-hand-point-right"></i></div>
          <div class="line">
            Bước 1.1: Để tạo hàng hoá chung cho chuỗi cửa hàng, chọn biểu tượng
            <strong><i class="fa-solid fa-grid"></i></strong> góc phải trên
            cùng, chọn <b>Chính sách chung</b> và chọn
            <strong>Hàng hoá</strong>.
          </div>
        </div>
        <div class="row">
          <div class="icon"><i class="fas fa-hand-point-right"></i></div>
          <div class="line">
            Bước 1.2: Để tạo hàng hoá cho cửa hàng, chọn biểu tượng
            <strong><i class="fa-solid fa-bars"></i></strong> góc trái trên
            cùng, chọn <b>Quản lý</b> sau đó truy cập <strong>Hàng hoá</strong>.
          </div>
        </div>
      </div>
    </app-step-box>
  </div>
  <div class="section">
    <app-step-box>
      <h3 header>b. Tạo mặt hàng/sản phẩm</h3>
      <h3
        icon
        class="btn-image"
        (click)="
          emitShowImageEvent(
            'assets/images/create-goods-2.png',
            'Ảnh thêm mới sản phẩm'
          )
        "
      >
        <i class="fa-solid fa-image"></i> Xem ảnh
      </h3>
      <div class="modal">
        <div class="row">
          <div class="icon"><i class="fas fa-hand-point-right"></i></div>
          <div class="line">
            Bước 1: Nhấn nút <b><i class="fa-solid fa-plus"></i></b> để thêm mặt
            hàng(chủng loại) nhập thông tin mặt hàng (ví dụ Bột Cacao, Bột
            Mix,...).
          </div>
        </div>
        <div class="row">
          <div class="icon"><i class="fas fa-hand-point-right"></i></div>
          <div class="line">
            Bước 2: Nhấn <b><i class="fa-regular fa-floppy-disk"></i></b> để Lưu
            lại.
          </div>
        </div>
        <div class="row">
          <div class="icon"><i class="fas fa-hand-point-right"></i></div>
          <div class="line">
            Bước 3: Chọn mặt hàng vừa tạo, ở khung
            <b>Danh mục sản phẩm</b>, chọn
            <b><i class="fa-solid fa-plus"></i></b> để thêm sản phẩm của mặt
            hàng( ví dụ Bột Cacao sẽ gồm Bột Cacao A, Bột Cacao B,...) và chọn
            <b><i class="fa-regular fa-floppy-disk"></i></b> để Lưu lại.
          </div>
        </div>
        <!-- <div class="row">
          <div class="icon"><i class="fas fa-hand-point-right"></i></div>
          <div class="line">
            Bước 4: Nhấn biểu tượng
            <b><i class="fa-solid fa-floppy-disk"></i></b> để lưu lại toàn bộ
            thao tác.
          </div>
        </div> -->
      </div>
    </app-step-box>
  </div>
  <div class="section">
    <app-step-box>
      <h3 header>c. Chỉnh sửa sản phẩm</h3>
      <h3
        icon
        class="btn-image"
        (click)="
          emitShowImageEvent(
            'assets/images/create-goods-3.png',
            'Ảnh chính sửa sản phẩm'
          )
        "
      >
        <i class="fa-solid fa-image"></i> Xem ảnh
      </h3>
      <div class="modal">
        <div class="row">
          <div class="icon"><i class="fas fa-hand-point-right"></i></div>
          <div class="line">
            Bước 1: Để sửa thông tin, chọn <b>nhóm hàng</b>, chọn
            <b>mặt hàng(chủng loại)</b> rồi chọn <b>sản phẩm</b> muốn sửa, sau
            đó sửa lại thông tin sản phẩm và ấn
            <b><i class="fa-regular fa-floppy-disk"></i></b> để Lưu lại thay đổi
          </div>
        </div>
        <div class="row">
          <div class="icon"><i class="fas fa-hand-point-right"></i></div>
          <div class="line">
            Bước 2: Để xoá hàng hoá, chọn <b>nhóm hàng</b>, chọn
            <b>mặt hàng(chủng loại)</b> rồi chọn <b>sản phẩm</b> muốn xoá, sau
            đó ấn biểu tượng <b><i class="fa-solid fa-trash"></i></b> để hoàn
            tất.
          </div>
        </div>

        <div class="note">
          <p>
            (<b>Lưu ý:</b> Ấn vào biểu tượng
            <b><i class="fa-solid fa-magnifying-glass"></i></b> để tìm kiếm
            nhanh theo tên sản phẩm.)
          </p>
        </div>
      </div>
    </app-step-box>
  </div>
  <div class="section">
    <app-step-box>
      <h3 header>e. Các thao tác khác</h3>
      <div class="modal">
        <div class="row">
          <div class="icon"><i class="fa-solid fa-hand-point-right"></i></div>
          <div class="line">
            Chọn biểu tượng
            <strong><i class="fa-solid fa-arrow-left"></i></strong> để trở về
            hành động trước đó.
          </div>
        </div>
        <div class="row">
          <div class="icon"><i class="fa-solid fa-hand-point-right"></i></div>
          <div class="line">
            Chọn biểu tượng
            <strong><i class="fa-solid fa-arrow-right"></i></strong> để hoàn tác
            hành động trở về.
          </div>
        </div>
        <div class="row">
          <div class="icon"><i class="fa-solid fa-hand-point-right"></i></div>
          <div class="line">
            Chọn biểu tượng
            <strong><i class="fa-solid fa-sparkles"></i></strong> để tạo nhanh
            bằng AI.
          </div>
        </div>
      </div>
    </app-step-box>
  </div>
</div>
