<desc>
  Báo cáo tài chính về doanh thu, chi phí, công nợ và các khoản thu chi khác.
</desc>

<how name="Video hướng dẫn" [expanded]="true" class="video">
<iframe width="100%" height="auto" src="https://www.youtube.com/embed/jUTDCAwbZO4?si=qnp97D74V6Wm9Rmp"  title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
</how>

<how name="Mô tả chức năng" [expanded]="true" [showIndex]="false">
  <step>Nút <b><i class="fa-regular fa-calendar"></i></b>: Chọn thời gian xem.</step>
  <step>Nút <b><i class="fa-regular fa-file-xmark"></i></b>: Xuất báo cáo dưới dạng excel.</step>
  <step>Nút <b><i class="fa-regular fa-filter"></i></b>: Lọc dữ liệu theo phương thức thanh toán.</step>
  <step>Nút <b><i class="fa-regular fa-chart-pie"></i></b>: Chọn loại báo cáo tài chính.</step>
</how>

<how name="Xem báo cáo tài chính">
  <step>
    Chọn  <b><i class="fa-regular fa-calendar"></i></b>
    , chọn ngày bắt đầu và ngày kết thúc để xem báo cáo trong khoảng thời gian đó
  </step>

  <step>
    Xem các thông tin chính:
    <table border="1" cellspacing="0" cellpadding="5">
      <thead>
        <tr>
          <th> Đầu mục</th>
          <th> Ý nghĩa</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Doanh thu</td>
          <td>Tổng tiền thu được từ bán hàng và các phiếu thu</td>
        </tr>
        <tr>
          <td>Chi phí & Công nợ trong kỳ</td>
          <td>Tổng tiền đã chi và các khoản nợ như lương, tiền hàng chưa thanh toán</td>
        </tr>
        <tr>
          <td>Còn lại</td>
          <td>Số tiền còn lại sau khi lấy Doanh thu trừ Chi phí & Công nợ</td>
        </tr>
      </tbody>
    </table>
  </step>

  <step>
    Lọc theo hình thức thanh toán: nhấn vào  <b><i class="fa-regular fa-filter"></i></b>
    để chọn cách thanh toán mà bạn muốn xem (tiền mặt, VietQR, chuyển khoản, v.v.).
  </step>

  <step>
    Chọn kiểu báo cáo tài chính bằng cách ấn vào  <b><i class="fa-light fa-chart-pie"></i></b>, gồm:
    <ul>
      <li>-<b>Thu chi theo ngày</b>: Xem thu và chi từng ngày</li>
      <li>-<b>Thu chi theo đối tác</b>: Xem thu và chi theo đối tác</li>
      <li>-<b>Thu chi theo chốt ca</b>: Xem thu và chi theo từng ca làm việc trong ngày</li>
      <li>-<b>Thu chi theo hạng mục</b>: Xem thu và chi theo từng loại hoạt động (bán hàng, dịch vụ…)</li>
      <li>-<b>Công nợ</b>: Xem các khoản chưa thanh toán</li>
    </ul>

    <step>
      Ý nghĩa các từ khoá:
      <ul>
        <li>-<b>Phát sinh</b>: khoản chi/công nợ phát sinh ngoài kế hoạch</li>
        <li>-<b>Định kỳ</b>: khoản chi/công nợ phải trả đều đặn (như tiền thuê, lương…)</li>
        <li>-<b>Tồn đọng</b>: Nợ từ kỳ trước chưa trả</li>
        <li>-<b>Đã trả</b>: Khoản nợ đã thanh toán</li>
      </ul>
    </step>
  </step>

  <step>
    Xuất báo cáo ra file Excel: nhấn vào  <b><i class="fa-regular fa-file-xmark"></i></b> để tải báo cáo về máy dưới dạng bảng tính.
  </step>
</how>

<app-general-instructions></app-general-instructions>

