<div class="guide-container">
  <h2>6. Thêm phụ phí hoặc giảm giá</h2>
  <p>
    <strong>Mô tả:</strong>Hướng dẫn nhân viên hoặc quản lý áp dụng các khoản
    phụ phí hoặc giảm giá cho món ăn, bàn hoặc hóa đơn tổng.
  </p>

  <div class="section">
    <app-step-box>
      <h3 header>VIDEO HƯỚNG DẪN</h3>
      <h3 icon class="btn-image"><i class="fa-solid fa-image"></i> Xem clip</h3>
      <div class="modal video">
        <iframe
          src="https://www.youtube.com/embed/Tfuq4hGOFxw?si=qyWQSCZrovmHBboI"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          referrerpolicy="strict-origin-when-cross-origin"
          allowfullscreen
        ></iframe>
      </div>
    </app-step-box>
  </div>

  <div class="section">
    <app-step-box>
      <h3 header>a. Chọn bàn và bắt đầu</h3>
      <h3
        icon
        class="btn-image"
        (click)="
          emitShowImageEvent(
            'assets/images/voucher-1.png',
            'Ảnh chọn bàn và các thao tác'
          )
        "
      >
        <i class="fa-solid fa-image"></i> Xem ảnh
      </h3>
      <div class="modal">
        <div class="row">
          <div class="icon"><i class="fas fa-hand-point-right"></i></div>
          <div class="line">
            Bước 1: Chọn bàn cần thao tác trên giao diện phần mềm.
          </div>
        </div>
        <div class="row">
          <div class="icon"><i class="fas fa-hand-point-right"></i></div>
          <div class="line">
            Bước 2: Nhấn vào mục
            <b><i class="fa-solid fa-plus-minus"></i>Khuyến mãi</b>,
            <b>Phụ thu</b> cho món hoặc bàn.
          </div>
        </div>
      </div>
    </app-step-box>
  </div>

  <div class="section">
    <app-step-box>
      <h3 header>b. Nhập thông tin và lưu</h3>
      <h3
        icon
        class="btn-image"
        (click)="
          emitShowImageEvent(
            'assets/images/voucher-1.png',
            'Ảnh chọn bàn và các thao tác'
          )
        "
      >
        <i class="fa-solid fa-image"></i> Xem ảnh
      </h3>
      <div class="modal">
        <div class="row">
          <div class="icon"><i class="fas fa-hand-point-right"></i></div>
          <div class="line">
            Bước 3: Nhập thông tin cần thêm, ví dụ: phí phục vụ, giảm giá món
            hoặc giảm tổng hóa đơn,... và nhấn
            <b><i class="fa-regular fa-floppy-disk"></i></b> để thêm.
          </div>
        </div>
        <div class="row">
          <div class="icon"><i class="fas fa-hand-point-right"></i></div>
          <div class="line">
            Bước 4: Nhấn biểu tượng
            <b><i class="fa-regular fa-floppy-disk"></i></b> để hoàn tất thao
            tác.
          </div>
        </div>
        <div class="row">
          <div class="icon"><i class="fas fa-hand-point-right"></i></div>
          <div class="line">
            Bước 5: Để xoá khuyến mãi/phụ thu, nhấn biểu tượng
            <b><i class="fa-solid fa-xmark"></i></b> ở khuyến mãi/phụ thu đó.
          </div>
        </div>
      </div>
    </app-step-box>
  </div>
</div>
