<desc>Kiểm kê hàng hoá tại cửa hàng để quản lý hàng hoá hiệu quả, tránh thất thoát.</desc>

<how name="Mô tả chức năng" [expanded]="true" [showIndex]="false">
  <step>Nút <b><i class="fa-solid fa-plus"></i></b>: Thêm mới phiếu hoặc truy cập phiếu hiện có.</step>
  <step>Nút <b><i class="fa-solid fa-magnifying-glass"></i></b>: Tìm kiếm đơn.</step>
  <step>Nút <b><i class="fa-regular fa-calendar"></i></b>: Chọn thời gian kiểm.</step>
  <step>Biểu tượng <b><i class="fa-regular fa-chevron-right"></i></b>: Danh sách chi tiết đang đóng.</step>
  <step>Biểu tượng <b><i class="fa-regular fa-chevron-down"></i></b>: Danh sách chi tiết đang mở.</step>
</how>

<how name="Tạo phiếu kiểm hàng">
  <step>Chọn  <b><i class="fa-regular fa-calendar"></i></b> để chọn thời gian kiểm theo ngày, tuần hoặc tháng.</step>
  <step>Chọn  <b><i class="fa-solid fa-plus"></i></b> để bắt đầu kiểm hàng.</step>
</how>

<how name="Các thao tác khác">
  <step>Chọn  <b><i class="fa-solid fa-plus"></i></b> để truy cập phiếu kiểm hiện tại nếu có.</step>
  <step>Chọn  <b><i class="fa-solid fa-search"></i></b> để tìm kiếm trong danh sách phiếu kiểm.</step>
  <step>Chọn  <b>mặt hàng</b> để xem chi tiết kiểm kê.</step>
</how>

<how name="Giải thích các thuật ngữ">
  <step><b>Tồn đầu:</b> Số lượng hàng hoá còn lại trong kho/cửa hàng tại thời điểm bắt đầu kỳ kiểm kê. Đây là số liệu được chuyển từ cuối kỳ kiểm kê trước.</step>
  <step><b>Nhập hàng:</b> Số lượng hàng hoá mà cửa hàng nhận thêm trong kỳ kiểm kê (từ nhà cung cấp, kho tổng).</step>
  <step><b>Xuất hàng:</b> Số lượng hàng hoá xuất ra trong kỳ (trả hàng, chuyển đi cửa hàng khác, xuất cho mục đích khác).</step>
  <step><b>Sử dụng:</b> Số lượng hàng hoá được sử dụng cho mục đích chế biến món theo công thức.</step>
  <step><b>Huỷ hàng:</b> Số lượng hàng bị loại bỏ do hư hỏng, hết hạn, hoặc không còn sử dụng được.</step>
  <step><b>Ước tính còn:</b> Số lượng hàng hoá còn lại theo tính toán của hệ thống vào cuối kỳ.</step>
  <step><b>Kiểm thực tế:</b> Số lượng hàng hoá được nhân viên kiểm kê thực tế tại cửa hàng.</step>
  <step><b>Chênh lệch:</b> Sự khác biệt giữa số lượng ước tính và thực tế.</step>
  <step> <b>Công thức tính toán:</b>
    <ul>
      <li>
        a. Ước tính còn = Tồn đầu + Nhập hàng - Xuất hàng - Huỷ hàng - Sử dụng
      </li>
      <li>
        b. Chênh lệch = Kiểm thực tế - Ước tính còn
      </li>
    </ul>
  </step>
</how>

<app-general-instructions></app-general-instructions>
