<desc>Kiểm kê hàng hoá tại cửa hàng để quản lý hàng hoá hiệu quả, tránh thất thoát.</desc>

<how name="Thao tác kiểm kê hàng hoá">
  <step>Nhấn vào biểu tượng <b><i class="fa-regular fa-calendar"></i></b> để chọn thời gian kiểm theo ngày, tuần hoặc tháng.</step>
  <step>Nhấn vào biểu tượng <b><i class="fa-solid fa-plus"></i></b> để bắt đầu kiểm hàng.</step>
  <step>Chọn các mặt hàng cần kiểm từ <b>Danh sách hàng hoá</b>.</step>
  <step>Điền <b>số lượng hàng hoá hiện có tại cửa hàng</b> cho từng mặt hàng.</step>
  <step>Nhấn <b><i class="fa-regular fa-floppy-disk"></i></b> để lưu phiếu kiểm.</step>
  <step>Để xóa một mặt hàng khỏi đơn kiểm, chọn biểu tượng <b><i class="fa-solid fa-trash"></i></b> bên cạnh mặt hàng đó.</step>
</how>

<how name="Quản lý phiếu kiểm">
  <step>Để sửa phiếu kiểm: Chọn biểu tượng <b><i class="fa-solid fa-plus"></i></b>, chỉnh sửa thông tin và nhấn <b><i class="fa-regular fa-floppy-disk"></i></b>.</step>
  <step>Để xóa phiếu kiểm: Chọn biểu tượng <b><i class="fa-solid fa-plus"></i></b>, sau đó chọn <b><i class="fa-solid fa-trash"></i></b> ở góc trên bên phải.</step>
  <step>Để xác nhận phiếu kiểm: Chọn biểu tượng <b><i class="fa-solid fa-plus"></i></b>, sau đó chọn <b><i class="fa-solid fa-check"></i></b>.</step>
  <step>Các phiếu kiểm sau khi xác nhận sẽ không thể sửa lại hay xoá được.</step>
</how>

<how name="Tìm kiếm">
  <step>Chọn biểu tượng <b><i class="fa-solid fa-search"></i></b> để tìm kiếm trong danh sách phiếu kiểm.</step>
</how>

<how name="Giải thích các thuật ngữ">
  <step><b>Tồn đầu:</b> Số lượng hàng hoá còn lại trong kho/cửa hàng tại thời điểm bắt đầu kỳ kiểm kê. Đây là số liệu được chuyển từ cuối kỳ kiểm kê trước.</step>
  <step><b>Nhập hàng:</b> Số lượng hàng hoá mà cửa hàng nhận thêm trong kỳ kiểm kê (từ nhà cung cấp, kho tổng).</step>
  <step><b>Xuất hàng:</b> Số lượng hàng hoá xuất ra trong kỳ (trả hàng, chuyển đi cửa hàng khác, xuất cho mục đích khác).</step>
  <step><b>Sử dụng:</b> Số lượng hàng hoá được sử dụng cho mục đích chế biến món theo công thức.</step>
  <step><b>Huỷ hàng:</b> Số lượng hàng bị loại bỏ do hư hỏng, hết hạn, hoặc không còn sử dụng được.</step>
  <step><b>Ước tính còn:</b> Số lượng hàng hoá còn lại theo tính toán của hệ thống vào cuối kỳ.</step>
  <step><b>Kiểm thực tế:</b> Số lượng hàng hoá được nhân viên kiểm kê thực tế tại cửa hàng.</step>
  <step><b>Chênh lệch:</b> Sự khác biệt giữa số lượng ước tính và thực tế.</step>
  <step> <b>Công thức tính toán:</b>
    <ul>
      <li>
        a. Ước tính còn = Tồn đầu + Nhập hàng - Xuất hàng - Huỷ hàng - Sử dụng
      </li>
      <li>
        b. Chênh lệch = Kiểm thực tế - Ước tính còn
      </li>
    </ul>
  </step>
</how>

<app-general-instructions></app-general-instructions>
