<desc>Thiết lập danh sách hàng hóa để quản lý kinh doanh hiệu quả</desc>

<how name="Video hướng dẫn" [expanded]="true" class="video" *ngIf="!isMobile">
  <iframe width="100%" height="auto" src="https://www.youtube.com/embed/HZAqUwLwqC0?si=Ih3esvbrcYbhnTXG" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
</how>

<how name="Video hướng dẫn" [expanded]="true" class="video" *ngIf="isMobile">
  <iframe width="100%" height="auto" src="https://www.youtube.com/embed/dTMA9JjdqZs?si=fZqrX0HE8qcmVFgj" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
</how>

<how name="Mô tả chức năng" [expanded]="true" [showIndex]="false">
  <step>Nút <b><i class="fa-solid fa-plus"></i></b>: Tạo mới hàng hoá.</step>
  <step>Nút <b><i class="fa-solid fa-magnifying-glass"></i></b>: Tìm kiếm hàng hoá.</step>
  <step>Nút <b><i class="fa-regular fa-floppy-disk"></i></b>: Lưu lại thông tin.</step>
  <step>Nút <b><i class="fa-regular fa-gear"></i></b>: Chỉnh sửa, xoá nhóm.</step>
  <step>Nút <b><i class="fa-solid fa-trash"></i></b>: Xoá hàng hoá.</step>
  <step>Biểu tượng <b><i class="fa-regular fa-chevron-right"></i></b>: Danh sách hàng hoá đang đóng.</step>
  <step>Biểu tượng <b><i class="fa-regular fa-chevron-down"></i></b>: Danh sách hàng hoá đang mở.</step>
</how>

<how name="Tạo mới hàng hoá">
  <step>Nhấn nút <b><i class="fa-solid fa-plus"></i></b> để thêm mới một hàng hoá.</step>
  <step>Nhập các thông tin về mặt hàng đó.</step>
  <step>Nhấn <b><i class="fa-regular fa-floppy-disk"></i></b> để Lưu lại.</step>
</how>

<how name="Chỉnh sửa hàng hoá">
  <step>Để sửa thông tin, chọn hàng hoá muốn sửa trong danh sách.</step>
  <step>Cập nhật lại thông tin hàng hoá.</step>
  <step>Nhấn <b><i class="fa-regular fa-floppy-disk"></i></b> để Lưu lại.</step>
</how>

<how name="Các thao tác khác">
  <step>Chọn  <b><i class="fa-solid fa-search"></i></b> để tìm kiếm hàng hoá theo tên.</step>
</how>

<app-general-instructions></app-general-instructions>
