<div class="guide-container">
  <div class="section in-app">
    <p>
      <strong>Mô tả:</strong> Thiết lập các khu vực (như Tầng 1, Sân vườn,...)
      và thêm bàn để quản lý không gian phục vụ hiệu quả hơn.
    </p>
  </div>

  <div class="section in-app">
    <app-step-box>
      <h3 header>Tạo khu vực</h3>
      <i icon class="fa-solid fa-eye"></i>
      <div class="modal">
        <div class="row">
          <div class="icon"><i class="fas fa-hand-point-right"></i></div>
          <div class="line">
            <b>Bước 1:</b> Chọn biểu tượng
            <b><i class="fa-regular fa-plus"></i></b> để <b>thêm khu vực</b>,
            nhập tên khu vực (ví dụ: <i>Tầng 1, Sân vườn...</i>).
          </div>
        </div>
        <div class="row">
          <div class="icon"><i class="fas fa-hand-point-right"></i></div>
          <div class="line">
            <b>Bước 2:</b> Nhấn <b>Cập nhật</b> để lưu khu vực.
          </div>
        </div>
      </div>
    </app-step-box>
  </div>

  <div class="section in-app">
    <app-step-box>
      <h3 header>Tạo bàn</h3>
      <i icon class="fa-solid fa-eye"></i>
      <div class="modal">
        <div class="row">
          <div class="icon"><i class="fas fa-hand-point-right"></i></div>
          <div class="line">
            <b>Bước 1:</b> Chọn khu vực vừa tạo, chọn biểu tượng
            <b><i class="fa-regular fa-plus"></i></b> và chọn
            <b>Tạo bàn mới</b> và nhập thông tin (Có thể tạo 1 bàn hoặc nhiều
            bàn cùng lúc).
          </div>
        </div>
        <div class="row">
          <div class="icon"><i class="fas fa-hand-point-right"></i></div>
          <div class="line">
            <b>Bước 2:</b> Nhấn <b>Cập nhật</b> để lưu bàn.
          </div>
        </div>
        <div class="row">
          <div class="icon"><i class="fa-solid fa-hand-point-right"></i></div>
          <div class="line">
            <b>Bước 3:</b> Nhấn biểu tượng
            <strong><i class="fa-solid fa-floppy-disk"></i></strong> để hoàn
            tất.
          </div>
        </div>
      </div>
    </app-step-box>
  </div>

  <div class="section in-app">
    <app-step-box>
      <h3 header>Chỉnh sửa khu vực/bàn</h3>
      <i icon class="fa-solid fa-eye"></i>
      <div class="modal">
        <div class="row">
          <div class="icon"><i class="fas fa-hand-point-right"></i></div>
          <div class="line">
            <b>Bước 1:</b> Để sửa khu vực/bàn, chọn biểu tượng
            <b><i class="fa-regular fa-pen"></i></b> của khu vực/bàn đó, sau đó
            sửa thông tin và ấn <b>Cập nhật</b>.
          </div>
        </div>
        <div class="row">
          <div class="icon"><i class="fas fa-hand-point-right"></i></div>
          <div class="line">
            <b>Bước 2:</b> Để xoá khu vực, chọn biểu tượng
            <b><i class="fa-solid fa-trash"></i></b> của khu vực đó.
          </div>
        </div>
        <div class="row">
          <div class="icon"><i class="fas fa-hand-point-right"></i></div>
          <div class="line">
            <b>Bước 3:</b> Để xoá bàn, chọn biểu tượng
            <b><i class="fa-solid fa-xmark"></i></b> của bàn đó.
          </div>
        </div>
        <div class="row">
          <div class="icon"><i class="fa-solid fa-hand-point-right"></i></div>
          <div class="line">
            <b>Bước 4:</b> Nhấn biểu tượng
            <strong><i class="fa-solid fa-floppy-disk"></i></strong> để hoàn
            tất.
          </div>
        </div>
      </div>
    </app-step-box>
  </div>
  <div class="section in-app">
    <app-step-box>
      <h3 header>Các thao tác khác</h3>
      <i icon class="fa-solid fa-eye"></i>
      <div class="modal">
        <div class="row">
          <div class="icon"><i class="fa-solid fa-hand-point-right"></i></div>
          <div class="line">
            Chọn biểu tượng
            <strong><i class="fa-solid fa-arrow-left"></i></strong> để trở về
            hành động trước đó.
          </div>
        </div>
        <div class="row">
          <div class="icon"><i class="fa-solid fa-hand-point-right"></i></div>
          <div class="line">
            Chọn biểu tượng
            <strong><i class="fa-solid fa-arrow-right"></i></strong> để hoàn tác
            hành động trở về.
          </div>
        </div>
        <div class="row">
          <div class="icon"><i class="fa-solid fa-hand-point-right"></i></div>
          <div class="line">
            Chọn biểu tượng
            <strong><i class="fa-solid fa-sparkles"></i></strong> để hỏi AI.
          </div>
        </div>
      </div>
    </app-step-box>
  </div>
  <app-general-instructions></app-general-instructions>
</div>
