<desc>Thiết lập các khu vực (như Tầng 1, Sân vườn,...) và thêm bàn để quản lý không gian phục vụ hiệu quả hơn.</desc>

<how name="Tạo khu vực">
  <step>Chọn biểu tượng <b><i class="fa-regular fa-plus"></i></b> để <b>thêm khu vực</b>, nhập tên khu vực (ví dụ: <i>Tầng 1, Sân vườn...</i>).</step>
  <step>Nhấn <b><i class="fa-regular fa-floppy-disk"></i></b> để lưu khu vực.</step>
</how>

<how name="Tạo bàn">
  <step>Chọn khu vực vừa tạo, chọn biểu tượng <b><i class="fa-regular fa-plus"></i></b> và chọn <b>Tạo bàn mới</b> và nhập thông tin (Có thể tạo 1 bàn hoặc nhiều bàn cùng lúc).</step>
  <step>Nhấn <b><i class="fa-regular fa-floppy-disk"></i></b> để lưu bàn.</step>
  <step>Nhấn biểu tượng <b><i class="fa-solid fa-floppy-disk"></i></b> để hoàn tất.</step>
</how>

<how name="Chỉnh sửa khu vực/bàn">
  <step>Để sửa khu vực/bàn: chọn biểu tượng <b><i class="fa-regular fa-pen"></i></b> của khu vực/bàn đó, sau đó sửa thông tin và ấn <b><i class="fa-regular fa-floppy-disk"></i></b>.</step>
  <step>Để xoá khu vực: chọn biểu tượng <b><i class="fa-solid fa-trash"></i></b> của khu vực đó.</step>
  <step>Để xoá bàn: chọn biểu tượng <b><i class="fa-solid fa-xmark"></i></b> của bàn đó.</step>
  <step>Nhấn biểu tượng <b><i class="fa-solid fa-floppy-disk"></i></b> để hoàn tất.</step>
</how>

<how name="Các thao tác khác">
  <step>Chọn biểu tượng <b><i class="fa-solid fa-arrow-left"></i></b> để trở về hành động trước đó.</step>
  <step>Chọn biểu tượng <b><i class="fa-solid fa-arrow-right"></i></b> để hoàn tác hành động trở về.</step>
  <step>Chọn biểu tượng <b><i class="fa-solid fa-sparkles"></i></b> để hỏi AI.</step>
</how>

<app-general-instructions></app-general-instructions>
