<desc>Thiết lập các khu vực và thêm bàn để quản lý không gian phục vụ hiệu quả hơn.</desc>

<how name="Mô tả chức năng" [expanded]="true" [showIndex]="false">

  <step>Nút <b><i class="fa-regular fa-magnifying-glass"></i></b>: Tìm kếm khu vực, bàn</step>
  <step>Nút <b><i class="fa-solid fa-plus"></i></b>: Thêm mới khu vực, bàn</step>
  <step>Nút <b><i class="fa-solid fa-floppy-disk"></i></b>: Lưu khu vực, bàn</step>
  <step>Nút <b><i class="fa-regular fa-pen"></i></b>: Chỉnh sửa khu vực, bàn</step>
  <step>Nút <b><i class="fa-solid fa-trash"></i></b>: Xoá khu vực</step>
  <step>Nút <b><i class="fa-solid fa-xmark"></i></b>: Xoá bàn</step>
  <step>Nút <b><i class="fa-solid fa-sparkles"></i></b>: Tương tác với AI</step>
  <step>Nút <b><i class="fa-solid fa-arrow-left"></i></b>: Hoàn tác</step>
  <step>Nút <b><i class="fa-solid fa-arrow-right"></i></b>: Làm lại</step>
  <step>Biểu tượng <b><i class="fa-regular fa-chevron-right"></i></b>: Danh sách chi tiết đang đóng.</step>
  <step>Biểu tượng <b><i class="fa-regular fa-chevron-down"></i></b>: Danh sách chi tiết đang mở.</step>

</how>

<how name="Tạo khu vực">
  <step>Chọn  <b><i class="fa-regular fa-plus"></i></b> để <b>thêm khu vực</b>, nhập tên khu vực (ví dụ: <i>Tầng 1, Sân vườn...</i>).</step>
  <step>Nhấn <b><i class="fa-regular fa-check"></i></b> để thêm khu vực.</step>
  <step>Nhấn <b><i class="fa-solid fa-floppy-disk"></i></b> để lưu khu vực.</step>
</how>

<how name="Tạo bàn">
  <step>Chọn khu vực vừa tạo, chọn  <b><i class="fa-regular fa-plus"></i></b> và chọn <b>Tạo bàn mới</b> và nhập thông tin (Có thể tạo 1 bàn hoặc nhiều bàn cùng lúc).</step>
  <step>Nhấn <b><i class="fa-regular fa-check"></i></b> để thêm bàn.</step>
  <step>Nhấn  <b><i class="fa-solid fa-floppy-disk"></i></b> để lưu bàn.</step>
</how>

<how name="Chỉnh sửa khu vực/bàn">
  <step>Để sửa khu vực/bàn: chọn  <b><i class="fa-regular fa-pen"></i></b> của khu vực/bàn đó, sau đó sửa thông tin và ấn <b><i class="fa-regular fa-check"></i></b>.</step>
  <step>Để xoá khu vực: chọn  <b><i class="fa-solid fa-trash"></i></b> của khu vực đó.</step>
  <step>Để xoá bàn: chọn  <b><i class="fa-solid fa-xmark"></i></b> của bàn đó.</step>
  <step>Nhấn  <b><i class="fa-solid fa-floppy-disk"></i></b> để hoàn tất.</step>
</how>

<app-general-instructions></app-general-instructions>
