<desc>Thiết lập thêm các đầu mục thu cho cửa hàng.</desc>

<how name="Tạo nguồn thu">
  <step>Nhấn nút <b><i class="fa-solid fa-plus"></i></b> để thêm mới.</step>
  <step>Nhập thông tin nguồn thu.</step>
  <step>Nhấn <b><i class="fa-regular fa-check"></i></b>, sau đó nhấn <b><i class="fa-solid fa-floppy-disk"></i></b> để hoàn tất thao tác.</step>
</how>

<how name="Chỉnh sửa nguồn thu">
  <step>Nhấn <b>tên nguồn thu</b> để chỉnh sửa thông tin.</step>
  <step>Thực hiện chỉnh sửa thông tin cần thiết.</step>
  <step>Nhấn <b><i class="fa-regular fa-check"></i></b>, sau đó nhấn <b><i class="fa-solid fa-floppy-disk"></i></b> để hoàn tất thao tác.</step>
</how>

<how name="Xóa nguồn thu">
  <step>Chọn nguồn thu cần xóa.</step>
  <step>Nhấn  <b><i class="fa-solid fa-trash"></i></b> để xóa.</step>
  <step>Nhấn <b><i class="fa-solid fa-floppy-disk"></i></b> để hoàn tất thao tác.</step>
</how>

<how name="Các thao tác khác">
  <step>Chọn  <b><i class="fa-solid fa-arrow-left"></i></b> để trở về hành động trước đó.</step>
  <step>Chọn  <b><i class="fa-solid fa-arrow-right"></i></b> để hoàn tác hành động trở về.</step>
</how>

<app-general-instructions></app-general-instructions>
