<div class="guide-container">
  <div class="section in-app">
    <p><strong>Mô tả:</strong> Khởi tạo thêm các đầu mục thu cho cửa hàng.</p>
  </div>

  <div class="section in-app">
    <app-step-box>
      <h3 header>Tạo nguồn thu</h3>
      <i icon class="fa-solid fa-eye"></i>

      <div class="row">
        <div class="icon"><i class="fas fa-hand-point-right"></i></div>
        <div class="line">
          <b>Bước 1:</b> Nhấn nút <b><i class="fa-solid fa-plus"></i></b> để
          thêm mới.
        </div>
      </div>
      <div class="row">
        <div class="icon"><i class="fas fa-hand-point-right"></i></div>
        <div class="line">
          <b>Bước 2:</b> Nhập thông tin nguồn thu (<i>tên khoản thu, mô tả…</i
          >).
        </div>
      </div>

      <div class="row">
        <div class="icon"><i class="fas fa-hand-point-right"></i></div>
        <div class="line">
          <b>Bước 3:</b> Nhấn <b>Cập nhật</b>, sau đó nhấn
          <b><i class="fa-solid fa-floppy-disk"></i></b> để hoàn tất thao tác.
        </div>
      </div>
    </app-step-box>
  </div>

  <div class="section in-app">
    <app-step-box>
      <h3 header>Chỉnh sửa nguồn thu</h3>
      <i icon class="fa-solid fa-eye"></i>
      <div class="modal">
        <div class="row">
          <div class="icon"><i class="fas fa-hand-point-right"></i></div>
          <div class="line">
            <b>Bước 1:</b> Nhấn <b>tên nguồn thu</b>
            để chỉnh sửa thông tin nguồn thu.
          </div>
        </div>
        <div class="row">
          <div class="icon"><i class="fas fa-hand-point-right"></i></div>
          <div class="line">
            <b>Bước 2:</b> Nhấn biểu tượng
            <strong><i class="fa-solid fa-trash"></i></strong> để xoá nguồn thu.
          </div>
        </div>
        <div class="row">
          <div class="icon"><i class="fas fa-hand-point-right"></i></div>
          <div class="line">
            <b>Bước 3:</b> Nhấn <b>Cập nhật</b>, sau đó nhấn
            <b><i class="fa-solid fa-floppy-disk"></i></b> để hoàn tất thao tác.
          </div>
        </div>
      </div>
    </app-step-box>
  </div>
  <div class="section in-app">
    <app-step-box>
      <h3 header>Các thao tác khác</h3>
      <i icon class="fa-solid fa-eye"></i>
      <div class="modal">
        <div class="row">
          <div class="icon"><i class="fa-solid fa-hand-point-right"></i></div>
          <div class="line">
            Chọn biểu tượng
            <strong><i class="fa-solid fa-arrow-left"></i></strong> để trở về
            hành động trước đó.
          </div>
        </div>
        <div class="row">
          <div class="icon"><i class="fa-solid fa-hand-point-right"></i></div>
          <div class="line">
            Chọn biểu tượng
            <strong><i class="fa-solid fa-arrow-right"></i></strong> để hoàn tác
            hành động trở về.
          </div>
        </div>
      </div>
    </app-step-box>
  </div>

  <app-general-instructions></app-general-instructions>
</div>
