<desc>Thiết lập thêm các đầu mục thu cho cửa hàng.</desc>

<how name="Video hướng dẫn" [expanded]="true" class="video">
<iframe width="100%" height="auto" src="https://www.youtube.com/embed/r5uvVzg94E0?si=fgx8EcvUMDpbJYt1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
</how>

<how name="Mô tả chức năng" [expanded]="true" [showIndex]="false">

  <step>Nút <b><i class="fa-regular fa-magnifying-glass"></i></b>: Tìm kếm nguồn thu</step>
  <step>Nút <b><i class="fa-solid fa-plus"></i></b>: Thêm mới nguồn thu</step>
  <step>Nút <b><i class="fa-solid fa-floppy-disk"></i></b>: Lưu lại các thao tác</step>
  <step>Nút <b><i class="fa-solid fa-trash"></i></b>: Xoá nguồn thu</step>
  <step>Nút <b><i class="fa-solid fa-arrow-left"></i></b>: Hoàn tác</step>
  <step>Nút <b><i class="fa-solid fa-arrow-right"></i></b>: Làm lại</step>

</how>

<how name="Tạo nguồn thu">
  <step>Nhấn nút <b><i class="fa-solid fa-plus"></i></b> để thêm mới.</step>
  <step>Nhập thông tin nguồn thu.</step>
  <step>Nhấn <b><i class="fa-regular fa-floppy-disk"></i></b>, sau đó nhấn <b><i class="fa-solid fa-floppy-disk"></i></b> để hoàn tất thao tác.</step>
</how>

<how name="Chỉnh sửa nguồn thu">
  <step>Nhấn <b>tên nguồn thu</b> để chỉnh sửa thông tin.</step>
  <step>Thực hiện chỉnh sửa thông tin cần thiết.</step>
  <step>Nhấn <b><i class="fa-regular fa-floppy-disk"></i></b>, sau đó nhấn <b><i class="fa-solid fa-floppy-disk"></i></b> để hoàn tất thao tác.</step>
</how>

<how name="Xóa nguồn thu">
  <step>Chọn nguồn thu cần xóa.</step>
  <step>Nhấn  <b><i class="fa-solid fa-trash"></i></b> để xóa.</step>
  <step>Nhấn <b><i class="fa-solid fa-floppy-disk"></i></b> để hoàn tất thao tác.</step>
</how>

<app-general-instructions></app-general-instructions>
