<desc>Theo dõi và xử lý công nợ, đặt cọc của cửa hàng trong quá trình vận hành.</desc>

<how name="Video hướng dẫn" [expanded]="true" class="video" *ngIf="!isMobile">
<iframe width="100%" height="auto" src="https://www.youtube.com/embed/TS9NPBHF_Tc?si=EyeoY4G3DVmQazrc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
</how>

<how name="Video hướng dẫn" [expanded]="true" class="video" *ngIf="isMobile">
<iframe width="100%" height="auto" src="https://www.youtube.com/embed/s0x1fuO5v3Y?si=KgAaMGqzjfDaYFvX" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
</how>


<how name="Mô tả chức năng" [expanded]="true" [showIndex]="false">
  <step>Nút <b><i class="fa-solid fa-magnifying-glass"></i></b>: Tìm kiếm đối tác.</step>
  <step>Nút <b><i class="fa-regular fa-user-tie"></i> <i class="fa-solid fa-sort"></i></b>: Sắp xếp theo đối tác.</step>
  <step>Nút <b><i class="fa-regular fa-circle-minus"></i> <i class="fa-solid fa-sort"></i></b>: Sắp xếp theo chi.</step>
  <step>Nút <b><i class="fa-regular fa-circle-plus"></i> <i class="fa-solid fa-sort"></i></b>: Sắp xếp theo thu.</step>
  <step>Nút <b><i class="fa-regular fa-sigma"></i> <i class="fa-solid fa-sort"></i></b>: Sắp xếp theo đối tác.</step>
  <step>Biểu tượng <b><i class="fa-regular fa-store"></i></b>: Thể hiện đối tượng là cửa hàng.</step>
  <step>Biểu tượng <b><i class="fa-solid fa-user-tie"></i></b>: Thể hiện đối tượng là đối tác.</step>
</how>

<how name="Xem thông tin công nợ">
  <step>Chọn <b>Công nợ</b> để xem danh sách công nợ của cửa hàng.</step>
  <step>Chọn <b>đối tác</b> và chọn  <b><i class="fa-solid fa-list"></i></b> để xem thông tin công nợ.</step>
  <step>Chọn  <b><i class="fa-regular fa-pen"></i></b> để điểu chỉnh công nợ.</step>
  <step>Chọn  <b><i class="fa-solid fa-clock-rotate-left"></i></b> để xem lịch sử công nợ.</step>
  <step>Với phiếu trả nợ/thu nợ đang chờ duyệt, bạn có thể:
    <ul>
      <li>-Chọn  <b><i class="fa-regular fa-gear"></i></b> và chọn <b>Xác nhận</b> để xác nhận</li>
      <li>-Chọn  <b><i class="fa-regular fa-gear"></i></b> và chọn <b>Khoá phiếu</b> để khóa</li>
      <li>-Chọn  <b><i class="fa-regular fa-gear"></i></b> và chọn <b>Xoá phiếu</b> để xóa</li>
    </ul>
  </step>

</how>

<how name="Xem thông tin đặt cọc">
  <step>Chọn <b>Đặt cọc</b> để xem chi tiết các khoản cọc của cửa hàng.</step>
  <step>Chọn <b>đối tác</b> và chọn  <b><i class="fa-solid fa-list"></i></b> để xem thông tin đặt cọc.</step>
  <step>Chọn  <b><i class="fa-regular fa-pen"></i></b> để điều chỉnh tiền cọc.</step>
  <step>Chọn  <b><i class="fa-solid fa-clock-rotate-left"></i></b> để xem lịch sử đặt cọc.</step>
  <step>Với phiếu hoàn tiền cọc/trừ tiền cọc đang chờ duyệt, bạn có thể:
    <ul>
      <li>-Chọn  <b><i class="fa-regular fa-gear"></i></b> và chọn <b>Xác nhận</b> để xác nhận</li>
      <li>-Chọn  <b><i class="fa-regular fa-gear"></i></b> và chọn <b>Khoá phiếu</b> để khóa</li>
      <li>-Chọn  <b><i class="fa-regular fa-gear"></i></b> và chọn <b>Xoá phiếu</b> để xóa</li>
    </ul>
  </step>
</how>

<app-general-instructions></app-general-instructions>
