<desc>Theo dõi và xử lý công nợ, đặt cọc của cửa hàng trong quá trình vận hành.</desc>

<how name="Xem thông tin công nợ">
  <step>Chọn <b>Công nợ</b> để xem danh sách công nợ của cửa hàng.</step>
  <step>Chọn <b>đối tác</b> và chọn biểu tượng <b><i class="fa-solid fa-list"></i></b> để xem thông tin công nợ.</step>
  <step>Chọn biểu tượng <b><i class="fa-regular fa-pen"></i></b> để điểu chỉnh công nợ.</step>
  <step>Chọn biểu tượng <b><i class="fa-solid fa-clock-rotate-left"></i></b> để xem lịch sử công nợ.</step>
  <step>Với phiếu trả nợ/thu nợ đang chờ duyệt, bạn có thể:
    - Chọn biểu tượng <b><i class="fa-regular fa-gear"></i></b> và chọn <b>Xác nhận</b> để duyệt phiếu
    - Chọn biểu tượng <b><i class="fa-regular fa-gear"></i></b> và chọn <b>Khoá phiếu</b> để khóa
    - Chọn biểu tượng <b><i class="fa-regular fa-gear"></i></b> và chọn <b>Xoá phiếu</b> để xóa
  </step>

</how>

<how name="Xem thông tin đặt cọc">
  <step>Chọn <b>Đặt cọc</b> để xem chi tiết các khoản cọc của cửa hàng.</step>
  <step>Chọn <b>đối tác</b> và chọn biểu tượng <b><i class="fa-solid fa-list"></i></b>.</step>
  <step>Chọn biểu tượng <b><i class="fa-regular fa-pen"></i></b> để điều chỉnh tiền cọc.</step>
  <step>Chọn biểu tượng <b><i class="fa-solid fa-clock-rotate-left"></i></b> để xem lịch sử đặt cọc.</step>
  <step>Với phiếu hoàn tiền cọc/trừ tiền cọc đang chờ duyệt, bạn có thể:
    - Chọn biểu tượng <b><i class="fa-regular fa-gear"></i></b> và chọn <b>Xác nhận</b> để duyệt phiếu
    - Chọn biểu tượng <b><i class="fa-regular fa-gear"></i></b> và chọn <b>Khoá phiếu</b> để khóa
    - Chọn biểu tượng <b><i class="fa-regular fa-gear"></i></b> và chọn <b>Xoá phiếu</b> để xóa
  </step>
</how>

<app-general-instructions></app-general-instructions>
