<div class="guide-container">
  <div class="section in-app">
    <p>
      <strong>Mô tả:</strong> Hướng dẫn nhân viên cách xem và xử lý các công
      phát sinh của cửa hàng trong quá trình vận hành.
    </p>
  </div>

  <div class="section in-app">
    <app-step-box>
      <h3 header>Xem thông tin công nợ</h3>
      <i icon class="fa-solid fa-eye"></i>
      <div class="modal">
        <div class="row">
          <div class="icon"><i class="fas fa-hand-point-right"></i></div>
          <div class="line">
            Bước 1: Chọn <b><i class="fa-regular fa-files"></i></b> để xem chi
            tiết công nợ của đối tác.
          </div>
        </div>
        <div class="row">
          <div class="icon"><i class="fas fa-hand-point-right"></i></div>
          <div class="line">
            Bước 2: Chọn dữ liệu ở cột <b>Đã khấu trừ</b> để xem lịch sử khấu
            trừ nếu có.
          </div>
        </div>
        <div class="row">
          <div class="icon"><i class="fas fa-hand-point-right"></i></div>
          <div class="line">
            Bước 3: Chọn biểu tượng <b><i class="fa-regular fa-gear"></i></b> ở
            mỗi công nợ để xử lý đặt cọc(thêm khấu trừ công nợ nếu có đặt cọc
            trước đó).
          </div>
        </div>
      </div>
    </app-step-box>
  </div>

  <div class="section in-app">
    <app-step-box>
      <h3 header>Xử lý đặt cọc</h3>
      <i icon class="fa-solid fa-eye"></i>
      <div class="modal">
        <div class="row">
          <div class="icon"><i class="fas fa-hand-point-right"></i></div>
          <div class="line">
            Bước 1: Chọn <b><i class="fa-regular fa-gear"></i></b> ở công nợ
            muốn xử lý.
          </div>
        </div>
        <div class="row">
          <div class="icon"><i class="fas fa-hand-point-right"></i></div>
          <div class="line">
            Bước 2: Chọn tác vụ, nhập số tiền và ấn <b>Cập nhật</b>.
          </div>
        </div>
        <div class="note">
          <p>
            (<b>Lưu ý:</b> Công nợ sẽ chỉ được khấu trừ nếu đã có khoản đặt cọc
            trước đó.)
          </p>
        </div>
      </div>
    </app-step-box>
  </div>

  <div class="section in-app">
    <app-step-box>
      <h3 header>Các thao tác khác</h3>
      <i icon class="fa-solid fa-eye"></i>
      <div class="modal">
        <div class="row">
          <div class="icon"><i class="fas fa-hand-point-right"></i></div>
          <div class="line">
            Chọn biểu tượng <b><i class="fa-solid fa-search"></i></b> ở màn hình danh sách đối tác để tìm công nợ theo đối tác.
          </div>
        </div>
        <div class="row">
          <div class="icon"><i class="fas fa-hand-point-right"></i></div>
          <div class="line">
            Chọn biểu tượng <b><i class="fa-solid fa-search"></i></b> ở màn hình danh sách công nợ để tìm chi tiết công nợ của đối tác.
          </div>
        </div>
      </div>
    </app-step-box>
  </div>

  <app-general-instructions></app-general-instructions>
</div>
