<div class="guide-container">
  <h2>🍹 3. Quy trình pha chế</h2>
  <p>
    <strong>Mô tả:</strong>Hướng dẫn nhân viên pha chế và bếp thực hiện các món order một cách chính xác và nhanh chóng.
  </p>

  <div class="section">
    <h3>a. Truy cập mục Chế biến.<button class="btn-image" (click)="
            emitShowImageEvent(
              'assets/images/bar-1.PNG',
              'Ảnh truy cập Bar & Bếp'
            )
          "><i class="fa-solid fa-image"></i> Xem ảnh</button></h3>
    <div class="row">
      <div class="icon"><i class="fas fa-hand-point-right"></i></div>
      <div class="line">
        <div class="line">
          Bước 1: Chọn biểu tượng <strong><i class="fa-solid fa-bars"></i></strong> góc trái trên cùng, sau đó truy cập
          <strong>Chế biến</strong>.
        </div>
      </div>
    </div>
    <div class="row">
      <div class="icon"><i class="fas fa-hand-point-right"></i></div>
      <div class="line">Bước 2: Khi hóa đơn được tạo, món sẽ tự động hiển thị dưới dạng <b>phiếu làm đồ</b> trên màn
        hình khu bếp hoặc quầy pha chế.</div>
    </div>
  </div>

  <div class="section">
    <h3>b. Thao tác pha chế.<button class="btn-image" (click)="
            emitShowImageEvent(
              'assets/images/bar-2.PNG',
              'Ảnh thao tác với Bar & Bếp'
            )
          "><i class="fa-solid fa-image"></i> Xem ảnh</button></h3>
    <div class="row">
      <div class="icon"><i class="fas fa-hand-point-right"></i></div>
      <div class="line">Bước 3.1: Xem danh sách món cần làm, bao gồm số lượng và yêu cầu đặc biệt (nếu có).</div>
    </div>
    <div class="row">
      <div class="icon"><i class="fas fa-hand-point-right"></i></div>
      <div class="line">Bước 3.2: Đánh dấu món đã hoàn thành bằng cách nhấn vào biểu tượng <b><i
            class="fa-solid fa-check"></i></b> trên phiếu làm đồ.</div>
    </div>
    <div class="row">
      <div class="icon"><i class="fas fa-hand-point-right"></i></div>
      <div class="line">Bước 3.3: Xem lại lịch sử các phiếu đã xử lý để kiểm tra tiến độ hoặc đối chiếu với đơn hàng.
      </div>
    </div>
    <div class="row">
      <div class="icon"><i class="fas fa-hand-point-right"></i></div>
      <div class="line">Bước 3.4: Khi tất cả món trong phiếu đã hoàn thành, nhấn <b style="color: orange;"><i
            class="fa-solid fa-check"></i></b> để gửi thông tin về khu vực thu ngân và cập nhật trạng thái hóa đơn.
      </div>
    </div>
  </div>
</div>