<div class="guide-container">
  <h2>📊 8. Quy trình quyết toán doanh thu</h2>
  <p>
    <strong>Mô tả:</strong>Hướng dẫn quản lý kiểm tra và quyết toán doanh thu cuối ngày, đảm bảo số liệu chính xác và đầy đủ.
  </p>

  <div class="section">
    <h3>a. Truy cập mục Thu & Chi.<button
          class="btn-image"
          (click)="
            emitShowImageEvent(
              'assets/images/thu-chi-1.PNG',
              'Ảnh truy cập Thu & Chi'
            )
          "
          ><i class="fa-solid fa-image"></i> Xem ảnh</button
        ></h3>
    <div class="row">
      <div class="icon"><i class="fas fa-hand-point-right"></i></div>
      <div class="line">Bước 1: Vào mục <b><i class="fa-regular fa-gears"></i>Hoạt động</b>, chọn <b>Thu & Chi</b>.</div>
    </div>
    <div class="row">
      <div class="icon"><i class="fas fa-hand-point-right"></i></div>
      <div class="line">Bước 2: Nhấn vào biểu tượng <b><i class="fa-solid fa-plus"></i></b>:
        <ul>
          <li>Màn hình lớn: góc trên bên phải.</li>
          <li>Màn hình nhỏ: góc dưới bên trái.</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="section">
    <h3>b. Thực hiện quyết toán.<button
          class="btn-image"
          (click)="
            emitShowImageEvent(
              'assets/images/quyet-toan-1.PNG',
              'Ảnh quy trình quyết toán'
            )
          "
          ><i class="fa-solid fa-image"></i> Xem ảnh</button
        ></h3>
    <div class="row">
      <div class="icon"><i class="fas fa-hand-point-right"></i></div>
      <div class="line">Bước 3: Chọn mục <b>Quyết toán</b> để vào giao diện kiểm tra doanh thu.</div>
    </div>
    <div class="row">
      <div class="icon"><i class="fas fa-hand-point-right"></i></div>
      <div class="line">Bước 4: Kiểm tra thông tin về doanh số, thu/chi, và nếu cần, ấn <strong><i class="fa-solid fa-plus"></i></strong> thêm các phiếu thu/chi ngược để cân đối số liệu.</div>
    </div>
    <div class="row">
      <div class="icon"><i class="fas fa-hand-point-right"></i></div>
      <div class="line">Bước 5: Nhấn nút <b><i class="fa-solid fa-check"></i></b> ở góc dưới bên trái màn hình để hoàn tất quyết toán doanh thu.</div>
    </div>
    <div class="row">
      <div class="icon"><i class="fas fa-hand-point-right"></i></div>
      <div class="line">Bước 6: Hệ thống sẽ ghi nhận số liệu quyết toán, cập nhật báo cáo tổng hợp và chuẩn bị dữ liệu cho báo cáo tài chính cuối ngày.</div>
    </div>
  </div>
</div>
