<div class="guide-container">
  <h2>10. Quy trình quyết toán doanh thu</h2>
  <p>
    <strong>Mô tả:</strong>Hướng dẫn quản lý kiểm tra và quyết toán doanh thu
    cuối ngày, đảm bảo số liệu chính xác và đầy đủ.
  </p>

  <div class="section">
    <app-step-box>
      <h3 header>VIDEO HƯỚNG DẪN</h3>
      <h3 icon class="btn-image"><i class="fa-solid fa-image"></i> Xem clip</h3>
      <div class="modal video">
        <iframe
          src="https://www.youtube.com/embed/OQHu8qGHFU8?si=YnyHlUrTPR0RZTOd"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          referrerpolicy="strict-origin-when-cross-origin"
          allowfullscreen
        ></iframe>
      </div>
    </app-step-box>
  </div>

  <div class="section">
    <app-step-box>
      <h3 header>a. Truy cập mục Quyết toán</h3>
      <h3
        icon
        class="btn-image"
        (click)="
          emitShowImageEvent(
            'assets/images/quyet-toan-1.png',
            'Ảnh truy cập Quyết toán tháng'
          )
        "
      >
        <i class="fa-solid fa-image"></i> Xem ảnh
      </h3>
      <div class="modal">
        <div class="row">
          <div class="icon"><i class="fas fa-hand-point-right"></i></div>
          <div class="line">
            Bước 1: Chọn biểu tượng
            <strong><i class="fa-solid fa-bars"></i></strong> góc trái trên
            cùng, chọn <b>Vận hành</b>
            sau đó truy cập
            <strong>Quyết toán tháng...</strong>.
          </div>
        </div>
      </div>
    </app-step-box>
  </div>

  <div class="section">
    <app-step-box>
      <h3 header>b. Thực hiện quyết toán</h3>
      <h3
        icon
        class="btn-image"
        (click)="
          emitShowImageEvent(
            'assets/images/quyet-toan-2.PNG',
            'Ảnh quy trình quyết toán'
          )
        "
      >
        <i class="fa-solid fa-image"></i> Xem ảnh
      </h3>
      <div class="modal">
        <div class="row">
          <div class="icon"><i class="fas fa-hand-point-right"></i></div>
          <div class="line">
            Bước 1: Kiểm tra thông tin về doanh số, thu/chi, công nợ.
          </div>
        </div>
        <div class="row">
          <div class="icon"><i class="fas fa-hand-point-right"></i></div>
          <div class="line">
            Bước 2: Chọn biểu tượng
            <strong><i class="fa-solid fa-plus"></i></strong> thêm các phiếu
            thu/chi ngược để cân đối số liệu nếu cần.
          </div>
        </div>
        <div class="row">
          <div class="icon"><i class="fas fa-hand-point-right"></i></div>
          <div class="line">
            Bước 3: Nhấn nút <b><i class="fa-solid fa-check"></i></b> để hoàn
            tất quyết toán doanh thu.
          </div>
        </div>
        <div class="row">
          <div class="icon"><i class="fas fa-hand-point-right"></i></div>
          <div class="line">
            Bước 4: Hệ thống sẽ ghi nhận số liệu quyết toán, cập nhật báo cáo
            tổng hợp và chuẩn bị dữ liệu cho báo cáo tài chính cuối ngày.
          </div>
        </div>
      </div>
    </app-step-box>
  </div>
</div>
