<desc>Thiết lập các quầy Bar, khu vực Bếp để phân loại quy trình chế biến.  Nhờ đó việc quản lý order trở nên trực quan và dễ dàng hơn.</desc>

<how name="Thêm Bar & Bếp">
  <step>Nhấn <b><i class="fa-solid fa-plus"></i></b>, nhập thông tin (ví dụ: Quầy pha chế, Bếp chính...).</step>
  <step>Nhấn <b><i class="fa-regular fa-floppy-disk"></i></b> để lưu.</step>
  <step>Nhấn biểu tượng <b><i class="fa-solid fa-floppy-disk"></i></b> để hoàn tất.</step>
</how>

<how name="Quản lý Bar & Bếp">
  <step>Nhấn <b>tên bar/bếp</b> để chỉnh sửa khu vực/món mà Bar/Bếp sẽ tiếp nhận.</step>
  <step>Nhấn biểu tượng <b><i class="fa-regular fa-pen"></i></b> để chỉnh sửa thông tin Bar/Bếp.</step>
  <step>Nhấn biểu tượng <b><i class="fa-solid fa-trash"></i></b> để xoá Bar/Bếp.</step>
  <step>Nhấn biểu tượng <b><i class="fa-solid fa-floppy-disk"></i></b> để hoàn tất.</step>
</how>

<how name="Các thao tác khác">
  <step>Chọn biểu tượng <b><i class="fa-solid fa-arrow-left"></i></b> để trở về hành động trước đó.</step>
  <step>Chọn biểu tượng <b><i class="fa-solid fa-arrow-right"></i></b> để hoàn tác hành động trở về.</step>
</how>

<app-general-instructions></app-general-instructions>
