<desc>Thiết lập quầy khu vực Bar/Bếp để phân loại quy trình chế biến phù hợp.</desc>

<how name="Video hướng dẫn" [expanded]="true" class="video">
<iframe width="100%" height="auto" src="https://www.youtube.com/embed/tfqjHR6pVJk?si=3mBVqmXiZwxxE8u6" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
</how>

<how name="Mô tả chức năng" [expanded]="true" [showIndex]="false">

  <step>Nút <b><i class="fa-regular fa-magnifying-glass"></i></b>: Tìm kếm bar, bếp</step>
  <step>Nút <b><i class="fa-solid fa-plus"></i></b>: Thêm mới bar. bếp</step>
  <step>Nút <b><i class="fa-regular fa-floppy-disk"></i></b>: Lưu bar, bếp</step>
  <step>Nút <b><i class="fa-regular fa-gear"></i></b>: Chỉnh sửa hoặc xoá bar, bếp</step>
  <step>Nút <b><i class="fa-regular fa-layer-group"></i></b>: Danh sách khu vực để thêm vào bar, bếp</step>
  <step>Nút <b><i class="fa-regular fa-mug-saucer"></i></b>: Danh sách món để thêm vào bar, bếp</step>

</how>

<how name="Thêm Bar & Bếp">
  <step>Nhấn <b><i class="fa-solid fa-plus"></i></b>, nhập thông tin (ví dụ: Quầy pha chế, Bếp chính...).</step>
  <step>Nhấn <b><i class="fa-regular fa-floppy-disk"></i></b> để lưu.</step>
</how>

<how name="Quản lý Bar & Bếp">
  <step>Nhấn <b>tên bar/bếp</b>và chỉnh sửa <b><i class="fal fa-layer-group"></i> khu vực/<i class="fa-regular fa-mug-saucer"></i> món</b> mà Bar/Bếp sẽ tiếp nhận, sau đó ấn <b><i class="fa-regular fa-floppy-disk"></i></b> để lưu.</step>
  <step>Nhấn  <b><i class="fa-regular fa-gear"></i></b>, chọn <b>Chỉnh sửa</b> để chỉnh sửa thông tin.</step>
  <step>Nhấn  <b><i class="fa-regular fa-gear"></i></b>, chọn <b>Xoá Bar/Bếp</b> để xoá Bar/Bếp.</step>
</how>

<app-general-instructions></app-general-instructions>
