<div class="guide-container">
  <div class="description">
    <p>
       Tính năng này giúp bạn tạo ra các quầy Bar hoặc
      khu vực Bếp để phân loại quy trình chế biến. Ví dụ:
      <em>Quầy pha chế, Bếp chính, Bếp nướng...</em>. Nhờ đó việc quản lý order
      trở nên trực quan và dễ dàng hơn.
    </p>
  </div>

  <div class="section in-app">
    <app-step-box>
      <h3 header>Thêm Bar & Bếp</h3>
      <i icon class="fa-solid fa-chevron-down"></i>
      <div class="modal">
        <div class="row">
          <div class="icon"><i class="fas fa-hand-point-right"></i></div>
          <div class="line">
            <b>Bước 1:</b> Nhấn
            <strong><i class="fa-solid fa-plus"></i></strong>, nhập thông tin
            (ví dụ: Quầy pha chế, Bếp chính...).
          </div>
        </div>
        <div class="row">
          <div class="icon"><i class="fas fa-hand-point-right"></i></div>
          <div class="line">
            <b>Bước 2:</b> Nhấn <b><i class="fa-regular fa-floppy-disk"></i></b> để lưu.
          </div>
        </div>
        <div class="row">
          <div class="icon"><i class="fas fa-hand-point-right"></i></div>
          <div class="line">
            <b>Bước 3:</b> Nhấn biểu tượng
            <strong><i class="fa-solid fa-floppy-disk"></i></strong> để hoàn
            tất.
          </div>
        </div>
      </div>
    </app-step-box>
  </div>

  <div class="section in-app">
    <app-step-box>
      <h3 header>Chỉnh sửa Bar/Bếp</h3>
      <i icon class="fa-solid fa-chevron-down"></i>
      <div class="modal">
        <div class="row">
          <div class="icon"><i class="fas fa-hand-point-right"></i></div>
          <div class="line">
            <b>Bước 1:</b> Nhấn <b>tên bar/bếp</b> để chỉnh sửa khu vực/món mà
            Bar/Bếp sê tiếp nhận.
          </div>
        </div>
        <div class="row">
          <div class="icon"><i class="fas fa-hand-point-right"></i></div>
          <div class="line">
            <b>Bước 2:</b> Nhấn biểu tượng
            <strong><i class="fa-regular fa-pen"></i></strong> để chỉnh sửa
            thông tin Bar/Bếp.
          </div>
        </div>
        <div class="row">
          <div class="icon"><i class="fas fa-hand-point-right"></i></div>
          <div class="line">
            <b>Bước 3:</b> Nhấn biểu tượng
            <strong><i class="fa-solid fa-trash"></i></strong> để xoá Bar/Bếp.
          </div>
        </div>
        <div class="row">
          <div class="icon"><i class="fas fa-hand-point-right"></i></div>
          <div class="line">
            <b>Bước 4:</b> Nhấn biểu tượng
            <strong><i class="fa-solid fa-floppy-disk"></i></strong> để hoàn
            tất.
          </div>
        </div>
      </div>
    </app-step-box>
  </div>
  <div class="section in-app">
    <app-step-box>
      <h3 header>Các thao tác khác</h3>
      <i icon class="fa-solid fa-chevron-down"></i>
      <div class="modal">
        <div class="row">
          <div class="icon"><i class="fa-solid fa-hand-point-right"></i></div>
          <div class="line">
            Chọn biểu tượng
            <strong><i class="fa-solid fa-arrow-left"></i></strong> để trở về
            hành động trước đó.
          </div>
        </div>
        <div class="row">
          <div class="icon"><i class="fa-solid fa-hand-point-right"></i></div>
          <div class="line">
            Chọn biểu tượng
            <strong><i class="fa-solid fa-arrow-right"></i></strong> để hoàn tác
            hành động trở về.
          </div>
        </div>
      </div>
    </app-step-box>
  </div>

  <app-general-instructions></app-general-instructions>
</div>
