<desc>Nhập, xuất hàng hoá từ các đối tác, đảm bảo nhập hàng đầy đủ và chính xác.</desc>

<how name="Mô tả chức năng" [expanded]="true" [showIndex]="false">
  <step>Nút <b><i class="fa-solid fa-plus"></i></b>: Thêm mới đơn.</step>
  <step>Nút <b><i class="fa-solid fa-magnifying-glass"></i></b>: Tìm kiếm đơn.</step>
  <step>Nút <b><i class="fa-regular fa-copy"></i></b>: Xem danh sách đơn xuất nhập và sử dụng.</step>
  <step>Nút <b><i class="fa-regular fa-boxes-stacked"></i></b>: Xem danh sách hàng hoá theo phân loại.</step>
  <step>Biểu tượng <b><i class="fa-solid fa-pen-to-square"></i></b>: Trạng thái có thể chỉnh sửa.</step>
  <step>Biểu tượng <b><i class="fa-solid fa-lock"></i></b>: Trạng thái đã khoá.</step>
  <step>Biểu tượng <b><i class="fa-solid fa-circle-check"></i></b>: Trạng thái đã xác nhận.</step>
  <step>Biểu tượng <b><i class="fa-regular fa-chevron-right"></i></b>: Danh sách chi tiết đang đóng.</step>
  <step>Biểu tượng <b><i class="fa-regular fa-chevron-down"></i></b>: Danh sách chi tiết đang mở.</step>
</how>

<how name="Tạo đơn nhập xuất hàng">
  <step>Chọn  <b><i class="fa-solid fa-plus"></i></b> và chọn <b>Nhập hàng</b> hoặc <b>Xuất hàng</b>.</step>
  <step>Chọn <b>Đối tác</b> mà cửa hàng muốn nhập hoặc xuất hàng.</step>
  <step>Nhấn <b><i class="fa-solid fa-plus"></i></b> để bắt đầu lập đơn nhập hoặc xuất hàng.</step>
</how>

<how name="Xem danh sách nhập xuất">
  <step>Chọn  <b><i class="fa-regular fa-files"></i></b>.</step>
  <step>Chọn <b>Nhập hàng</b> hoặc <b>Xuất hàng</b> để xem danh sách.</step>
  <step>Chọn đơn trong danh sách để thực hiện các thao tác như sửa, khoá, xác nhận...</step>
</how>

<how name="Xem hàng sử dụng">
  <step>Chọn  <b><i class="fa-regular fa-files"></i></b>.</step>
  <step>Chọn mục <b>Sử dụng</b> và chọn cửa hàng để xem.</step>
</how>

<how name="Xem xuất nhập tồn">
  <step>Chọn  <b><i class="fa-solid fa-boxes-stacked"></i></b> và chọn phân loại muốn xem.</step>
  <step>Xem các thông tin về xuất-nhập-tồn hàng hoá:
    <ul>
      <li>- <b>Tồn kho:</b> Số lượng hàng còn lại trong kho (sau khi trừ đi số lượng hàng đã sử dụng cho chế biến)</li>
      <li>- <b>Chờ nhập:</b> Số lượng hàng nhập chưa xác nhận</li>
      <li>- <b>Chờ xuất:</b> Số lượng hàng xuất chưa xác nhận</li>
      <li>- <b>Ước tính còn:</b> Tồn kho + Chờ nhập - Chờ xuất</li>
    </ul>
  </step>
</how>

<app-general-instructions></app-general-instructions>
