<div class="guide-container">
  <div class="section in-app">
    <p>
      <strong>Mô tả:</strong> Hướng dẫn cửa hàng nhập/xuất từ các đối tác, đảm
      bảo nhập hàng đầy đủ, chính xác và kịp thời.
    </p>
  </div>

  <div class="section in-app">
    <app-step-box>
      <h3 header>Tạo đơn nhập</h3>
      <i icon class="fa-solid fa-eye"></i>
      <div class="modal">
        <div class="row">
          <div class="icon"><i class="fas fa-hand-point-right"></i></div>
          <div class="line">
            <b>Bước 1:</b> Chọn biểu tượng
            <b><i class="fa-solid fa-file"></i></b>, nhấn vào biểu tượng
            <b><i class="fa-solid fa-plus"></i></b> và chọn
            <b>Nhập hàng</b>
          </div>
        </div>
        <div class="row">
          <div class="icon"><i class="fas fa-hand-point-right"></i></div>
          <div class="line">
            <b>Bước 2:</b> Chọn <b>Đối tác</b> mà cửa hàng muốn nhập hàng.
          </div>
        </div>
        <div class="row">
          <div class="icon"><i class="fas fa-hand-point-right"></i></div>
          <div class="line">
            <b>Bước 3:</b> Nhấn <b>Tạo đơn</b> để bắt đầu lập đơn nhập.
          </div>
        </div>
        <div class="row">
          <div class="icon"><i class="fas fa-hand-point-right"></i></div>
          <div class="line">
            <b>Bước 4:</b> Chọn <b>Hàng mới hoặc các lựa chọn khác</b> rồi chọn
            các mặt hàng cần nhập ở <b>Danh sách hàng hóa</b> và điền
            <b>Số lượng</b>, <b>Đơn giá</b> tương ứng.Để xóa 1 mặt hàng khỏi
            đơn, chọn biểu tượng <b><i class="fa-solid fa-trash"></i></b> ở mỗi
            mặt hàng.
          </div>
        </div>
        <div class="row">
          <div class="icon"><i class="fas fa-hand-point-right"></i></div>
          <div class="line">
            <b>Bước 5:</b> Chọn loại đơn <b>đã trả tiền</b> hoặc
            <b>chưa trả tiền.</b>
          </div>
        </div>
        <div class="row">
          <div class="icon"><i class="fas fa-hand-point-right"></i></div>
          <div class="line">
            <b>Bước 6:</b> Nhấn nút
            <b><i class="fa-solid fa-floppy-disk"></i></b> để lưu đơn nhập.
          </div>
        </div>
        <div class="row">
          <div class="icon"><i class="fas fa-hand-point-right"></i></div>
          <div class="line">
            <b>Bước 7:</b> Đế sửa đơn nhập,trong danh sách đơn nhập, chọn
            <b>đơn hàng</b> hoặc biểu tượng
            <b><i class="fa-solid fa-pen-to-square"></i></b> ở đơn muốn sửa .Sau
            đó chỉnh sửa rồi ấn
            <b><i class="fa-solid fa-floppy-disk"></i></b> để lưu lại.
          </div>
        </div>
        <div class="row">
          <div class="icon"><i class="fas fa-hand-point-right"></i></div>
          <div class="line">
            <b>Bước 8:</b> Đế xóa đơn nhập,trong danh sách đơn nhập, chọn
            <b>đơn hàng</b> hoặc biểu tượng
            <b><i class="fa-solid fa-pen-to-square"></i></b> ở đơn muốn xoá.Sau
            đó chọn tượng <b><i class="fa-solid fa-trash"></i></b> ở góc trên
            bên phải để xóa.
          </div>
        </div>
        <div class="row">
          <div class="icon"><i class="fas fa-hand-point-right"></i></div>
          <div class="line">
            <b>Bước 9:</b> Đế xác nhận đơn nhập,trong danh sách đơn nhập, chọn
            <b>đơn hàng</b> hoặc biểu tượng
            <b><i class="fa-solid fa-pen-to-square"></i></b> ở đơn muốn xác
            nhận.Sau đó chọn <b>Xác nhận</b> để xác nhận đơn.
          </div>
        </div>
      </div>
    </app-step-box>
  </div>

  <div class="section in-app">
    <app-step-box>
      <h3 header>Tạo đơn xuất</h3>
      <i icon class="fa-solid fa-eye"></i>
      <div class="modal">
        <div class="row">
          <div class="icon"><i class="fas fa-hand-point-right"></i></div>
          <div class="line">
            <b>Bước 1:</b> Chọn biểu tượng
            <b><i class="fa-solid fa-file"></i></b>, nhấn vào biểu tượng
            <b><i class="fa-solid fa-plus"></i></b> và chọn
            <b>Xuất hàng</b>
          </div>
        </div>
        <div class="row">
          <div class="icon"><i class="fas fa-hand-point-right"></i></div>
          <div class="line">
            <b>Bước 2:</b> Chọn <b>Đối tác</b> mà cửa hàng muốn xuất hàng.
          </div>
        </div>
        <div class="row">
          <div class="icon"><i class="fas fa-hand-point-right"></i></div>
          <div class="line">
            <b>Bước 3:</b> Nhấn <b>Tạo đơn</b> để bắt đầu lập đơn xuất.
          </div>
        </div>
        <div class="row">
          <div class="icon"><i class="fas fa-hand-point-right"></i></div>
          <div class="line">
            <b>Bước 4:</b> Chọn <b>Trả hàng hoặc các lựa chọn khác</b> rồi chọn
            các mặt hàng cần xuất ở <b>Danh sách hàng hóa</b> và điền
            <b>Số lượng</b>, <b>Đơn giá</b> tương ứng.Để xóa 1 mặt hàng khỏi
            đơn, chọn biểu tượng <b><i class="fa-solid fa-trash"></i></b> ở mỗi
            mặt hàng.
          </div>
        </div>
        <div class="row">
          <div class="icon"><i class="fas fa-hand-point-right"></i></div>
          <div class="line">
            <b>Bước 5:</b> Chọn loại đơn <b>đã trả tiền</b> hoặc
            <b>chưa trả tiền.</b>
          </div>
        </div>
        <div class="row">
          <div class="icon"><i class="fas fa-hand-point-right"></i></div>
          <div class="line">
            <b>Bước 6:</b> Nhấn nút
            <b><i class="fa-solid fa-floppy-disk"></i></b> để lưu đơn xuất.
          </div>
        </div>
        <div class="row">
          <div class="icon"><i class="fas fa-hand-point-right"></i></div>
          <div class="line">
            <b>Bước 7:</b> Đế sửa đơn xuất,trong danh sách đơn xuất, chọn
            <b>đơn hàng</b> hoặc biểu tượng
            <b><i class="fa-solid fa-pen-to-square"></i></b> ở đơn muốn sửa.Sau
            đó chỉnh sửa rồi ấn
            <b><i class="fa-solid fa-floppy-disk"></i></b> để lưu lại.
          </div>
        </div>
        <div class="row">
          <div class="icon"><i class="fas fa-hand-point-right"></i></div>
          <div class="line">
            <b>Bước 8:</b> Đế xóa đơn xuất,trong danh sách đơn xuất, chọn
            <b>đơn hàng</b> hoặc biểu tượng
            <b><i class="fa-solid fa-pen-to-square"></i></b> ở đơn muốn xoá.Sau
            đó chọn <b><i class="fa-solid fa-trash"></i></b> ở góc trên bên phải
            để xóa.
          </div>
        </div>
        <div class="row">
          <div class="icon"><i class="fas fa-hand-point-right"></i></div>
          <div class="line">
            <b>Bước 9:</b> Đế xác nhận đơn xuất,trong danh sách đơn xuất, chọn
            <b>đơn hàng</b> hoặc biểu tượng
            <b><i class="fa-solid fa-pen-to-square"></i></b> ở đơn muốn xác
            nhận.Sau đó chọn <b>Xác nhận</b> để xác nhận đơn.
          </div>
        </div>
      </div>
    </app-step-box>
  </div>

  <div class="section in-app">
    <app-step-box>
      <h3 header>Xem hàng sử dụng</h3>
      <i icon class="fa-solid fa-eye"></i>
      <div class="modal">
        <div class="row">
          <div class="icon"><i class="fas fa-hand-point-right"></i></div>
          <div class="line">
            <b>Bước 1:</b> Chọn biểu tượng
            <b><i class="fa-solid fa-file"></i></b>.
          </div>
        </div>
        <div class="row">
          <div class="icon"><i class="fas fa-hand-point-right"></i></div>
          <div class="line"><b>Bước 2:</b> Chọn mục <b>Sử dụng</b>.</div>
        </div>
        <div class="row">
          <div class="icon"><i class="fas fa-hand-point-right"></i></div>
          <div class="line">
            <b>Bước 3:</b> Chọn các <b>Hoá đơn</b> để xem chi tiết hàng sử dụng
            cho chế biến.
          </div>
        </div>
      </div>
    </app-step-box>
  </div>

  <div class="section in-app">
    <app-step-box>
      <h3 header>Xem xuất nhập tồn</h3>
      <i icon class="fa-solid fa-eye"></i>
      <div class="modal">
        <div class="row">
          <div class="icon"><i class="fas fa-hand-point-right"></i></div>
          <div class="line">
            <b>Bước 1:</b> Chọn biểu tượng
            <b><i class="fa-solid fa-boxes-stacked"></i></b>.
          </div>
        </div>
        <div class="row">
          <div class="icon"><i class="fas fa-hand-point-right"></i></div>
          <div class="line">
            <b>Bước 2:</b>Xem các thông tin về việc xuất-nhập-tồn hàng hoá.Trong
            đó:
            <ul>
              <li>
                <b>Tồn kho:</b> Số lượng hàng còn lại trong kho(sau khi trừ đi
                số lượng hàng đã sử dụng cho chế biến).
              </li>
              <li><b>Chờ nhập:</b> Số lượng hàng nhập chưa xác nhận.</li>
              <li><b>Chờ xuất:</b> Số lượng hàng xuất chưa xác nhận.</li>
              <li><b>Ước tính còn:</b> Tồn kho + Chờ nhập - Chờ xuất.</li>
            </ul>
          </div>
        </div>
      </div>
    </app-step-box>
  </div>

  <div class="section in-app">
    <app-step-box>
      <h3 header>Tìm kiếm phiếu</h3>
      <i icon class="fa-solid fa-eye"></i>
      <div class="modal">
        <div class="row">
          <div class="icon"><i class="fa-solid fa-hand-point-right"></i></div>
          <div class="line">
            <b>Bước 1:</b> Chọn biểu tượng
            <strong><i class="fa-solid fa-magnifying-glass"></i></strong>.
          </div>
        </div>
        <div class="row">
          <div class="icon"><i class="fa-solid fa-hand-point-right"></i></div>
          <div class="line">
            <b>Bước 2:</b> Nhập <b>tên đối tác/nhân sự/loại phiếu...</b> để tìm kiếm.
          </div>
        </div>
      </div>
    </app-step-box>
  </div>
  <app-general-instructions></app-general-instructions>
</div>
