<div class="guide-container">
  <h2>🪑 5. Khởi tạo khu vực và bàn</h2>
  <p>
    <strong>Mô tả:</strong> Thiết lập các khu vực (như Tầng 1, Sân vườn,...) và
    thêm bàn để quản lý không gian phục vụ hiệu quả hơn.
  </p>

  <div class="section">
    <h3>
      a. Tạo khu vực.<button
        class="btn-image"
        (click)="
          emitShowImageEvent(
            'assets/images/create-area-1.PNG',
            'Ảnh thêm mới khu vực'
          )
        "
        ><i class="fa-solid fa-image"></i> Xem ảnh</button
      >
    </h3>
    <div class="row">
      <div class="icon"><i class="fas fa-hand-point-right"></i></div>
      <div class="line">
        Bước 1: Vào mục <b><i class="fa-regular fa-sliders"></i>Cấu hình</b>,
        chọn <b>Khu vực</b>.
      </div>
    </div>
    <div class="row">
      <div class="icon"><i class="fas fa-hand-point-right"></i></div>
      <div class="line">
        Bước 2: Nhấn <b>Thêm khu vực</b>, nhập tên khu vực (ví dụ:
        <i>Tầng 1, Sân vườn...</i>).
      </div>
    </div>
    <div class="row">
      <div class="icon"><i class="fas fa-hand-point-right"></i></div>
      <div class="line">Bước 3: Nhấn <b>Cập nhật</b> để lưu khu vực.</div>
    </div>
  </div>

  <div class="section">
    <h3>
      b. Tạo bàn.<button
        class="btn-image"
        (click)="
          emitShowImageEvent(
            'assets/images/create-area-2.PNG',
            'Ảnh thêm mới bàn'
          )
        "
        ><i class="fa-solid fa-image"></i> Xem ảnh</button
      >
    </h3>
    <div class="row">
      <div class="icon"><i class="fas fa-hand-point-right"></i></div>
      <div class="line">
        Bước 1: Chọn khu vực vừa tạo, nhấn <b>Thêm bàn</b> và nhập thông tin (Có
        thể tạo 1 bàn hoặc nhiều bàn cùng lúc).
      </div>
    </div>
    <div class="row">
      <div class="icon"><i class="fas fa-hand-point-right"></i></div>
      <div class="line">Bước 2: Nhấn <b>Cập nhật</b> để lưu bàn.</div>
    </div>
    <div class="row">
      <div class="icon"><i class="fa-solid fa-hand-point-right"></i></div>
      <div class="line">
        Bước 3: Nhấn biểu tượng
        <strong><i class="fa-solid fa-floppy-disk"></i></strong> để hoàn tất.
      </div>
  </div>
</div>
