<div class="guide-container">
  <h2>5. Khởi tạo sơ đồ bàn</h2>
  <p>
    <strong>Mô tả:</strong> Thiết lập các khu vực (như Tầng 1, Sân vườn,...) và
    thêm bàn để quản lý không gian phục vụ hiệu quả hơn.
  </p>

  <div class="section">
    <app-step-box>
      <h3 header>VIDEO HƯỚNG DẪN</h3>
      <h3
        icon
        class="btn-image">
        <i class="fa-solid fa-image"></i> Xem clip
      </h3>
      <div class="modal video">
        <iframe
          src="https://www.youtube.com/embed/ZXaO6lR_RqM?si=bnFqWeEsporMJAZO"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          referrerpolicy="strict-origin-when-cross-origin"
          allowfullscreen
        ></iframe>
      </div>
    </app-step-box>
  </div>

  <div class="section">
    <app-step-box>
      <h3 header>a. Tạo khu vực</h3>
      <h3
        icon
        class="btn-image"
        (click)="
          emitShowImageEvent(
            'assets/images/create-arena-1.png',
            'Ảnh thêm mới khu vực'
          )
        "
      >
        <i class="fa-solid fa-image"></i> Xem ảnh
      </h3>
      <div class="modal">
        <div class="row">
          <!-- <div class="icon"><i class="fas fa-hand-point-right"></i></div> -->
          <div class="line">
            <b>Bước 1:</b> Chọn biểu tượng
            <strong><i class="fa-solid fa-bars"></i></strong> góc trái trên
            cùng, chọn <b>Quản lý</b> sau đó truy cập
            <strong>Sơ đồ bàn</strong>.
          </div>
        </div>
        <div class="row">
          <!-- <div class="icon"><i class="fas fa-hand-point-right"></i></div> -->
          <div class="line">
            <b>Bước 2:</b> Chọn biểu tượng <b><i class="fa-regular fa-plus"></i></b> để
            <b>thêm khu vực</b>, nhập tên khu vực (ví dụ:
            <i>Tầng 1, Sân vườn...</i>).
          </div>
        </div>
        <div class="row">
          <!-- <div class="icon"><i class="fas fa-hand-point-right"></i></div> -->
          <div class="line">
            <b>Bước 3:</b> Nhấn <b><i class="fa-regular fa-floppy-disk"></i></b> để lưu
            khu vực.
          </div>
        </div>
        <div class="row">
          <!-- <div class="icon"><i class="fa-solid fa-hand-point-right"></i></div> -->
          <div class="line">
            <b>Bước 4:</b> Nhấn biểu tượng
            <strong><i class="fa-solid fa-floppy-disk"></i></strong> để hoàn
            tất.
          </div>
        </div>
      </div>
    </app-step-box>
  </div>

  <div class="section">
    <app-step-box>
      <h3 header>b. Tạo bàn</h3>
      <h3
        icon
        class="btn-image"
        (click)="
          emitShowImageEvent(
            'assets/images/create-arena-2.png',
            'Ảnh thêm mới bàn'
          )
        "
      >
        <i class="fa-solid fa-image"></i> Xem ảnh
      </h3>
      <div class="modal">
        <div class="row">
          <!-- <div class="icon"><i class="fas fa-hand-point-right"></i></div> -->
          <div class="line">
            <b>Bước 1:</b> Chọn khu vực vừa tạo, chọn biểu tượng
            <b><i class="fa-regular fa-plus"></i></b> và chọn
            <b>Tạo bàn mới</b> và nhập thông tin (Có thể tạo 1 bàn hoặc nhiều
            bàn cùng lúc).
          </div>
        </div>
        <div class="row">
          <!-- <div class="icon"><i class="fas fa-hand-point-right"></i></div> -->
          <div class="line">
            <b>Bước 2:</b> Nhấn <b><i class="fa-regular fa-floppy-disk"></i></b> để lưu
            bàn.
          </div>
        </div>
        <div class="row">
          <!-- <div class="icon"><i class="fa-solid fa-hand-point-right"></i></div> -->
          <div class="line">
            <b>Bước 3:</b> Nhấn biểu tượng
            <strong><i class="fa-solid fa-floppy-disk"></i></strong> để hoàn
            tất.
          </div>
        </div>
      </div>
    </app-step-box>
  </div>

  <div class="section">
    <app-step-box>
      <h3 header>c. Chỉnh sửa khu vực/bàn</h3>
      <div class="modal">
        <div class="row">
          <!-- <div class="icon"><i class="fas fa-hand-point-right"></i></div> -->
          <div class="line">
            <b>Bước 1:</b> Để sửa khu vực/bàn, chọn biểu tượng
            <b><i class="fa-regular fa-pen"></i></b> của khu vực/bàn đó, sau đó
            sửa thông tin và ấn
            <b><i class="fa-regular fa-floppy-disk"></i></b>.
          </div>
        </div>
        <div class="row">
          <!-- <div class="icon"><i class="fas fa-hand-point-right"></i></div> -->
          <div class="line">
            <b>Bước 2:</b> Để xoá khu vực, chọn biểu tượng
            <b><i class="fa-solid fa-trash"></i></b> của khu vực đó.
          </div>
        </div>
        <div class="row">
          <!-- <div class="icon"><i class="fas fa-hand-point-right"></i></div> -->
          <div class="line">
            <b>Bước 3:</b> Để xoá bàn, chọn biểu tượng
            <b><i class="fa-solid fa-xmark"></i></b> của bàn đó.
          </div>
        </div>
        <div class="row">
          <!-- <div class="icon"><i class="fa-solid fa-hand-point-right"></i></div> -->
          <div class="line">
            <b>Bước 4:</b> Nhấn biểu tượng
            <strong><i class="fa-solid fa-floppy-disk"></i></strong> để hoàn
            tất.
          </div>
        </div>
      </div>
    </app-step-box>
  </div>
  <div class="section">
    <app-step-box>
      <h3 header>d. Các thao tác khác</h3>
      <div class="modal">
        <div class="row">
          <!-- <div class="icon"><i class="fa-solid fa-hand-point-right"></i></div> -->
          <div class="line">
            Chọn biểu tượng
            <strong><i class="fa-solid fa-arrow-left"></i></strong> để trở về
            hành động trước đó.
          </div>
        </div>
        <div class="row">
          <!-- <div class="icon"><i class="fa-solid fa-hand-point-right"></i></div> -->
          <div class="line">
            Chọn biểu tượng
            <strong><i class="fa-solid fa-arrow-right"></i></strong> để hoàn tác
            hành động trở về.
          </div>
        </div>
        <div class="row">
          <!-- <div class="icon"><i class="fa-solid fa-hand-point-right"></i></div> -->
          <div class="line">
            Chọn biểu tượng
            <strong><i class="fa-solid fa-sparkles"></i></strong> để hỏi hoặc
            đưa ra yêu cầu cho AI thực hiện.
          </div>
        </div>
      </div>
    </app-step-box>
  </div>
</div>
