<div class="guide-container">
  <h2>2. Quy trình gọi món (Order)</h2>
  <p>
    <strong>Mô tả:</strong>Hướng dẫn nhân viên thao tác tạo và quản lý đơn hàng
    một cách nhanh chóng và chính xác.
  </p>

  <div class="section">
    <app-step-box>
      <h3 header>a. Truy cập Bán hàng</h3>
      <h3
        icon
        class="btn-image"
        (click)="
          emitShowImageEvent(
            'assets/images/order-1.png',
            'Ảnh truy cập bán hàng'
          )
        "
      >
        <i class="fa-solid fa-image"></i> Xem ảnh
      </h3>
      <div class="modal">
        <div class="row">
          <div class="icon"><i class="fas fa-hand-point-right"></i></div>
          <div class="line">
            Bước 1: Chọn biểu tượng
            <strong><i class="fa-solid fa-bars"></i></strong> góc trái trên
            cùng, chọn <b>Vận hành</b> sau đó truy cập
            <strong>Bán hàng</strong>.
          </div>
        </div>
      </div>
    </app-step-box>
  </div>

  <div class="section">
    <app-step-box>
      <h3 header>b. Thao tác gọi món</h3>
      <h3
        icon
        class="btn-image"
        (click)="emitShowImageEvent('assets/images/order-2.png', 'Ảnh gọi món')"
      >
        <i class="fa-solid fa-image"></i> Xem ảnh
      </h3>
      <div class="modal">
        <div class="row">
          <div class="icon"><i class="fas fa-hand-point-right"></i></div>
          <div class="line">Bước 1: Chọn bàn trống/không có hoá đơn.</div>
        </div>
        <div class="row">
          <div class="icon"><i class="fas fa-hand-point-right"></i></div>
          <div class="line">Bước 2: Thêm món và ghi chú nếu có.</div>
        </div>
        <div class="row">
          <div class="icon"><i class="fas fa-hand-point-right"></i></div>
          <div class="line">
            Bước 3: Chọn biểu tượng
            <b><i class="fa-regular fa-floppy-disk"></i></b> để lưu.
          </div>
        </div>
      </div>
    </app-step-box>
  </div>

  <div class="section">
    <app-step-box>
      <h3 header>c. Thao tác sửa hoá đơn</h3>
      <h3
        icon
        class="btn-image"
        (click)="
          emitShowImageEvent('assets/images/order-3.png', 'Ảnh sửa hoá đơn')
        "
      >
        <i class="fa-solid fa-image"></i> Xem ảnh
      </h3>
      <div class="modal">
        <div class="row">
          <div class="icon"><i class="fas fa-hand-point-right"></i></div>
          <div class="line">Bước 1: Chọn bàn đang có hoá đơn.</div>
        </div>
        <div class="row">
          <div class="icon"><i class="fas fa-hand-point-right"></i></div>
          <div class="line">
            Bước 2: Chọn biểu tượng <b><i class="fa-regular fa-pen"></i></b> để
            sửa, sau đó thêm và sửa các món trong chi tiết hoá đơn.
          </div>
        </div>
        <div class="row">
          <div class="icon"><i class="fas fa-hand-point-right"></i></div>
          <div class="line">
            Bước 3: Chọn biểu tượng
            <b><i class="fa-regular fa-floppy-disk"></i></b> để lưu.
          </div>
        </div>
      </div>
    </app-step-box>
  </div>

  <div class="section">
    <app-step-box>
      <h3 header>d. Các thao tác khác</h3>
      <h3
        icon
        class="btn-image"
        (click)="
          emitShowImageEvent('assets/images/order-5.png', 'Ảnh thao tác khác')
        "
      >
        <i class="fa-solid fa-image"></i> Xem ảnh
      </h3>
      <div class="modal">
        <div class="row">
          <div class="icon"><i class="fas fa-hand-point-right"></i></div>
          <div class="line">
            Bước 1: <b>Nhấn giữ</b> bàn đang có hoá đơn để
            <b>xem lịch sử bàn</b> trong ngày.
          </div>
        </div>
        <div class="row">
          <div class="icon"><i class="fas fa-hand-point-right"></i></div>
          <div class="line">
            Bước 2: <b>Nhấn giữ</b> bàn đang có hoá đơn và <b>di chuyển</b> sang
            khu vực khác để <b>tách bàn</b> hoặc <b>gộp bàn</b>.
          </div>
        </div>
        <div class="row">
          <div class="icon"><i class="fas fa-hand-point-right"></i></div>
          <div class="line">
            Bước 3: Chọn biểu tượng
            <b><i class="fa-light fa-chart-pie"></i></b> để xem
            <b>Doanh số bán hàng</b>.
          </div>
        </div>
      </div>
    </app-step-box>
  </div>
</div>
