<div class="guide-container">
  <h2>🧾 2. Quy trình gọi món (Order)</h2>
  <p>
    <strong>Mô tả:</strong>Hướng dẫn nhân viên thao tác tạo và quản lý đơn hàng
    một cách nhanh chóng và chính xác.
  </p>

  <div class="section">
    <h3>
      a. Truy cập và đăng nhập.<button
        class="btn-image"
        (click)="
          emitShowImageEvent(
            'assets/images/order-1.PNG',
            'Ảnh đăng nhập nhân sự'
          )
        "
      >
        <i class="fa-solid fa-image"></i> Xem ảnh
      </button>
    </h3>
    <div class="row">
      <div class="icon"><i class="fas fa-hand-point-right"></i></div>
      <div class="line">
        Bước 1: Vào mục
        <b><i class="fa-regular fa-cash-register"></i>Bán hàng</b> trên giao
        diện phần mềm.
      </div>
    </div>
    <div class="row">
      <div class="icon"><i class="fas fa-hand-point-right"></i></div>
      <div class="line">
        Bước 2: Đăng nhập bằng <b>mã PIN</b> của nhân viên.
      </div>
    </div>
  </div>

  <div class="section">
    <h3>b. Thao tác gọi món</h3>
    <div class="row">
      <div class="icon"><i class="fas fa-hand-point-right"></i></div>
      <div class="line">
        Bước 3.1: <b>Tạo hóa đơn mới</b>: Chọn một bàn trống → thêm món → nhấn
        <b><i class="fa-regular fa-floppy-disk"></i></b>.<button
          class="btn-image"
          (click)="
            emitShowImageEvent(
              'assets/images/order-2.PNG',
              'Ảnh quy trình order'
            )
          "
        >
          <i class="fa-solid fa-image"></i> Xem ảnh
        </button>
      </div>
    </div>
    <div class="row">
      <div class="icon"><i class="fas fa-hand-point-right"></i></div>
      <div class="line">
        Bước 3.2: <b>Chỉnh sửa hóa đơn</b>: Chọn bàn đang có hóa đơn → nhấn biểu
        tượng <b><i class="fa-regular fa-pen"></i></b> → sửa món → nhấn
        <b><i class="fa-regular fa-floppy-disk"></i></b>.<button
          class="btn-image"
          (click)="
            emitShowImageEvent(
              'assets/images/order-3.PNG',
              'Ảnh quy trình chỉnh sửa và xem thông tin hoá đơn'
            )
          "
        >
          <i class="fa-solid fa-image"></i> Xem ảnh
        </button>
      </div>
    </div>
    <div class="row">
      <div class="icon"><i class="fas fa-hand-point-right"></i></div>
      <div class="line">
        Bước 3.3: <b>Xem tổng hóa đơn</b>: Nhấn vào bàn hoặc hóa đơn để xem chi
        tiết tổng tiền, số lượng món, và trạng thái thanh toán.<button
          class="btn-image"
          (click)="
            emitShowImageEvent(
              'assets/images/order-3.PNG',
              'Ảnh quy trình chỉnh sửa và xem thông tin hoá đơn'
            )
          "
        >
          <i class="fa-solid fa-image"></i> Xem ảnh
        </button>
      </div>
    </div>
    <div class="row">
      <div class="icon"><i class="fas fa-hand-point-right"></i></div>
      <div class="line">
        Bước 3.4: <b>Thanh toán hóa đơn</b>: Khi khách yêu cầu thanh toán, nhấn
        <b><i class="fa-regular fa-dollar-sign"></i></b>, chọn phương thức thanh
        toán và xác nhận.<button
          class="btn-image"
          (click)="
            emitShowImageEvent(
              'assets/images/order-4.PNG',
              'Ảnh quy trình thanh toán hoá đơn'
            )
          "
        >
          <i class="fa-solid fa-image"></i> Xem ảnh
        </button>
      </div>
    </div>
  </div>
  <div class="section">
    <h3>c.Các thao tác khác</h3>
    <div class="row">
      <div class="icon"><i class="fas fa-hand-point-right"></i></div>
      <div class="line">
        Bước 4.1: <b>Nhấn giữ</b> bàn đang có hoá đơn để <b>xem lịch sử bàn</b> trong ngày.
      </div>
    </div>
    <div class="row">
      <div class="icon"><i class="fas fa-hand-point-right"></i></div>
      <div class="line">
        Bước 4.2: <b>Nhấn giữ</b> bàn đang có hoá đơn và <b>di chuyển</b> sang khu vực khác để <b>tách bàn</b> hoặc <b>gộp bàn</b>.
      </div>
    </div>
  </div>
</div>
