<desc>Một số thông tin , diễn giải về các ký hiệu và nút bấm trong danh sách áp dụng thuế phí.</desc>

<how name="Mô tả chức năng" [expanded]="true" [showIndex]="false">

  <step>Nút <b><i class="fa-regular fa-magnifying-glass"></i></b>: Tìm kếm cửa hàng, đối tác</step>
  <step>Nút <b><i class="fa-regular fa-plus"></i></b>: Thêm cửa hàng, đối tác áp dụng</step>
  <step>Nút <b><i class="fa-regular fa-floppy-disk"></i></b>: Lưu danh sách áp dụng</step>
  <step>Nút <b><i class="fa-solid fa-trash"></i></b>: Xoá cửa hàng, đối tác đang áo dụng</step>
  <step>Nút <b><i class="fa-solid fa-list"></i></b>: Danh sách cửa hàng, đối tác đang áp dụng</step>

</how>
