<desc>Chức năng đặt bàn trước theo yêu cầu của khách.</desc>

<how name="Video hướng dẫn" [expanded]="true" class="video" *ngIf="!isMobile">
<iframe width="100%" height="auto" src="https://www.youtube.com/embed/1ujInz2NOy4?si=dDgULaANp-lHizPO" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
</how>

<how name="Video hướng dẫn" [expanded]="true" class="video" *ngIf="isMobile">
<iframe width="100%" height="auto" src="https://www.youtube.com/embed/1ujInz2NOy4?si=dDgULaANp-lHizPO" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
</how>

<how name="Mô tả chức năng" [expanded]="true" [showIndex]="false">
  <step>Nút <b><i class="fa-regular fa-filter"></i></b>: Lọc dữ liệu.</step>
  <step>Nút <b><i class="fa-regular fa-calendar"></i></b>: Chọn ngaỳ.</step>
  <step>Nút <b><i class="fa-regular fa-file-lines"></i></b>: Chi tiết đơn.</step>
  <step>Nút <b><i class="fa-regular fa-utensils"></i></b>: Đặt món.</step>
  <step>Nút <b><i class="fa-regular fa-floppy-disk"></i></b>: Lưu thông tin.</step>
  <step>Nút <b><i class="fal fa-list"></i></b>: Lịch sử đặt bàn.</step>
  <step>Nút <b><i class="fal fa-cog"></i></b>: Bố trí thẻ đặt chỗ/Lưới hiển thị.</step>
</how>

<how name="Hướng dẫn tạo đặt bàn">
  <step>Nhấn vào khoảng thời gian của bàn muốn đặt.</step>
  <step>Nhập thông tin như khách hàng, thời gian,.. ở mục <b><i class="fal fa-file-lines"></i> Chi tiết</b> và món đặt trước ở mục <b><i class="fal fa-utensils"></i> Đặt món</b> theo yêu cầu.</step>
  <step>Nhấn nút <b><i class="fa-regular fa-floppy-disk"></i></b> để lưu đặt bàn.</step>
</how>

<how name="Các thao tác khác">
  <step>Để sửa phiếu đặt hàng, chọn phiếu muốn sửa sau đó cập nhật thông tin và ấn <b><i class="fa-regular fa-floppy-disk"></i></b> để hoàn tất.</step>
  <step>Để xoá phiếu đặt hàng, chọn phiếu muốn xoá sau đó chọn <b><i class="fas fa-trash"></i></b> và xác nhận để hoàn tất.</step>
</how>


<app-general-instructions></app-general-instructions>
