<desc>
  Hướng dẫn nhân viên hoặc quản lý xem báo cáo chi tiết về hàng hóa, theo dõi
  tồn kho, xuất nhập và sử dụng nguyên liệu.
</desc>

<how name="Mô tả chức năng" [expanded]="true" [showIndex]="false">
  <step>Nút <b><i class="fa-regular fa-calendar"></i></b>: Chọn thời gian xem.</step>
  <step>Nút <b><i class="fa-regular fa-file-xmark"></i></b>: Xuất báo cáo dưới dạng excel.</step>
  <step>Nút <b><i class="fa-regular fa-chart-pie"></i></b>: Chọn loại báo cáo hàng hoá.</step>
</how>

<how name="Xem báo cáo hàng hóa">
  <step>
    Chọn
    <b><i class="fa-regular fa-calendar"></i></b>
    , chọn ngày bắt đầu và ngày kết thúc để xem báo cáo trong khoảng thời gian
    đó
  </step>

  <step>
    Xem các thông tin chính:
    <table border="1" cellspacing="0" cellpadding="5">
      <thead>
        <tr>
          <th>Mục báo cáo</th>
          <th>Ý nghĩa</th>
          <th>Xem chi tiết</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Tồn và nhập</td>
          <td>Tổng tiền hàng còn trong kho và hàng mới nhập về</td>
          <td>
            Nhấn  <b><i class="fa-regular fa-bars"></i></b> bên phải để xem
            chi tiết
          </td>
        </tr>
        <tr>
          <td>Xuất và sử dụng</td>
          <td>
            Tổng tiền hàng đã xuất ra hoặc dùng để pha chế, chế biến theo công
            thức
          </td>
          <td></td>
        </tr>
        <tr>
          <td>Còn lại</td>
          <td>
            Số lượng hàng còn lại sau khi trừ phần đã xuất và sử dụng. Tính
            bằng: Tồn + Nhập – Xuất – Sử dụng
          </td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </step>

  <step>
    Chọn kiểu báo cáo: Ấn vào <b><i class="fa-light fa-chart-pie"></i></b> và chọn kiểu
    báo cáo bạn muốn xem:
    <ul>
      <li>
        -<b>Xuất nhập theo ngày</b>: Xem chi tiết hàng ra vào theo từng ngày
      </li>
      <li>
        -<b>Xuất nhập theo đối tác</b>: Xem hàng ra vào theo từng nhà cung cấp
      </li>
      <li>-<b>Xuất nhập tồn theo hàng hóa</b>: Xem chi tiết từng mặt hàng</li>
    </ul>
  </step>

  <step>
    Trong báo cáo xuất nhập tồn:
    <ul>
      <li>-<b>Xuất</b>: Hàng đã trả về nhà cung cấp</li>
      <li>-<b>Nhập</b>: Hàng mới nhập vào</li>
      <li>-<b>Tồn</b>: Hàng còn lại trong kho</li>
    </ul>
  </step>

  <step>
    Xem chi tiết từng dòng dữ liệu: ở phía dưới màn hình, chọn vào dòng dữ liệu
    để xem chi tiết.
  </step>

  <step>
    Xuất báo cáo ra file Excel: nhấn vào
    <b><i class="fa-regular fa-file-xmark"></i></b> để tải báo cáo về máy dưới dạng
    bảng tính.
  </step>
</how>

<app-general-instructions></app-general-instructions>
