<desc>
  Hướng dẫn nhân viên các thao tác liên quan đến bán hàng như tạo, sửa, thêm khuyến mãi và thanh toán hoá đơn.
</desc>

<how name="Thao tác gọi món">
  <step>
    <b>Tạo hóa đơn mới</b>:
    Chọn một bàn trống
    -> Thêm món
    -> Nhấn <i class="fa-regular fa-floppy-disk"></i>
  </step>

  <step>
    <b>Chỉnh sửa hóa đơn</b>:
    Chọn bàn đang có hóa đơn
    -> Nhấn biểu tượng <i class="fa-regular fa-pen"></i>
    -> Sửa món (ấn <i class="fa-solid fa-plus"></i> để thêm món)
    -> Nhấn <i class="fa-regular fa-floppy-disk"></i>
  </step>

  <step>
    <b>Xem tổng hóa đơn</b>: Nhấn vào bàn hoặc hóa đơn để xem chi tiết tổng tiền, số lượng món, và trạng thái thanh toán
  </step>
</how>

<how name="Thêm chiết khấu và phụ phí">
  <step>
    Chọn bàn cần thao tác trên giao diện phần mềm
  </step>

  <step>
    Nhấn vào mục <i class="fa-solid fa-plus"></i><b>Khuyến mãi</b>, <b>Phụ thu</b> cho món hoặc bàn
  </step>

  <step>
    Nhập thông tin cần thêm, ví dụ: phí phục vụ, giảm giá món hoặc giảm tổng hóa đơn
  </step>

  <step>
    Nhấn <b>Cập nhật</b> để áp dụng thay đổi
  </step>

  <step>
    Nhấn biểu tượng <i class="fa-regular fa-floppy-disk"></i> để hoàn tất thao tác
  </step>

  <step>
    Để xoá khuyến mãi/phụ thu:
    - Nhấn biểu tượng <i class="fa-solid fa-trash"></i> ở ghi chú khuyến mãi/phụ thu
    - Chọn biểu tượng <i class="fa-regular fa-floppy-disk"></i> để hoàn tất
  </step>
</how>

<how name="Thao tác thanh toán">
  <step>
    Chọn bàn cần thanh toán trên giao diện phần mềm
  </step>

  <step>
    Nhấn vào nút <i class="fa-solid fa-dollar-sign"></i> và chọn <b>Tính tiền</b>
  </step>

  <step>
    Chọn phương thức thanh toán:
    <ul>
      <li>-<b>Tiền mặt</b>: chọn tiền mặt</li>
      <li>-<b>Grab</b>, <b>QR ngân hàng</b>, <b>Ví điện tử</b>: chọn phương thức tương ứng và nhấn xác nhận giao dịch
    </ul>
  </step>

  <step>
    Khi thanh toán thành công, hệ thống sẽ tự động in mã QR theo phương thức thanh toán (nếu có) trên hoá đơn
  </step>

  <step>
    Hoàn tất thanh toán: trạng thái hóa đơn sẽ chuyển sang <b>Đã thanh toán</b> và bàn sẽ được giải phóng cho khách tiếp theo
  </step>
</how>

<how name="Các thao tác khác">
  <step>
    <b>Xem lịch sử bàn</b>: <b>Nhấn giữ</b> bàn đang có hoá đơn để xem lịch sử trong ngày
  </step>

  <step>
    <b>Tách/Gộp bàn</b>: <b>Nhấn giữ</b> bàn đang có hoá đơn và <b>di chuyển</b> sang khu vực khác
  </step>

  <step>
    <b>Xem doanh số</b>: Chọn biểu tượng <i class="fa-light fa-chart-pie"></i> để xem <b>Doanh số bán hàng</b>
  </step>

  <step>
    <b>Tìm bàn nhanh</b>: Chọn các <b>số</b> trong dãy số bên dưới màn hình bàn
  </step>
</how>

<app-general-instructions></app-general-instructions>
