<div class="guide-container">
  <p>
    <strong>Mô tả:</strong>Hướng dẫn nhân viên thao tác liên quan đến bán hàng
    như tạo, sửa và thanh toán hoá đơn. Qua đó quản lý đơn hàng một cách nhanh
    chóng và chính xác.
  </p>

  <div class="section">
    <app-step-box>
      <h3 header>Thao tác gọi món <i class="fa-solid fa-eye"></i></h3>
      <div class="modal">
        <div class="row">
          <div class="icon"><i class="fas fa-hand-point-right"></i></div>
          <div class="line">
            Bước 1: Chọn biểu tượng
            <strong><i class="fa-solid fa-bars"></i></strong> góc trái trên
            cùng, chọn <b>Vận hành</b> sau đó truy cập
            <strong>Bán hàng</strong>.
          </div>
        </div>
        <div class="row">
          <div class="icon"><i class="fas fa-hand-point-right"></i></div>
          <div class="line">
            Bước 2.1: <b>Tạo hóa đơn mới</b>: Chọn một bàn trống → thêm món →
            nhấn <b><i class="fa-regular fa-floppy-disk"></i></b>.
          </div>
        </div>
        <div class="row">
          <div class="icon"><i class="fas fa-hand-point-right"></i></div>
          <div class="line">
            Bước 2.2: <b>Chỉnh sửa hóa đơn</b>: Chọn bàn đang có hóa đơn → nhấn
            biểu tượng <b><i class="fa-regular fa-pen"></i></b> → sửa món(ấn
            <b><i class="fa-solid fa-plus"></i></b> để thêm món) → nhấn
            <b><i class="fa-regular fa-floppy-disk"></i></b>.
          </div>
        </div>
        <div class="row">
          <div class="icon"><i class="fas fa-hand-point-right"></i></div>
          <div class="line">
            Bước 2.3: <b>Xem tổng hóa đơn</b>: Nhấn vào bàn hoặc hóa đơn để xem
            chi tiết tổng tiền, số lượng món, và trạng thái thanh toán.
          </div>
        </div>
      </div>
    </app-step-box>
  </div>

  <div class="section">
    <app-step-box>
      <h3 header>
        Thao tác thêm chiết khấu và phụ phí <i class="fa-solid fa-eye"></i>
      </h3>
      <div class="modal">
        <div class="row">
          <div class="icon"><i class="fas fa-hand-point-right"></i></div>
          <div class="line">
            Bước 1: Chọn bàn cần thao tác trên giao diện phần mềm.
          </div>
        </div>
        <div class="row">
          <div class="icon"><i class="fas fa-hand-point-right"></i></div>
          <div class="line">
            Bước 2: Nhấn vào mục
            <b><i class="fa-solid fa-plus"></i>Khuyến mãi</b>,
            <b>Phụ thu</b> cho món hoặc bàn.
          </div>
        </div>
        <div class="row">
          <div class="icon"><i class="fas fa-hand-point-right"></i></div>
          <div class="line">
            Bước 3: Nhập thông tin cần thêm, ví dụ: phí phục vụ, giảm giá món
            hoặc giảm tổng hóa đơn.
          </div>
        </div>
        <div class="row">
          <div class="icon"><i class="fas fa-hand-point-right"></i></div>
          <div class="line">
            Bước 4: Nhấn <b>Cập nhật</b> để áp dụng thay đổi.
          </div>
        </div>
        <div class="row">
          <div class="icon"><i class="fas fa-hand-point-right"></i></div>
          <div class="line">
            Bước 5: Nhấn biểu tượng
            <b><i class="fa-regular fa-floppy-disk"></i></b> để hoàn tất thao
            tác.
          </div>
        </div>
        <div class="row">
          <div class="icon"><i class="fas fa-hand-point-right"></i></div>
          <div class="line">
            Bước 6: Để xoá khuyến mãi/phụ thu nhấn biểu tượng
            <b><i class="fa-solid fa-trash"></i></b> ở ghi chú khuyến mãi/phụ
            thu, sau đó chọn biểu tượng
            <b><i class="fa-regular fa-floppy-disk"></i></b> để hoàn tất thao
            tác.
          </div>
        </div>
      </div>
    </app-step-box>
  </div>

  <div class="section">
    <app-step-box >
      <h3 header>Thao tác thanh toán <i class="fa-solid fa-eye"></i></h3>
      <div class="modal">
        <div class="row">
          <div class="icon"><i class="fas fa-hand-point-right"></i></div>
          <div class="line">
            Bước 1: Chọn bàn cần thanh toán trên giao diện phần mềm.
          </div>
        </div>
        <div class="row">
          <div class="icon"><i class="fas fa-hand-point-right"></i></div>
          <div class="line">
            Bước 2: Nhấn vào nút
            <b><i class="fa-solid fa-dollar-sign"></i></b> và chọn
            <b>Tính tiền</b>.
          </div>
        </div>
        <div class="row">
          <div class="icon"><i class="fas fa-hand-point-right"></i></div>
          <div class="line">
            Bước 3.1: Nếu khách thanh toán bằng tiền mặt, chọn <b>Tiền mặt</b>.
          </div>
        </div>
        <div class="row">
          <div class="icon"><i class="fas fa-hand-point-right"></i></div>
          <div class="line">
            Bước 3.2: Nếu khách thanh toán qua <b>Grab</b>,
            <b>QR ngân hàng</b> hoặc ví điện tử khác, chọn đúng phương thức
            thanh toán và nhấn <b>Xác nhận giao dịch</b>.
          </div>
        </div>
        <div class="row">
          <div class="icon"><i class="fas fa-hand-point-right"></i></div>
          <div class="line">
            Bước 3.3: Khi thanh toán thành công, hệ thống sẽ tự động in mã QR
            theo phương thức thanh toán(nếu có) trên hoá đơn.
          </div>
        </div>
        <div class="row">
          <div class="icon"><i class="fas fa-hand-point-right"></i></div>
          <div class="line">
            Bước 3.4: Hoàn tất thanh toán, trạng thái hóa đơn sẽ chuyển sang
            <b>Đã thanh toán</b> và bàn sẽ được giải phóng cho khách tiếp theo.
          </div>
        </div>
      </div>
    </app-step-box>
  </div>

  <div class="section">
    <app-step-box>
      <h3 header>Các thao tác khác <i class="fa-solid fa-eye"></i></h3>
      <div class="modal">
        <div class="row">
          <div class="icon"><i class="fas fa-hand-point-right"></i></div>
          <div class="line">
            Bước 1: <b>Nhấn giữ</b> bàn đang có hoá đơn để
            <b>xem lịch sử bàn</b> trong ngày.
          </div>
        </div>
        <div class="row">
          <div class="icon"><i class="fas fa-hand-point-right"></i></div>
          <div class="line">
            Bước 2: <b>Nhấn giữ</b> bàn đang có hoá đơn và <b>di chuyển</b> sang
            khu vực khác để <b>tách bàn</b> hoặc <b>gộp bàn</b>.
          </div>
        </div>
        <div class="row">
          <div class="icon"><i class="fas fa-hand-point-right"></i></div>
          <div class="line">
            Bước 3: Chọn biểu tượng
            <b><i class="fa-light fa-chart-pie"></i></b> để xem
            <b>Doanh số bán hàng</b>.
          </div>
        </div>
      </div>
    </app-step-box>
  </div>
</div>
