<desc>
  Các thao tác liên quan đến bán hàng như tạo, sửa, thêm khuyến mãi và thanh
  toán hoá đơn.
</desc>

<how name="Video hướng dẫn" [expanded]="true" class="video">
  <iframe width="100%" height="auto" src="https://www.youtube.com/embed/qxBxkQR8xB0?si=kj7_oMJTL9HrQdBd" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
</how>

<how name="Mô tả chức năng" [expanded]="true" [showIndex]="false">
  <step
    >Nút <b><i class="fa-regular fa-chart-pie"></i></b>: Xem báo cáo bán
    hàng</step
  >
  <step
    >Nút <b><i class="fa-regular fa-bell"></i></b>: Xem thông báo</step
  >
  <step
    >Nút <b><i class="fa-solid fa-microphone"></i></b>: Sử dụng micro</step
  >
  <step
    >Nút <b><i class="fa-solid fa-files"></i></b>: Xem các bàn được chọn</step
  >
  <step
    >Nút <b><i class="fa-regular fa-square-1"></i></b>: Các bàn trong cửa
    hàng</step
  >
  <step
    >Nút <b><i class="fa-regular fa-undo"></i></b>: Xoá gợi ý tìm kiếm bàn</step
  >
</how>

<how name="Thao tác gọi món">
  <step>
    <b>Tạo hóa đơn mới</b>: Chọn một bàn trống
    <i class="fa-regular fa-arrow-right"></i> Thêm món
    <i class="fa-regular fa-arrow-right"></i> Nhấn
    <b><i class="fa-regular fa-floppy-disk"></i></b>
  </step>

  <step>
    <b>Chỉnh sửa hóa đơn</b>: Chọn bàn đang có hóa đơn
    <i class="fa-regular fa-arrow-right"></i> Nhấn
    <b><i class="fa-regular fa-pen"></i></b>
    <i class="fa-regular fa-arrow-right"></i> Sửa món (ấn
    <b><i class="fa-solid fa-plus"></i></b> để thêm món)
    <i class="fa-regular fa-arrow-right"></i> Nhấn
    <b><i class="fa-regular fa-floppy-disk"></i></b>
  </step>

  <step>
    <b>Xem tổng hóa đơn</b>: Nhấn vào bàn hoặc hóa đơn để xem chi tiết tổng
    tiền, số lượng món, và trạng thái thanh toán
  </step>
</how>

<how name="Thêm chiết khấu và phụ phí">
  <step> Chọn bàn cần thao tác trên giao diện phần mềm </step>

  <step>
    Chọn <b><i class="fa-regular fa-plus-minus"></i></b> ở món muốn thêm khuyến
    mãi/phụ thu hoặc chọn vào
    <b> <i class="fa-regular fa-plus-minus"></i>Thêm khuyến mãi</b>,
    <b>phụ thu</b> để áp dụng cho cả hoá đơn.
  </step>

  <step>
    Nhập thông tin cần thêm, ví dụ: phí phục vụ, giảm giá món hoặc giảm tổng hóa
    đơn,... và ấn <b><i class="fa-regular fa-floppy-disk"></i></b> để áp dụng
    thay đổi.
  </step>

  <step>
    Nhấn <b><i class="fa-regular fa-floppy-disk"></i></b> để hoàn tất thao tác.
  </step>

  <step>
    Để xoá khuyến mãi/phụ thu, nhấn
    <b><i class="fa-solid fa-xmark"></i></b> ở ghi chú của khuyến mãi/phụ thu,
    sau đó chọn <b><i class="fa-regular fa-floppy-disk"></i></b> để hoàn tất
  </step>
</how>

<how name="Thao tác thanh toán">
  <step> Chọn bàn cần thanh toán trên giao diện phần mềm </step>

  <step>
    Nhấn vào nút <b><i class="fa-regular fa-cash-register"></i> </b>và chọn
    <b>Tính tiền</b>
  </step>

  <step>
    Đối với các phương thức thanh toán khác tiền mặt như <b>QR ngân hàng</b>,
    <b>Ví điện tử,...</b> thì chọn phương thức tương ứng và nhấn
    <b><i class="fa-solid fa-check"></i></b> để xác nhận giao dịch
  </step>

  <step>
    Khi thanh toán thành công, hệ thống sẽ tự động in mã QR theo phương thức
    thanh toán (nếu có) trên hoá đơn
  </step>
</how>

<how name="Xuất hoá đơn điện tử">
  <step>
    Thiết lập các thông tin liên quan đến xuất hoá đơn điện tử trong mục
    <b>Cấu hình cửa hàng</b>
  </step>

  <step>
    Chọn hoá đơn trong lịch sử hoá đơn hoặc ngay khi thanh toán, chọn
    <b><i class="fa-regular fa-circle-arrow-up"></i></b>.
  </step>

  <step> Chọn nút <b>Xuất hoá đơn</b> để có thể xuất hoá đơn điện tử. </step>
  <step>
    Các hoá đơn đã xuất sẽ được lưu lại ở phần mềm của bên cung cấp dịch vụ.
  </step>
</how>

<how name="Các thao tác khác">
  <step>
    <b>Xem lịch sử bàn</b>: <b>Nhấn giữ</b> bàn đang có hoá đơn để xem lịch sử
    trong ngày
  </step>

  <step>
    <b>Tách/Gộp bàn</b>: <b>Nhấn giữ</b> bàn đang có hoá đơn và
    <b>di chuyển</b> sang khu vực khác
  </step>

  <step>
    <b>Xem doanh số</b>: Chọn <i class="fa-light fa-chart-pie"></i> để xem
    <b>Doanh số bán hàng</b>
  </step>

  <step>
    <b>Tìm bàn nhanh</b>: Chọn các <b>số</b> trong dãy số bên dưới màn hình bàn
  </step>
</how>

<app-general-instructions></app-general-instructions>
