<div class="section in-app">
  <app-step-box>
    <h3 header>Hướng dẫn chung</h3>
    <i icon class="fa-solid fa-chevron-down"></i>
    <div class="modal">
      <div class="row">
        <div class="icon"><i class="fas fa-hand-point-right"></i></div>
        <div class="line">
          Chọn biểu tượng
          <b><i class="fa-solid fa-bars"></i></b> để mở thanh điều hướng.
        </div>
      </div>
      <div class="row">
        <div class="icon"><i class="fas fa-hand-point-right"></i></div>
        <div class="line">
          Chọn biểu tượng
          <b><i class="fa-solid fa-circle-question"></i></b> để xem hướng dẫn
          chức năng.
        </div>
      </div>
      <div class="row">
        <div class="icon"><i class="fas fa-hand-point-right"></i></div>
        <div class="line">
          Chọn biểu tượng
          <b><i class="fa-solid fa-grid"></i></b> để xem thông tin về danh sách cửa hàng, tài khoản và chính sách.
        </div>
      </div>
    </div>
  </app-step-box>
</div>
