<desc>Đặt hàng từ các đối tác, đảm bảo nhập hàng đầy đủ, chính xác và kịp thời.</desc>

<how name="Tạo đơn đặt hàng">
  <step>Chọn <b>Đối tác</b> mà cửa hàng muốn đặt hàng.</step>
  <step>Nhấn <b>Tạo đơn</b> để bắt đầu lập đơn hàng.</step>
  <step>Chọn các mặt hàng cần đặt từ danh sách.</step>
  <step>Nhập <b>số lượng</b> cho từng mặt hàng.</step>
  <step>Nhấn <b><i class="fa-regular fa-floppy-disk"></i></b> để lưu đơn đặt hàng.</step>
</how>

<how name="Quản lý đơn đặt hàng">
  <step>Để xoá đơn đặt: Chọn đơn cần xóa, sau đó nhấn <b><i class="fa-solid fa-trash"></i></b>.</step>
  <step>Để theo dõi trạng thái: Kiểm tra thông tin cập nhật tự động từ hệ thống.</step>
</how>

<how name="Tìm kiếm">
  <step>Để tìm đơn đặt hàng: Chọn  <b><i class="fa-solid fa-magnifying-glass"></i></b> trong màn hình quản lý đơn.</step>
  <step>Để tìm mặt hàng: Chọn  <b><i class="fa-solid fa-magnifying-glass"></i></b> trong màn hình đặt hàng.</step>
</how>

<app-general-instructions></app-general-instructions>
