<div class="guide-container">
  <div class="section in-app">
    <p>
      <strong>Mô tả:</strong> Hướng dẫn cửa hàng đặt hàng từ các đối tác, đảm
      bảo nhập hàng đầy đủ, chính xác và kịp thời.
    </p>
  </div>

  <div class="section in-app">
    <app-step-box>
      <h3 header>Tạo đơn và chọn mặt hàng</h3>
      <i icon class="fa-solid fa-eye"></i>
      <div class="modal">
        <div class="row">
          <div class="icon"><i class="fas fa-hand-point-right"></i></div>
          <div class="line">
            Bước 1: Chọn <b>Đối tác</b> mà cửa hàng muốn đặt hàng.
          </div>
        </div>
        <div class="row">
          <div class="icon"><i class="fas fa-hand-point-right"></i></div>
          <div class="line">
            Bước 2: Nhấn <b>Tạo đơn</b> để bắt đầu lập đơn hàng.
          </div>
        </div>
        <div class="row">
          <div class="icon"><i class="fas fa-hand-point-right"></i></div>
          <div class="line">
            Bước 3: Chọn các mặt hàng cần đặt và nhập <b>số lượng</b> tương ứng.
          </div>
        </div>
        <div class="row">
          <div class="icon"><i class="fas fa-hand-point-right"></i></div>
          <div class="line">
            Bước 4: Nhấn nút <b><i class="fa-regular fa-floppy-disk"></i></b> để
            lưu đơn đặt hàng.
          </div>
        </div>
        <div class="row">
          <div class="icon"><i class="fas fa-hand-point-right"></i></div>
          <div class="line">
            Bước 5: Hệ thống sẽ tự động gửi thông tin đơn hàng đến đối tác và
            cập nhật trạng thái đặt hàng trong phần mềm.
          </div>
        </div>
      </div>
    </app-step-box>
  </div>

  <div class="section in-app">
    <app-step-box>
      <h3 header>Các thao tác khác</h3>
      <i icon class="fa-solid fa-eye"></i>
      <div class="modal">
        <div class="row">
          <div class="icon"><i class="fas fa-hand-point-right"></i></div>
          <div class="line">
            Chọn biểu tượng
            <strong><i class="fa-solid fa-magnifying-glass"></i></strong> trong
            màn hình quản lý đơn đặt hàng để tìm đơn.
          </div>
        </div>
        <div class="row">
          <div class="icon"><i class="fas fa-hand-point-right"></i></div>
          <div class="line">
            Chọn biểu tượng
            <strong><i class="fa-solid fa-magnifying-glass"></i></strong> trong
            màn hình đặt hàng để tìm món.
          </div>
        </div>
      </div>
    </app-step-box>
  </div>
  <app-general-instructions></app-general-instructions>
</div>
