<div class="guide-container">
  <div class="section in-app">
    <p>
      <strong>Mô tả:</strong> Hướng dẫn nhân viên hoặc quản lý tạo và quản lý
      các phiếu thu, phiếu chi và chốt ca bán hàng.
    </p>
  </div>

  <div class="section in-app">
    <app-step-box>
      <h3 header>Khởi tạo phiếu thu/chi</h3>
      <i icon class="fa-solid fa-eye"></i>
      <div class="modal">
        <div class="row">
          <div class="icon"><i class="fas fa-hand-point-right"></i></div>
          <div class="line">
            <b>Bước 1:</b> Chọn biểu tượng
            <b><i class="fa-solid fa-plus"></i></b> để tạo phiếu mới.
          </div>
        </div>
        <div class="row">
          <div class="icon"><i class="fas fa-hand-point-right"></i></div>
          <div class="line">
            <b>Bước 2:</b> Chọn loại phiếu: <b>Phiếu thu</b> hoặc
            <b>Phiếu chi</b>.
          </div>
        </div>
        <div class="row">
          <div class="icon"><i class="fas fa-hand-point-right"></i></div>
          <div class="line">
            <b>Bước 3:</b> Nhập thông tin vào biểu mẫu và nhấn
            <b>Cập nhật</b> để lưu phiếu.
          </div>
        </div>
        <div class="row">
          <div class="icon"><i class="fas fa-hand-point-right"></i></div>
          <div class="line">
            <b>Bước 4:</b> Sau khi tạo phiếu, hệ thống sẽ cập nhật số liệu thu
            chi, giúp quản lý dễ dàng theo dõi báo cáo tài chính.
          </div>
        </div>
      </div>
    </app-step-box>
  </div>

  <div class="section in-app">
    <app-step-box>
      <h3 header>Các thao tác khác</h3>
      <i icon class="fa-solid fa-eye"></i>
      <div class="modal">
        <div class="row">
          <div class="icon"><i class="fas fa-hand-point-right"></i></div>
          <div class="line">
            <b>Bước 1:</b> Nếu muốn xóa phiếu, chọn biểu tượng
            <b><i class="fa-solid fa-trash"></i></b> và xác nhận thao tác.
          </div>
        </div>
        <div class="row">
          <div class="icon"><i class="fas fa-hand-point-right"></i></div>
          <div class="line">
            <b>Bước 2:</b> Nếu muốn sửa phiếu, ấn vào phiếu muốn sửa, sau đó sửa
            phiếu và ấn <b>Cập nhật</b> để lưu lại.
          </div>
        </div>
      </div>
    </app-step-box>
  </div>

  <div class="section in-app">
    <app-step-box>
      <h3 header>Tìm kiếm phiếu</h3>
      <i icon class="fa-solid fa-eye"></i>
      <div class="modal">
        <div class="row">
          <div class="icon"><i class="fa-solid fa-hand-point-right"></i></div>
          <div class="line">
            <b>Bước 1:</b> Chọn biểu tượng
            <strong><i class="fa-solid fa-magnifying-glass"></i></strong>.
          </div>
        </div>
        <div class="row">
          <div class="icon"><i class="fa-solid fa-hand-point-right"></i></div>
          <div class="line">
            <b>Bước 2:</b> Nhập <b>tên đối tác/nội dung/loại phiếu</b> để tìm kiếm.
          </div>
        </div>
      </div>
    </app-step-box>
  </div>

  <app-general-instructions></app-general-instructions>
</div>
