<desc>Tạo và quản lý các phiếu thu, phiếu chi trong ngày của cửa hàng.</desc>

<how name="Video hướng dẫn" [expanded]="true" class="video">
  <iframe width="100%" height="auto" src="https://www.youtube.com/embed/0KwrBK-II_U?si=mIk-KdJpa61Gjv3P" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
</how>

<how name="Mô tả chức năng" [expanded]="true" [showIndex]="false">
  <step>Nút <b><i class="fa-solid fa-plus"></i></b>: Thêm mới phiếu.</step>
  <step>Nút <b><i class="fa-solid fa-magnifying-glass"></i></b>: Tìm kiếm phiếu.</step>
  <step>Nút <b><i class="fa-solid fa-gear"></i></b>: Sửa, khoá hoặc xác nhận phiếu.</step>
  <step>Biểu tượng <b><i class="fa-solid fa-lock"></i></b>: Trạng thái đã khoá.</step>
  <step>Biểu tượng <b><i class="fa-solid fa-circle-check"></i></b>: Trạng thái đã xác nhận.</step>
  <step>Biểu tượng <b><i class="fa-regular fa-chevron-right"></i></b>: Danh sách chi tiết đang đóng.</step>
  <step>Biểu tượng <b><i class="fa-regular fa-chevron-down"></i></b>: Danh sách chi tiết đang mở.</step>
</how>

<how name="Khởi tạo phiếu thu/chi">
  <step>Chọn <b><i class="fa-solid fa-plus"></i></b> để tạo phiếu mới.</step>
  <step>Chọn loại phiếu: <b>Phiếu thu</b> hoặc <b>Phiếu chi</b>.</step>
  <step>Nhập thông tin vào biểu mẫu và nhấn <b><i class="fa-regular fa-floppy-disk"></i></b> để lưu phiếu.</step>
  <step>Sau khi tạo phiếu, hệ thống sẽ cập nhật số liệu thu chi, giúp quản lý dễ dàng theo dõi báo cáo tài chính.</step>
</how>

<how name="Quản lý phiếu">
  <step>Chọn phiếu trong danh sách để xem chi tiết.</step>
  <step>Chọn <b><i class="fa-solid fa-gear"></i></b> và chọn <b>Chỉnh sửa</b> hoặc ấn vào phiếu muốn sửa để sửa phiếu.</step>
  <step>Chọn <b><i class="fa-solid fa-gear"></i></b> và chọn <b>Xoá phiếu</b> để xóa phiếu.</step>
  <step>Chọn <b><i class="fa-solid fa-gear"></i></b> và chọn <b>Khoá phiếu</b> để khoá phiếu.</step>
  <step>Chọn <b><i class="fa-solid fa-gear"></i></b> và chọn <b>Xác nhận</b> để xác nhận phiếu.</step>
</how>

<app-general-instructions></app-general-instructions>
