<desc>Quản lý tạo và quản lý các phiếu thu, phiếu chi trong ngày của cửa hàng.</desc>

<how name="Khởi tạo phiếu thu/chi">
  <step>Chọn biểu tượng <b><i class="fa-solid fa-plus"></i></b> để tạo phiếu mới.</step>
  <step>Chọn loại phiếu: <b>Phiếu thu</b> hoặc <b>Phiếu chi</b>.</step>
  <step>Nhập thông tin vào biểu mẫu và nhấn <b><i class="fa-regular fa-floppy-disk"></i></b> để lưu phiếu.</step>
  <step>Sau khi tạo phiếu, hệ thống sẽ cập nhật số liệu thu chi, giúp quản lý dễ dàng theo dõi báo cáo tài chính.</step>
</how>

<how name="Quản lý phiếu">
  <step>Chọn <b><i class="fa-solid fa-gear"></i></b> và chọn <b>Xoá phiếu</b> để xóa phiếu .</step>
  <step>Ấn vào phiếu muốn sửa hoặc chọn <b><i class="fa-solid fa-gear"></i></b> và chọn <b>Chỉnh sửa</b> để sửa phiếu .</step>
  <step>Chọn <b><i class="fa-solid fa-gear"></i></b> và chọn <b>Khoá phiếu</b> để khoá phiếu .</step>
  <step>Chọn <b><i class="fa-solid fa-gear"></i></b> và chọn <b>Xác nhận</b> để xác nhận phiếu .</step>
</how>

<how name="Tìm kiếm phiếu">
  <step>Chọn biểu tượng <b><i class="fa-solid fa-magnifying-glass"></i></b> và nhập tên đối tác, ngày,... để tìm phiếu.</step>
</how>

<app-general-instructions></app-general-instructions>
