:host {
  display: flex;
  flex-direction: column;
}
.title-tutorial{
  display: flex;
  justify-content: space-between;
}

.title-tutorial:hover{
  cursor: pointer;
}

.content-tutorial{
  margin-top: 10px;
  border-top: 1px solid #e6e6e6;
}
