<div class="guide-container">
  <h2>14. Quy trình kiểm kê</h2>
  <p>
    <strong>Mô tả:</strong> Hướng dẫn nhân viên sử dụng chức năng kiểm kê hàng
    hoá tại cửa hàng để quản lý hàng hoá hiệu quả, tránh thất thoát.
  </p>

  <div class="section">
    <app-step-box>
      <h3 header>VIDEO HƯỚNG DẪN</h3>
      <h3 icon class="btn-image"><i class="fa-solid fa-image"></i> Xem clip</h3>
      <div class="modal video">
        <iframe
          src="https://www.youtube.com/embed/JZYXEAv_ckc?si=behBaWhmHQQ0nSqS"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          referrerpolicy="strict-origin-when-cross-origin"
          allowfullscreen
        ></iframe>
      </div>
    </app-step-box>
  </div>

  <div class="section">
    <app-step-box>
      <h3 header>a. Truy cập mục Kiểm kê</h3>
      <h3
        icon
        class="btn-image"
        (click)="
          emitShowImageEvent(
            'assets/images/kiem-ke-1.png',
            'Ảnh truy cập kiểm kê.'
          )
        "
      >
        <i class="fa-solid fa-image"></i> Xem ảnh
      </h3>
      <div class="modal">
        <div class="row">
          <div class="icon"><i class="fas fa-hand-point-right"></i></div>
          <div class="line">
            Bước 1: Chọn biểu tượng
            <strong><i class="fa-solid fa-bars"></i></strong> góc trái trên
            cùng,chọn <b>Vận hành</b> sau đó truy cập <strong>Kiểm kê</strong>.
          </div>
        </div>
      </div>
    </app-step-box>
  </div>

  <div class="section">
    <app-step-box>
      <h3 header>b. Hướng dẫn thao tác</h3>
      <h3
        icon
        class="btn-image"
        (click)="
          emitShowImageEvent(
            'assets/images/kiem-ke-2.png',
            'Ảnh truy cập kiểm kê.'
          )
        "
      >
        <i class="fa-solid fa-image"></i> Xem ảnh
      </h3>
      <div class="modal">
        <div class="row">
          <div class="icon"><i class="fas fa-hand-point-right"></i></div>
          <div class="line">
            Bước 1: Nhấn vào biểu tượng
            <b><i class="fa-regular fa-calendar"></i></b> để chọn thời gian kiểm
            theo ngày, tuần hoặc tháng.
          </div>
        </div>
        <div class="row">
          <div class="icon"><i class="fas fa-hand-point-right"></i></div>
          <div class="line">
            Bước 2: Nhấn vào biểu tượng
            <b><i class="fa-solid fa-plus"></i></b> để bắt đầu kiểm hàng.
          </div>
        </div>
        <div class="row">
          <div class="icon"><i class="fas fa-hand-point-right"></i></div>
          <div class="line">
            Bước 3: Chọn các mặt hàng cần kiểm ở <b>Danh sách hàng hoá</b> và
            điền <b>số lượng hàng hoá hiện có tại cửa hàng</b> tương ứng.Để xóa
            1 mặt hàng khỏi đơn kiểm, chọn biểu tượng
            <b><i class="fa-solid fa-trash"></i></b> ở mỗi mặt hàng.
          </div>
        </div>
        <div class="row">
          <div class="icon"><i class="fas fa-hand-point-right"></i></div>
          <div class="line">
            Bước 4: Nhấn nút <b><i class="fa-regular fa-floppy-disk"></i></b> để
            lưu phiếu kiểm .
          </div>
        </div>
        <div class="row">
          <div class="icon"><i class="fas fa-hand-point-right"></i></div>
          <div class="line">
            Bước 7: Đế sửa phiếu kiểm, chọn lại biểu tượng
            <b><i class="fa-solid fa-plus"></i></b>, sau đó chỉnh sửa rồi ấn
            <b><i class="fa-regular fa-floppy-disk"></i></b> để lưu lại.
          </div>
        </div>
        <div class="row">
          <div class="icon"><i class="fas fa-hand-point-right"></i></div>
          <div class="line">
            Bước 8: Đế xóa phiếu kiểm, chọn lại biểu tượng
            <b><i class="fa-solid fa-plus"></i></b>, sau đó chọn tượng
            <b><i class="fa-solid fa-trash"></i></b> ở góc trên bên phải để xóa.
          </div>
        </div>
        <div class="row">
          <div class="icon"><i class="fas fa-hand-point-right"></i></div>
          <div class="line">
            Bước 9: Đế xác nhận phiếu kiểm, chọn lại biểu tượng
            <b><i class="fa-solid fa-plus"></i></b>, sau đó chọn biểu tượng
            <b><i class="fa-solid fa-check"></i></b> để xác nhận.
          </div>
        </div>
        <div class="note">
          <p>
            (<b>Lưu ý:</b> Các phiếu kiểm sau khi xác nhận sẽ không sửa lại hay
            xoá được nữa.)
          </p>
        </div>
      </div>
    </app-step-box>
  </div>

  <div class="section">
    <app-step-box>
      <h3 header>c. Một số thông tin</h3>
      <div class="modal">
        <div class="row">
          <div class="icon"><i class="fas fa-hand-point-right"></i></div>
          <div class="line">
            <b>Tồn đầu:</b> Số lượng hàng hoá còn lại trong kho/cửa hàng tại
            thời điểm bắt đầu kỳ kiểm kê (ví dụ: đầu ngày, đầu tháng). Đây là số
            liệu mang sang từ cuối kỳ kiểm kê trước.
          </div>
        </div>
        <div class="row">
          <div class="icon"><i class="fas fa-hand-point-right"></i></div>
          <div class="line">
            <b>Nhập hàng:</b> Số lượng hàng hoá mà cửa hàng nhận thêm trong kỳ
            kiểm kê (ví dụ: nhập từ nhà cung cấp, từ kho tổng).
          </div>
        </div>
        <div class="row">
          <div class="icon"><i class="fas fa-hand-point-right"></i></div>
          <div class="line">
            <b>Xuất hàng:</b> Số lượng hàng hoá xuất ra trong kỳ. Có thể là trả
            hàng, chuyển đi cửa hàng khác, hoặc xuất cho mục đích khác.
          </div>
        </div>
        <div class="row">
          <div class="icon"><i class="fas fa-hand-point-right"></i></div>
          <div class="line">
            <b>Sử dụng:</b> Số lượng hàng hoá Sử dụng cho mục đích chế biến món.
            theo công thức.
          </div>
        </div>
        <div class="row">
          <div class="icon"><i class="fas fa-hand-point-right"></i></div>
          <div class="line">
            <b>Huỷ hàng:</b> Số lượng hàng bị loại bỏ vì hư hỏng, hết hạn, hoặc
            không còn sử dụng được. theo công thức.
          </div>
        </div>
        <div class="row">
          <div class="icon"><i class="fas fa-hand-point-right"></i></div>
          <div class="line">
            <b>Ước tính còn:</b> số lượng hàng hoá còn lại theo tính toán của hệ
            thống vào cuối kỳ.
            <b
              >(Công thức: Ước tính còn = Tồn đầu + Nhập hàng - Xuất hàng - Huỷ
              hàng - Sử dụng).</b
            >
          </div>
        </div>
        <div class="row">
          <div class="icon"><i class="fas fa-hand-point-right"></i></div>
          <div class="line">
            <b> Kiểm thực tế:</b> Số lượng hàng hoá được nhân viên kiểm kê thực
            tế tại cửa hàng.
          </div>
        </div>
        <div class="row">
          <div class="icon"><i class="fas fa-hand-point-right"></i></div>
          <div class="line">
            <b> Chênh lệch:</b> Phần khác nhau giữa <b>ước tính còn</b> và
            <b>kiểm thực tế.</b
            ><b>(Công thức tính: Chênh lệch = Kiểm thực tế - Ước tính còn).</b>
          </div>
        </div>
      </div>
    </app-step-box>
  </div>
</div>
