<div class="guide-container">
    <h2>📦 11. Quy trình kiểm kê</h2>
    <p>
        <strong>Mô tả:</strong>Hướng dẫn cửa hàng nhập/xuất từ các đối tác, đảm bảo nhập hàng đầy đủ, chính xác và kịp
        thời.
    </p>

    <div class="section">
        <h3>a. Truy cập mục Kiểm kê.</h3>
        <div class="row">
            <div class="icon"><i class="fas fa-hand-point-right"></i></div>
            <div class="line">Bước 1: Chọn biểu tượng <strong><i class="fa-solid fa-bars"></i></strong> góc trái trên
                cùng, sau đó truy cập
                <strong>Kiểm kê</strong>.
            </div>
        </div>
        <!-- <div class="row">
        <div class="icon"><i class="fas fa-hand-point-right"></i></div>
        <div class="line">Bước 2: Nhấn vào biểu tượng <b><i class="fa-solid fa-plus"></i></b>
        </div>
      </div> -->
    </div>

    <div class="section">
        <h3>b. Hướng dẫn thao tác.</h3>
        <div class="row">
            <div class="icon"><i class="fas fa-hand-point-right"></i></div>
            <div class="line">Bước 1: Nhấn vào biểu tượng <b><i class="fa-solid fa-plus"></i>Kiểm</b>
            </div>
        </div>
        <div class="row">
            <div class="icon"><i class="fas fa-hand-point-right"></i></div>
            <div class="line">Bước 2: Chọn các mặt hàng cần kiểm ở <b>Tất cả hàng hóa</b> hoặc <b>các tùy chọn khác</b> và điền <b>Số lượng</b> tương ứng.Để xóa 1 mặt hàng khỏi đơn kiểm, chọn biểu tượng <b><i class="fa-solid fa-trash"></i></b> ở mỗi mặt hàng.</div>
        </div>
        <div class="row">
            <div class="icon"><i class="fas fa-hand-point-right"></i></div>
            <div class="line">Bước 3: Nhấn nút <b><i class="fa-solid fa-floppy-disk"></i></b> để lưu thao tác kiểm.</div>
        </div>
        <!-- <div class="row">
            <div class="icon"><i class="fas fa-hand-point-right"></i></div>
            <div class="line">Bước 7: Đế sửa đơn nhập,trong danh sách đơn nhập/xuất, chọn biểu tượng <b><i class="fa-solid fa-gear"></i></b> của đơn hàng.Sau đó chỉnh sửa rồi ấn <b><i class="fa-solid fa-floppy-disk"></i></b> để lưu lại.</div>
        </div>
        <div class="row">
            <div class="icon"><i class="fas fa-hand-point-right"></i></div>
            <div class="line">Bước 8: Đế xóa đơn nhập,trong danh sách đơn nhập/xuất, chọn biểu tượng <b><i class="fa-solid fa-gear"></i></b> của đơn hàng.Sau đó chọn tượng <b><i class="fa-solid fa-trash"></i></b> ở góc trên bên phải để xóa.</div>
        </div>
        <div class="row">
            <div class="icon"><i class="fas fa-hand-point-right"></i></div>
            <div class="line">Bước 9: Đế xác nhận đơn nhập,trong danh sách đơn nhập/xuất, chọn biểu tượng <b><i class="fa-solid fa-gear"></i></b> của đơn hàng.Sau đó chọn <b>Xác nhận</b> ở góc trên bên phải để xác nhận đơn.</div>
        </div> -->
    </div>
</div>
