<desc>Khởi tạo và quản lý các đầu mục thuế phí cho cửa hàng.</desc>

<how name="Hướng dẫn thực hiện">
  <step >Chọn biểu tượng <b><i class="fa-solid fa-plus"></i></b> để thêm mới thuế/phí.</step>
  <step >Nhập thông tin thuế/phí (<i>tên, loại, giá trị,...</i>).</step>
  <step>Nhấn <b><i class="fa-regular fa-floppy-disk"></i></b> để lưu thông tin.</step>
  <step>Để xem danh sách áp dụng, chọn vào <b>tên của thuế/phí</b>.</step>
  <step>Để thêm đối tượng áp dụng: chọn <b>tên của thuế/phí</b>, sau đó ấn vào <b><i class="fa-solid fa-plus"></i></b> và chọn các <b>đối tác/cửa hàng</b> muốn áp dụng rồi ấn <b><i class="fa-regular fa-floppy-disk"></i></b> để lưu.</step>
  <step>Để bỏ đối tượng áp dụng: chọn <b>tên của thuế/phí</b>, sau đó chọn <b><i class="fa-solid fa-trash"></i></b> ở đối tượng muốn bỏ và ấn <b><i class="fa-regular fa-floppy-disk"></i></b> để lưu.</step>
  <step>Để sửa thuế/phí: chọn biểu tượng <b><i class="fa-regular fa-gear"></i></b> và chọn <b>Chỉnh sửa</b>.</step>
  <step>Để xoá thuế/phí: chọn biểu tượng <b><i class="fa-regular fa-gear"></i></b> và chọn <b>Xoá phí</b>.</step>
</how>

<how name="Tìm kiếm thuế phí">
  <step>Chọn biểu tượng <b><i class="fa-solid fa-magnifying-glass"></i></b>.</step>
  <step>Nhập tên thuế/phí để tìm kiếm.</step>
</how>

<app-general-instructions></app-general-instructions>
