<desc>Khởi tạo và quản lý các đầu mục thuế phí cho cửa hàng.</desc>

<how name="Video hướng dẫn" [expanded]="true" class="video" *ngIf="!isMobile">
<iframe width="100%" height="auto" src="https://www.youtube.com/embed/In8Q9mtZODo?si=2r1_uBh2te4cgMpB" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
</how>

<how name="Video hướng dẫn" [expanded]="true" class="video" *ngIf="isMobile">
<iframe width="100%" height="auto" src="https://www.youtube.com/embed/WOzMmwJM0Uc?si=DGQSmhpnLPWgn9Mo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
</how>

<how name="Mô tả chức năng" [expanded]="true" [showIndex]="false">

  <step>Nút <b><i class="fa-regular fa-magnifying-glass"></i></b>: Tìm kiếm thuế, phí.</step>
  <step>Nút <b><i class="fa-solid fa-plus"></i></b>: Thêm mới thuế, phí.</step>
  <step>Nút <b><i class="fa-regular fa-floppy-disk"></i></b>: Lưu thuế, phí.</step>
  <step>Nút <b><i class="fa-regular fa-gear"></i></b>: Chỉnh sửa hoặc xoá thuế, phí.</step>
  <step>Biểu tượng <b><i class="fa-solid fa-chevron-right"></i></b>: Danh sách chi tiết đang đóng.</step>
  <step>Biểu tượng <b><i class="fa-solid fa-chevron-down"></i></b>: Danh sách cho tiết đang mở.</step>

</how>

<how name="Hướng dẫn thực hiện">
  <step >Chọn  <b><i class="fa-solid fa-plus"></i></b> để thêm mới thuế/phí.</step>
  <step >Nhập thông tin thuế/phí (<i>tên, loại, giá trị,...</i>).</step>
  <step>Nhấn <b><i class="fa-regular fa-floppy-disk"></i></b> để lưu thông tin.</step>
  <step>Để xem danh sách áp dụng, chọn vào <b>tên của thuế/phí</b>.</step>
  <step>Để thêm cửa hàng, đối tác áp dụng: chọn <b>tên của thuế/phí</b>, sau đó ấn vào <b><i class="fa-solid fa-plus"></i></b> và chọn các <b>đối tác/cửa hàng</b> muốn áp dụng rồi ấn <b><i class="fa-regular fa-floppy-disk"></i></b> để lưu.</step>
  <step>Để bỏ cửa hàng, đối tác áp dụng: chọn <b>tên của thuế/phí</b>, sau đó chọn <b><i class="fa-solid fa-trash"></i></b> ở đối tượng muốn bỏ và ấn <b><i class="fa-regular fa-floppy-disk"></i></b> để lưu.</step>
  <step>Để sửa thuế/phí: chọn  <b><i class="fa-regular fa-gear"></i></b> và chọn <b>Chỉnh sửa</b>.</step>
  <step>Để xoá thuế/phí: chọn  <b><i class="fa-regular fa-gear"></i></b> và chọn <b>Xoá phí</b>.</step>
</how>

<app-general-instructions></app-general-instructions>
