<div class="guide-container">
  <div class="description">
    <p>
       Hướng dẫn quản lý các thông tin tài khoản người
      dùng, đồng bộ dữ liệu và đăng xuất khỏi thiết bị.
    </p>
  </div>

  <div class="section in-app">
    <app-step-box>
      <h3 header>Sửa thông tin người dùng</h3>
      <i icon class="fa-solid fa-chevron-down"></i>
      <div class="modal">
        <div class="row">
          <div class="icon"><i class="fas fa-hand-point-right"></i></div>
          <div class="line">
            <b>Bước 1:</b> Chọn biểu tượng
            <b><i class="fa-regular fa-pen"></i></b> để sửa thông tin người
            dùng.
          </div>
        </div>
        <div class="row">
          <div class="icon"><i class="fas fa-hand-point-right"></i></div>
          <div class="line"><b>Bước 2:</b> Ấn <b>Cập nhật</b> để hoàn tất.</div>
        </div>
      </div>
    </app-step-box>
  </div>

  <div class="section in-app">
    <app-step-box>
      <h3 header>Một số chức năng khác</h3>
      <i icon class="fa-solid fa-chevron-down"></i>
      <div class="modal">
        <div class="row">
          <div class="icon"><i class="fas fa-hand-point-right"></i></div>
          <div class="line">
            Chọn <b>Đăng xuất</b> để đăng xuất khỏi tài khoản.
          </div>
        </div>
        <div class="row">
          <div class="icon"><i class="fas fa-hand-point-right"></i></div>
          <div class="line">
            Chọn <b>Đồng bộ lại</b> để đồng bộ lại toàn bộ dữ liệu từ máy chủ.
          </div>
        </div>
        <div class="row">
          <div class="icon"><i class="fas fa-hand-point-right"></i></div>
          <div class="line">
            Chọn <b>Phân quyền</b> để xem các quyền được cấp tại các cửa hàng.
          </div>
        </div>
        <div class="row">
          <div class="icon"><i class="fas fa-hand-point-right"></i></div>
          <div class="line">
            Chọn <b>Sở hữu</b> để xem các cửa hàng thuộc quyền sở hữu bởi tài
            khoản.
          </div>
        </div>
        <div class="row">
          <div class="icon"><i class="fas fa-hand-point-right"></i></div>
          <div class="line">
            Chọn <b>Được chia sẻ</b> để xem các cửa hàng được chia sẻ cho tài khoản.
          </div>
        </div>
      </div>
    </app-step-box>
  </div>

  <app-general-instructions></app-general-instructions>
</div>
