<desc>Hướng dẫn quản lý các thông tin tài khoản người dùng, đồng bộ dữ liệu và đăng xuất khỏi thiết bị.</desc>

<how name="Sửa thông tin người dùng">
  <step>Chọn <b><i class="fa-regular fa-pen"></i></b> để sửa thông tin người dùng.</step>
  <step>Ấn <b><i class="fa-regular fa-floppy-disk"></i></b> để hoàn tất.</step>
</how>

<how name="Các chức năng khác">
  <step>Chọn <b>Đăng xuất</b> để đăng xuất khỏi tài khoản.</step>
  <step>Chọn <b>Đồng bộ lại</b> để đồng bộ lại toàn bộ dữ liệu từ máy chủ.</step>
  <step>Chọn <b>Phân quyền</b> để xem các quyền được cấp tại các cửa hàng.</step>
  <step>Chọn <b>Sở hữu</b> để xem các cửa hàng thuộc quyền sở hữu bởi tài khoản.</step>
  <step>Chọn <b>Được chia sẻ</b> để xem các cửa hàng được chia sẻ cho tài khoản.</step>
</how>

<app-general-instructions></app-general-instructions>
