<desc>Hướng dẫn quản lý các thông tin tài khoản người dùng, đồng bộ dữ liệu và đăng xuất khỏi thiết bị.</desc>

<how name="Mô tả chức năng" [expanded]="true" [showIndex]="false">
  <step>Nút <b><i class="fa-regular fa-pen"></i></b>: Sửa thông tin.</step>
  <step>Nút <b><i class="fa-regular fa-floppy-disk"></i></b>: Lưu thông tin.</step>
  <step>Nút <b><i class="fa-regular fa-phone"></i></b>: Liên lạc với người giới thiệu qua số điện thoại.</step>
  <step>Nút <b><i class="fa-regular fa-envelope"></i></b>: Liên lạc với người giới thiệu qua email.</step>
</how>

<how name="Các chức năng khác">
  <step>Chọn <b>Đăng xuất</b> để đăng xuất khỏi tài khoản.</step>
  <step>Chọn <b>Đồng bộ lại</b> để đồng bộ lại toàn bộ dữ liệu từ máy chủ.</step>
  <step>Chọn <b>Người giới thiệu</b> để xem thông tin người giới thiệu bạn sử dụng phần mềm.</step>
  <step>Chọn <b>Phân quyền</b> để xem các quyền được cấp tại các cửa hàng.</step>
  <step>Chọn <b>Sở hữu</b> để xem các cửa hàng thuộc quyền sở hữu bởi tài khoản.</step>
  <step>Chọn <b>Được chia sẻ</b> để xem các cửa hàng được chia sẻ cho tài khoản.</step>
</how>

<app-general-instructions></app-general-instructions>
