<desc>
  Thiết lập nhân sự, thêm mới thông tin về nhân viên và phân quyền theo vai trò.
</desc>

<how name="Mô tả chức năng" [expanded]="true" [showIndex]="false">

  <step>Nút <b><i class="fa-regular fa-magnifying-glass"></i></b>: Tìm kếm nhân sự</step>
  <step>Nút <b><i class="fa-solid fa-plus"></i></b>: Thêm mới nhân sự</step>
  <step>Nút <b><i class="fa-regular fa-floppy-disk"></i></b>: Lưu nhân sự</step>
  <step>Nút <b><i class="fa-solid fa-trash"></i></b>: Xoá nhân sự</step>

  <step>Biểu tượng <b><i class="fa-regular fa-user-tie"></i></b>: Quyền quản lý</step>
  <step>Biểu tượng <b><i class="fa-regular fa-cash-register"></i></b>: Quyền thu ngân</step>
  <step>Biểu tượng <b><i class="fa-regular fa-shield"></i></b>: Quyền bảo vệ</step>
  <step>Biểu tượng <b><i class="fa-regular fa-blender"></i></b>: Quyền pha chế</step>
  <step>Biểu tượng <b><i class="fa-regular fa-bell"></i></b>: Quyền phục vụ</step>
</how>

<how name="Thêm nhân viên mới">
  <step>
    Nhấn vào dấu <b><i class="fa-solid fa-plus"></i></b> để thêm nhân viên mới
  </step>

  <step>
    Nhập thông tin nhân viên:
    <b>Họ tên</b>,
    <b>mã PIN</b>,
    <b>phân quyền</b>
  </step>

  <step>
    Nhấn  <b><i class="fa-regular fa-floppy-disk"></i></b> để hoàn tất
  </step>
</how>

<how name="Chỉnh sửa nhân viên">
  <step>
    Chọn nhân viên muốn sửa, sau đó nhập lại các thông tin rồi ấn <b><i class="fa-regular fa-floppy-disk"></i> </b>để hoàn tất
  </step>

  <step>
    Nếu muốn xóa nhân viên, ấn nhân viên cần xóa rồi nhấn  <b><i class="fa-solid fa-trash"></i></b>
  </step>
</how>

<app-general-instructions></app-general-instructions>
