<div class="guide-container">
  <div class="section in-app">
    <p>
      <strong>Mô tả:</strong> Thiết lập danh sách đối tác giúp bạn quản lý nhà
      cung cấp, khách hàng hoặc đối tác dịch vụ một cách đầy đủ và thuận tiện.
      Hãy làm theo các bước sau để thêm và Cấu hình đối tác.
    </p>
  </div>

  <div class="section in-app">
    <app-step-box>
      <h3 header>Thêm đối tác</h3>
      <i icon class="fa-solid fa-eye"></i>
      <div class="modal">
        <div class="row">
          <div class="icon"><i class="fas fa-hand-point-right"></i></div>
          <div class="line">
            <b>Bước 1:</b> Nhấn nút <b><i class="fa-solid fa-plus"></i></b> để
            thêm mới.
          </div>
        </div>
        <div class="row">
          <div class="icon"><i class="fas fa-hand-point-right"></i></div>
          <div class="line">
            <b>Bước 2:</b> Nhập thông tin đối tác (tên, số điện thoại, địa chỉ…)
            rồi nhấn <b>Cập nhật</b> để lưu.
          </div>
        </div>
      </div>
    </app-step-box>
  </div>

  <div class="section in-app">
    <app-step-box>
      <h3 header>
        Cấu hình chi tiết cho đối tác
      </h3>
       <i icon class="fa-solid fa-eye"></i>
      <div class="modal">
        <div class="row">
          <div class="icon"><i class="fas fa-hand-point-right"></i></div>
          <div class="line">
            <b>Bước 1:</b> Nhấn vào <b>tên đối tác</b> muốn chỉnh sửa.
          </div>
        </div>
        <div class="row">
          <div class="icon"><i class="fas fa-hand-point-right"></i></div>
          <div class="line">
            <b>Bước 2:</b> Chọn biểu tượng
            <b><i class="fa-regular fa-circle-info"></i></b> để sửa thông tin
            đối tác, sau dó ấn <b><i class="fa-solid fa-floppy-disk"></i></b> để
            hoàn tất
          </div>
        </div>
        <div class="row">
          <div class="icon"><i class="fas fa-hand-point-right"></i></div>
          <div class="line">
            <b>Bước 3:</b> Chọn biểu tượng
            <b><i class="fa-regular fa-bolt"></i></b> để thêm dịch vụ của đối
            tác, sau đó ấn <b><i class="fa-solid fa-floppy-disk"></i></b> để
            hoàn tất
          </div>
        </div>
        <div class="row">
          <div class="icon"><i class="fas fa-hand-point-right"></i></div>
          <div class="line">
            <b>Bước 4:</b> Chọn biểu tượng
            <b><i class="fa-sharp fa-light fa-boxes-stacked"></i></b> để thêm
            hàng hoá của đối tác, sau đó ấn
            <b><i class="fa-solid fa-floppy-disk"></i></b> để hoàn tất
          </div>
        </div>
        <div class="row">
          <div class="icon"><i class="fas fa-hand-point-right"></i></div>
          <div class="line">
            <b>Bước 5:</b> Chọn biểu tượng
            <b><i class="fa-regular fa-house"></i></b> để thêm tài khoản ngân
            hàng của đối tác, sau đó ấn
            <b><i class="fa-solid fa-floppy-disk"></i></b> để hoàn tất
          </div>
        </div>
      </div>
    </app-step-box>
  </div>
  <div class="section in-app">
    <app-step-box>
      <h3 header>Tìm kiếm đối tác</h3>
      <i icon class="fa-solid fa-eye"></i>
      <div class="modal">
        <div class="row">
          <div class="icon"><i class="fa-solid fa-hand-point-right"></i></div>
          <div class="line">
            <b>Bước 1:</b> Chọn biểu tượng
            <strong><i class="fa-solid fa-magnifying-glass"></i></strong>.
          </div>
        </div>
        <div class="row">
          <div class="icon"><i class="fa-solid fa-hand-point-right"></i></div>
          <div class="line">
            <b>Bước 2:</b> Nhập <b>tên dối tác</b> cửa hàng để tìm kiếm.
          </div>
        </div>
      </div>
    </app-step-box>
  </div>
  <app-general-instructions></app-general-instructions>
</div>
