<desc>Thiết lập danh sách đối tác giúp bạn quản lý nhà cung cấp, khách hàng hoặc đối tác dịch vụ một cách đầy đủ và thuận tiện.</desc>

<how name="Thêm đối tác mới">
  <step>Nhấn nút <b><i class="fa-solid fa-plus"></i></b> để thêm mới.</step>
  <step>Nhập thông tin đối tác (tên, số điện thoại, địa chỉ...) rồi nhấn <b><i class="fa-regular fa-floppy-disk"></i></b> để lưu.</step>

</how>

<how name="Cài đặt thông tin đối tác">
  <step>Nhấn vào <b>tên đối tác</b> muốn chỉnh sửa.</step>
  <step>Chọn  <b><i class="fa-regular fa-circle-info"></i></b> và chọn <b><i class="fa-regular fa-pen"></i></b>  để sửa thông tin đối tác, sau đó ấn <b><i class="fa-regular fa-check"></i></b> để hoàn tất.</step>
  <step>Chọn  <b><i class="fa-regular fa-bolt"></i></b> để thêm dịch vụ của đối tác, sau đó ấn <b><i class="fa-regular fa-check"></i></b> để hoàn tất.</step>
  <step>Chọn  <b><i class="fa-sharp fa-light fa-boxes-stacked"></i></b> để thêm hàng hoá của đối tác, sau đó ấn <b><i class="fa-regular fa-check"></i></b> để hoàn tất.</step>
  <step>Chọn  <b><i class="fa-bank fal"></i></b> để thêm tài khoản ngân hàng của đối tác, sau đó ấn <b><i class="fa-regular fa-check"></i></b> để hoàn tất.</step>
  <step>Chọn  <b><i class="fa-solid fa-trash"></i></b> để xoá đối tác.</step>
</how>

<how name="Tìm kiếm đối tác">
  <step>Chọn  <b><i class="fa-solid fa-magnifying-glass"></i></b>.</step>
  <step>Nhập <b>tên đối tác</b> để tìm kiếm.</step>
</how>

<app-general-instructions></app-general-instructions>
