<desc>Một số thông tin , diễn giải về các ký hiệu và nút bấm trong danh sách áp dụng chính sách xuất hàng giữa các cửa hàng.</desc>

<how name="Mô tả chức năng" [expanded]="true" [showIndex]="false">

  <step>Nút <b><i class="fa-regular fa-boxes-stacked"></i></b>: Danh sách hàng hoá</step>
  <step>Nút <b><i class="fa-regular fa-user-tie"></i></b>: Danh sách cửa hàng, đối tác</step>
  <step>Nút <b><i class="fa-regular fa-magnifying-glass"></i></b>: Tìm kếm hàng hoá, cửa hàng</step>
  <step>Nút <b><i class="fa-solid fa-plus"></i></b>: Thêm hàng hoá, cửa hàng vào danh sách</step>
  <step>Nút <b><i class="fa-regular fa-floppy-disk"></i></b>: Lưu danh sách hàng hoá, cửa hàng đã chọn</step>
  <step>Nút <b><i class="fa-solid fa-trash"></i></b>: Xoá hàng hoá, cửa hàng đã chọn</step>
  <step>Nút <b><i class="fa-solid fa-list"></i></b>: Xem danh sách hàng hoá, đối tác đã chọn</step>
  <step>Nút <b><i class="fa-solid fa-arrow-left"></i></b>: Hoàn tác</step>
  <step>Nút <b><i class="fa-solid fa-arrow-right"></i></b>: Làm lại</step>

</how>

