<desc>Thiết lập khách hàng và các chính sách dành cho khách hàng của cửa hàng.</desc>

<how name="Video hướng dẫn" [expanded]="true" class="video" *ngIf="!isMobile">
<iframe width="100%" height="auto" src="https://www.youtube.com/embed/Vz7MOyhYXGk?si=YGqArDmHPHW-YeIL" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
</how>

<how name="Video hướng dẫn" [expanded]="true" class="video" *ngIf="isMobile">
<iframe width="100%" height="auto" src="https://www.youtube.com/embed/_NIPjb0osaE?si=3E5rofcWUukKqvGb" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
</how>

<how name="Mô tả chức năng" [expanded]="true" [showIndex]="false">
  <step>Nút <b><i class="fa-regular fa-magnifying-glass"></i></b>: Tìm kếm khách hàng</step>
  <step>Nút <b><i class="fa-solid fa-plus"></i></b>: Thêm mới khách hàng, chính sách</step>
  <step>Nút <b><i class="fa-regular fa-floppy-disk"></i></b>: Lưu khách hàng, chính sách</step>
  <step>Nút <b><i class="fa-regular fa-gear"></i></b>: Cài đặt khách hàng, chính sách</step>
  <step>Biểu tượng <b><i class="fa-regular fa-chevron-right"></i></b>: Chi tiết chính sách đang đóng.</step>
  <step>Biểu tượng <b><i class="fa-regular fa-chevron-down"></i></b>: Chi tiết chính sách đang mở.</step>
</how>

<how name="Tạo mới khách hàng">
  <step>Nhấn vào dấu <strong><i class="fa-solid fa-plus"></i></strong> và chọn <b>Tạo khách hàng</b> để <b>thêm khách hàng mới</b>.</step>
  <step>Nhập thông tin khách hàng trong biểu mẫu và lựa chọn chính sách phù hợp.</step>
  <step>Nhấn biểu tượng <strong><i class="fa-regular fa-floppy-disk"></i></strong> để hoàn tất.</step>
</how>

<how name="Chỉnh sửa khách hàng">
  <step>Chọn chính sách chứa khách hàng muốn sửa/xoá, sau đó tìm đến khách hàng đó, chọn biểu tượng <b><i class="fa-regular fa-gear"></i></b> và chọn thao tác theo nhu cầu.</step>
  <step>Sau khi thao tác xong, hãy ấn <b><i class="fa-regular fa-floppy-disk"></i></b> để hoàn tất.</step>
</how>

<how name="Tạo mới chính sách">
  <step>Nhấn vào dấu <strong><i class="fa-solid fa-plus"></i></strong> và chọn <b>Tạo chính sách</b> để <b>thêm chính sách mới</b>.</step>
  <step>Nhập thông tin chính sách trong biểu mẫu.</step>
  <step>Nhấn biểu tượng <strong><i class="fa-regular fa-floppy-disk"></i></strong> để hoàn tất.</step>
</how>

<how name="Chỉnh sửa chính sách">
  <step>Chọn chính sách muốn sửa, sau đó chọn biểu tượng <b><i class="fa-regular fa-gear"></i></b> và chọn <b>Chính sửa</b>.</step>
  <step>Sau khi cập nhật lại thông tin chính sách, hãy ấn <b><i class="fa-regular fa-floppy-disk"></i></b> để hoàn tất.</step>
</how>

<how name="Các thao tác khác">
  <step>Chọn biểu tượng <b><i class="fa-solid fa-magnifying-glass"></i></b> để tìm kiếm nhanh theo tên khách hàng.</step>
</how>

<app-general-instructions></app-general-instructions>

