<desc>Thiết lập các chính sách giá bán khác nhau theo thời gian, sự kiện.</desc>

<how name="Quản lý chính sách">
  <step>Chọn biểu tượng <b><i class="fa-solid fa-plus"></i></b> để thêm mới chính sách giá.</step>
  <step>Nhập thông tin chính sách và nhấn <b><i class="fa-regular fa-floppy-disk"></i></b> để lưu lại.</step>
  <step>Để sửa chính sách giá, chọn biểu tượng <b><i class="fa-regular fa-gear"></i></b> và chọn <b>Sửa chính sách</b>.</step>
  <step>Để xoá chính sách giá, chọn biểu tượng <b><i class="fa-regular fa-gear"></i></b> và chọn <b>Xoá chính sách</b>.</step>
</how>

<how name="Quản lý món trong chính sách">
  <step>Chọn chính sách muốn cấu hình, chọn <b>Thực đơn</b> và chọn biểu tượng <b><i class="fa-solid fa-plus"></i></b>.</step>
  <step>Ở khung chọn món, chọn <b><i class="fa-solid fa-list"></i></b> và tích vào các món muốn thêm.</step>
  <step>Dùng <b><i class="fa-regular fa-circle-check"></i></b> để xem món đã chọn và <b><i class="fa-regular fa-circle"></i></b> để xem món chưa chọn.</step>
  <step>Chọn <b><i class="fa-regular fa-floppy-disk"></i></b> để thêm các món vào chính sách.</step>
  <step>Để sửa món, chọn <b><i class="fa-regular fa-gear"></i></b> rồi <b>Sửa món</b> và điều chỉnh thông tin.</step>
  <step>Để xoá món, chọn <b><i class="fa-regular fa-gear"></i></b> và chọn <b>Xoá món</b>.</step>
  <step>Để khôi phục món, chọn <b><i class="fa-regular fa-gear"></i></b> và chọn <b>Khôi phục</b>.</step>
  <step>Chọn <b><i class="fa-regular fa-floppy-disk"></i></b> để lưu lại các thay đổi.</step>
</how>

<how name="Quản lý cửa hàng trong chính sách">
  <step>Chọn chính sách muốn cấu hình, chọn <b>Cửa hàng</b> và chọn biểu tượng <b><i class="fa-solid fa-plus"></i></b>.</step>
  <step>Ở khung chọn cửa hàng, chọn <b><i class="fa-solid fa-list"></i></b> và tích chọn cửa hàng cần thêm.</step>
  <step>Dùng <b><i class="fa-regular fa-circle-check"></i></b> để xem cửa hàng đã chọn và <b><i class="fa-regular fa-circle"></i></b> để xem cửa hàng chưa chọn.</step>
  <step>Chọn <b><i class="fa-regular fa-floppy-disk"></i></b> để thêm cửa hàng vào chính sách.</step>
  <step>Để xoá cửa hàng, chọn biểu tượng <b><i class="fa-solid fa-trash"></i></b>.</step>
  <step>Chọn <b><i class="fa-regular fa-floppy-disk"></i></b> để lưu lại thay đổi.</step>
</how>

<how name="Tìm kiếm món và cửa hàng">
  <step>Trong khung thêm món, chọn <b><i class="fa-solid fa-magnifying-glass"></i></b> và nhập tên món để tìm kiếm.</step>
  <step>Trong khung thêm cửa hàng, chọn <b><i class="fa-solid fa-magnifying-glass"></i></b> và nhập tên/địa chỉ cửa hàng để tìm kiếm.</step>
</how>

<how name="Các thao tác khác">
  <step>Chọn biểu tượng <b><i class="fa-solid fa-arrow-left"></i></b> để trở về hành động trước đó.</step>
  <step>Chọn biểu tượng <b><i class="fa-solid fa-arrow-right"></i></b> để hoàn tác hành động trở về.</step>
  <step>Chọn biểu tượng <b><i class="fa-solid fa-sparkles"></i></b> để hỏi AI.</step>
</how>

<app-general-instructions></app-general-instructions>
