<div class="guide-container">
  <div class="section in-app">
    <p>
      <strong>Mô tả:</strong> Hướng dẫn thiết lập các chính sách giá bán khác
      nhau trong theo từng khoảng thời gian.
    </p>
  </div>

  <div class="section in-app">
    <app-step-box>
      <h3 header>Thêm mới chính sách</h3>
      <i icon class="fa-solid fa-eye"></i>
      <div class="modal">
        <div class="row">
          <div class="icon"><i class="fas fa-hand-point-right"></i></div>
          <div class="line">
            Bước 1: Chọn biểu tượng <b><i class="fa-solid fa-plus"></i></b> để
            thêm mới chính sách giá.
          </div>
        </div>
        <div class="row">
          <div class="icon"><i class="fas fa-hand-point-right"></i></div>
          <div class="line">
            Bước 2: Để sửa chính sách giá, chọn biểu tượng
            <b><i class="fa-regular fa-gear"></i></b> và chọn
            <b>Sửa chính sách</b>
          </div>
        </div>
        <div class="row">
          <div class="icon"><i class="fas fa-hand-point-right"></i></div>
          <div class="line">
            Bước 2: Để xoá chính sách giá, chọn biểu tượng
            <b><i class="fa-regular fa-gear"></i></b> và chọn
            <b>Xoá chính sách</b>
          </div>
        </div>
      </div>
    </app-step-box>
  </div>

  <div class="section in-app">
    <app-step-box>
      <h3 header>Thêm món</h3>
      <i icon class="fa-solid fa-eye"></i>
      <div class="modal">
        <div class="row">
          <div class="icon"><i class="fas fa-hand-point-right"></i></div>
          <div class="line">
            Bước 1: Chọn chính sách muốn cấu hình, chọn <b>Thực đơn</b> và chọn
            biểu tượng <b><i class="fa-solid fa-plus"></i></b>.
          </div>
        </div>
        <div class="row">
          <div class="icon"><i class="fas fa-hand-point-right"></i></div>
          <div class="line">
            Bước 2: Ở khung chọn món, chọn
            <b><i class="fa-solid fa-list"></i></b> và tích vào các món muốn
            thêm.Chọn <b><i class="fa-regular fa-circle-check"></i></b> để xem
            những món đã chọn và <b><i class="fa-regular fa-circle"></i></b> để
            xem các món chưa chọn.
          </div>
        </div>
        <div class="row">
          <div class="icon"><i class="fas fa-hand-point-right"></i></div>
          <div class="line">
            Bước 3: Chọn <b><i class="fa-regular fa-floppy-disk"></i></b> để
            thêm các món vừa chọn vào chính sách.
          </div>
        </div>
        <div class="row">
          <div class="icon"><i class="fas fa-hand-point-right"></i></div>
          <div class="line">
            Bước 4: Để sửa món, chọn biểu tượng
            <b><i class="fa-regular fa-gear"></i></b> và chọn <b>Sửa món</b> sau
            đó điều chỉnh lại các thông tin như tên, giá tiền theo chính
            sách,...
          </div>
        </div>
        <div class="row">
          <div class="icon"><i class="fas fa-hand-point-right"></i></div>
          <div class="line">
            Bước 5: Để xoá món, chọn biểu tượng
            <b><i class="fa-regular fa-gear"></i></b> và chọn <b>Xoá món</b>.
          </div>
        </div>
        <div class="row">
          <div class="icon"><i class="fas fa-hand-point-right"></i></div>
          <div class="line">
            Bước 6: Để khôi phục món về ban đầu, chọn biểu tượng
            <b><i class="fa-regular fa-gear"></i></b> và chọn <b>Khôi phục</b>.
          </div>
        </div>
        <div class="row">
          <div class="icon"><i class="fas fa-hand-point-right"></i></div>
          <div class="line">
            Bước 7: Chọn <b><i class="fa-regular fa-floppy-disk"></i></b> để lưu
            lại các thao tác vừa thực hiện.
          </div>
        </div>
      </div>
    </app-step-box>
  </div>

  <div class="section in-app">
    <app-step-box>
      <h3 header>Thêm cửa hàng</h3>
      <i icon class="fa-solid fa-eye"></i>
      <div class="modal">
        <div class="row">
          <div class="icon"><i class="fas fa-hand-point-right"></i></div>
          <div class="line">
            Bước 1: Chọn chính sách muốn cấu hình, chọn <b>Cửa hàng</b> và chọn
            biểu tượng <b><i class="fa-solid fa-plus"></i></b>.
          </div>
        </div>
        <div class="row">
          <div class="icon"><i class="fas fa-hand-point-right"></i></div>
          <div class="line">
            Bước 2: Ở khung chọn cửa hàng, chọn
            <b><i class="fa-solid fa-list"></i></b> và tích vào các cửa hàng
            muốn thêm. Chọn <b><i class="fa-regular fa-circle-check"></i></b> để
            xem những cửa hàng đã chọn và
            <b><i class="fa-regular fa-circle"></i></b> để xem các cửa hàng chưa
            chọn.
          </div>
        </div>
        <div class="row">
          <div class="icon"><i class="fas fa-hand-point-right"></i></div>
          <div class="line">
            Bước 3: Chọn <b><i class="fa-regular fa-floppy-disk"></i></b> để
            thêm các cửa hàng vừa chọn vào chính sách.
          </div>
        </div>
        <div class="row">
          <div class="icon"><i class="fas fa-hand-point-right"></i></div>
          <div class="line">
            Bước 4: Để xoá cửa hàng, chọn biểu tượng
            <b><i class="fa-solid fa-trash"></i></b> để xoá cửa hàng.
          </div>
        </div>
        <div class="row">
          <div class="icon"><i class="fas fa-hand-point-right"></i></div>
          <div class="line">
            Bước 5: Chọn <b><i class="fa-regular fa-floppy-disk"></i></b> để lưu
            lại các thao tác vừa thực hiện.
          </div>
        </div>
      </div>
    </app-step-box>
  </div>

  <div class="section in-app">
    <app-step-box>
      <h3 header>Tìm kiếm món/cửa hàng</h3>
      <i icon class="fa-solid fa-eye"></i>
      <div class="modal">
        <div class="row">
          <div class="icon"><i class="fa-solid fa-hand-point-right"></i></div>
          <div class="line">
            <b>Bước 1:</b> Trong khung thêm món, chọn biểu tượng
            <strong><i class="fa-solid fa-magnifying-glass"></i></strong> và
            nhập tên món để tìm kiếm.
          </div>
        </div>
        <div class="row">
          <div class="icon"><i class="fa-solid fa-hand-point-right"></i></div>
          <div class="line">
            <b>Bước 2:</b> Trong khung thêm cửa hàng, chọn biểu tượng
            <strong><i class="fa-solid fa-magnifying-glass"></i></strong> và
            nhập tên/địa chỉ cửa hàng để tìm kiếm.
          </div>
        </div>
      </div>
    </app-step-box>
  </div>

  <div class="section in-app">
    <app-step-box>
      <h3 header>Các thao tác khác</h3>
      <i icon class="fa-solid fa-eye"></i>
      <div class="modal">
        <div class="row">
          <div class="icon"><i class="fa-solid fa-hand-point-right"></i></div>
          <div class="line">
            Chọn biểu tượng
            <strong><i class="fa-solid fa-arrow-left"></i></strong> để trở về
            hành động trước đó.
          </div>
        </div>
        <div class="row">
          <div class="icon"><i class="fa-solid fa-hand-point-right"></i></div>
          <div class="line">
            Chọn biểu tượng
            <strong><i class="fa-solid fa-arrow-right"></i></strong> để hoàn tác
            hành động trở về.
          </div>
        </div>
        <div class="row">
          <div class="icon"><i class="fa-solid fa-hand-point-right"></i></div>
          <div class="line">
            Chọn biểu tượng
            <strong><i class="fa-solid fa-sparkles"></i></strong> để hỏi AI.
          </div>
        </div>
      </div>
    </app-step-box>
  </div>

  <app-general-instructions></app-general-instructions>
</div>
