<desc>Chức năng chia sẻ doanh thu để nhận hoa hồng khi giới thiệu sản phẩm thành công cho các đối tác.</desc>

<how name="Video hướng dẫn" [expanded]="true" class="video">
  <iframe
  width="100%"
  height="auto"
  src="https://youtube.com/embed/WB6Q00F96EY"
  title="YouTube Shorts"
  frameborder="0"
  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
  allowfullscreen>
</iframe>
</how>

<how name="Mô tả chức năng" [expanded]="true" [showIndex]="false">
  <step>Nút <b><i class="fa-regular fa-eye"></i></b>: Ẩn/hiện thông tin.</step>
  <step>Nút <b><i class="fa-regular fa-arrow-up"></i></b>: Tạo yêu cầu thanh toán.</step>
  <step>Nút <b><i class="fa-regular fa-pen"></i></b>: Thêm/sửa thông tin.</step>
  <step>Nút <b><i class="fa-regular fa-floppy-disk"></i></b>: Lưu thông tin.</step>
  <step>Nút <b><i class="fa-regular fa-qrcode"></i></b>:Lấy mã QR/link giới thiệu.</step>
  <step>Nút <b><i class="fa-regular fa-users"></i></b>: Danh sách khách hàng đã giới thiệu.</step>
  <step>Nút <b><i class="fa-regular fa-history"></i></b>: Lịch sử giao dịch.</step>
  <step>Nút <b><i class="fa-regular fa-shield"></i></b>: Giới thiệu chương trình, chính sách.</step>
</how>

<how name="Hướng dẫn quét QR giới thiệu">
  <step>Giới thiệu khách hàng đăng ký sử dụng phần mềm bằng email và truy cập ứng dụng thành công.</step>
  <step>Ở trên máy khách, mở ứng dụng, chọn biểu tượng <b><i class="fa-regular fa-qrcode"></i></b> và quét mã QR giới thiệu của bạn.</step>
  <step>Hệ thống sẽ liên kết và xác nhận khách hàng mà bạn đã giới thiệu sử dụng phần mềm.</step>
  <step>Khi khách hàng thanh toán thành công , hệ thống sẽ tự động ghi nhận hoa hồng mà bạn nhận được vào mục <b>Số dư chưa thanh toán.</b></step>
  <step>Bạn có thể tạo phiếu yêu cầu thanh toán cho hoa hồng của mình khi có số dư chưa thanh toán.</step>
</how>


<app-general-instructions></app-general-instructions>
