<desc style="text-align: justify;">
  Cấu hình thông tin cho phép quản trị viên thiết lập và quản lý các dữ liệu cơ
  bản của cửa hàng như tên, địa chỉ, số điện thoại, thông tin liên hệ và các tuỳ
  chỉnh hiển thị. Việc cấu hình đầy đủ và chính xác giúp đồng bộ thông tin trên
  hệ thống, hỗ trợ in hóa đơn, hiển thị trên ứng dụng bán hàng cũng như kết nối
  với các kênh bán hàng khác. Đây là bước quan trọng để cửa hàng hoạt động thống
  nhất, chuyên nghiệp và tạo trải nghiệm tin cậy cho khách hàng.
</desc>

<how name="Mô tả chức năng chính" [expanded]="true" [showIndex]="false">
  <step>Nút <b><i class="fa-regular fa-shop"></i></b>: Cài đặt cửa hàng.</step>
  <step>Nút <b><i class="fa-regular fa-key"></i></b>: Phân quyền tài khoản.</step>
  <step>Nút <b><i class="fa-regular fa-mobile"></i></b>: Cài đặt thiết bị.</step>
  <step>Nút <b><i class="fa-regular fa-folder"></i></b>: Cài đặt tài nguyên cửa hàng.</step>
  <step>Nút <b><i class="fa-regular fa-qrcode"></i></b>: Cài đặt QR thanh toán.</step>
  <step>Nút <b><i class="fa-regular fa-link"></i></b>: Cài đặt phương thức/liên kết thanh toán.</step>
  <step>Nút <b><i class="fa-regular fa-bank"></i></b>: Cài đặt xuất hoá đơn điện tử.</step>
  <step>Nút <b><i class="fa-solid fa-trash"></i></b>: Xoá dữ liệu cửa hàng.</step>
  <step>Nút <b><i class="fa-solid fa-plus"></i></b>: Thêm mới.</step>
  <step>Nút <b><i class="fa-solid fa-floppy-disk"></i></b>: Lưu lại.</step>
</how>

<how name="Mô tả mục in ấn" [expanded]="true" [showIndex]="false">
  <step>Nút <b><i class="fa-regular fa-bell"></i></b>: In tem dán/phiếu pha chế sau khi có order. </step>
  <step>Nút <b><i class="fa-regular fa-cash-register"></i></b>: In tem dán/phiếu pha chế sau khi thanh toán đơn.</step>
  <step>Nút <b><i class="fa-regular fa-ban"></i></b>: Không in tem dán/phiếu pha chế.</step>
</how>

<how name="Mô tả mục mẫu hoá đơn" [expanded]="true" [showIndex]="false">
  <step>Nút <b><i class="fa-regular fa-file"></i></b>: Hiển thị mã hoá đơn. </step>
  <step>Nút <b><i class="fa-regular fa-user"></i></b>: Hiển thị thu ngân.</step>
  <step>Nút <b><i class="fa-regular fa-sign-in"></i></b>: Hiển thị thời gian vào.</step>
  <step>Nút <b><i class="fa-regular fa-sign-out"></i></b>: Hiển thị thời gian ra.</step>
</how>

<how name="Mô tả mục mẫu hoá đơn" [expanded]="true" [showIndex]="false">
  <step>Nút <b>#</b>: Hiển thị số thứ tự món trong ngày. </step>
  <step>Nút <b><i class="fa-regular fa-file"></i></b>: Hiển thị mã hoá đơn.</step>
  <step>Nút <b><i class="fa-regular fa-location"></i></b>: Hiển thị bàn.</step>
  <step>Nút <b><i class="fa-regular fa-clock"></i></b>: Hiển thị thời gian.</step>
  <step>Nút <b><i class="fa-regular fa-utensils"></i></b>: Hiển thị món.</step>
  <step>Nút <b><i class="fa-regular fa-sticky-note"></i></b>: Hiển thị ghi chú.</step>
  <step>Nút <b><i class="fa-regular fa-sort-numeric-up"></i></b>: Hiển thị thứ tự món trong hoá đơn.</step>
  <step>Nút <b><i class="fa-regular fa-cash-register"></i></b>: Hiển thị giá món.</step>
</how>

<how name="Mô tả Cài đặt thiết bị" [expanded]="true" [showIndex]="false">
  <step>Nút <b><i class="fa-regular fa-plug"></i></b>: Bật/tắt kết nối với máy in.</step>
  <step>Nút <b><i class="fa-regular fa-bell"></i></b>: Phát thông báo order.</step>
  <step>Nút <b><i class="fa-regular fa-message"></i></b>: Hiển thị thông báo văn bản.</step>
  <step>Nút <b><i class="fa-regular fa-microphone"></i></b>: Đàm thoại.</step>
  <step>Nút <b><i class="fa-regular fa-dollar"></i></b>: Phát thông báo thanh toán.</step>
</how>

<app-general-instructions></app-general-instructions>
