<div class="guide-container">
  <div class="section in-app">
    <p>
      <b>Mô tả:</b> Cấu hình thông tin cho phép quản trị viên thiết lập và quản
      lý các dữ liệu cơ bản của cửa hàng như tên, địa chỉ, số điện thoại, thông
      tin liên hệ và các tuỳ chỉnh hiển thị. Việc cấu hình đầy đủ và chính xác
      giúp đồng bộ thông tin trên hệ thống, hỗ trợ in hóa đơn, hiển thị trên ứng
      dụng bán hàng cũng như kết nối với các kênh bán hàng khác. Đây là bước
      quan trọng để cửa hàng hoạt động thống nhất, chuyên nghiệp và tạo trải
      nghiệm tin cậy cho khách hàng.
    </p>
    <p class="note">
      (Lưu ý: Nhấn nút
      <strong><i class="fa-solid fa-floppy-disk"></i></strong> để lưu sau khi
      chỉnh sửa.)
    </p>
  </div>
  <app-general-instructions></app-general-instructions>
</div>
