<div class="guide-container">
  <div class="description">
    <p>
       Hướng dẫn thiết lập các chính sách xuất hàng từ
      cửa hàng hiện tại cho các cửa hàng khác trong hệ thống.
    </p>
  </div>

  <div class="section in-app">
    <app-step-box>
      <h3 header>Thêm mới</h3>
      <i icon class="fa-solid fa-chevron-down"></i>
      <div class="modal">
        <div class="row">
          <div class="icon"><i class="fas fa-hand-point-right"></i></div>
          <div class="line">
            <b>Bước 1:</b> Chọn biểu tượng
            <b><i class="fa-solid fa-plus"></i></b> để thêm mới chính sách xuất
            hàng, nhập thông tin và ấn <b><i class="fa-regular fa-floppy-disk"></i></b> để lưu lại.
          </div>
        </div>
        <div class="row">
          <div class="icon"><i class="fas fa-hand-point-right"></i></div>
          <div class="line">
            <b>Bước 2:</b> Chọn biểu tượng
            <b><i class="fa-regular fa-gear"></i></b> để chỉnh sửa/xoá chính sách.
          </div>
        </div>
      </div>
    </app-step-box>
  </div>

  <div class="section in-app">
    <app-step-box>
      <h3 header>Thêm hàng hoá xuất</h3>
      <i icon class="fa-solid fa-chevron-down"></i>
      <div class="modal">
        <div class="row">
          <div class="icon"><i class="fas fa-hand-point-right"></i></div>
          <div class="line">
            <b>Bước 1:</b> Chọn chính sách muốn thêm, chọn
            <b><i class="fa-regular fa-boxes"></i></b> để thêm hàng hoá.
          </div>
        </div>
        <div class="row">
          <div class="icon"><i class="fas fa-hand-point-right"></i></div>
          <div class="line">
            <b>Bước 2:</b> Chọn các mặt hàng cho phép xuất ở
            <b>danh sách hàng hoá</b> rồi nhập <b>đơn giá</b> và
            <b>lô xuất</b> tương ứng.
          </div>
        </div>
        <div class="row">
          <div class="icon"><i class="fas fa-hand-point-right"></i></div>
          <div class="line">
            <b>Bước 3:</b> Để bỏ mặt hàng khỏi chính sách, chọn
            <b><i class="fa-solid fa-trash"></i></b> của mặt hàng đó.
          </div>
        </div>
        <div class="row">
          <div class="icon"><i class="fas fa-hand-point-right"></i></div>
          <div class="line">
            <b>Bước 4:</b> Chọn
            <b><i class="fa-regular fa-floppy-disk"></i></b> để lưu.
          </div>
        </div>
      </div>
    </app-step-box>
  </div>

  <div class="section in-app">
    <app-step-box>
      <h3 header>Thêm cửa hàng nhận</h3>
      <i icon class="fa-solid fa-chevron-down"></i>
      <div class="modal">
        <div class="row">
          <div class="icon"><i class="fas fa-hand-point-right"></i></div>
          <div class="line">
            <b>Bước 1:</b> Chọn chính sách muốn thêm, chọn
            <b><i class="fa-regular fa-user"></i></b> để thêm cửa hàng.
          </div>
        </div>
        <div class="row">
          <div class="icon"><i class="fas fa-hand-point-right"></i></div>
          <div class="line">
            <b>Bước 2:</b> Chọn các cửa hàng ở <b>danh sách cửa hàng</b>.
          </div>
        </div>
        <div class="row">
          <div class="icon"><i class="fas fa-hand-point-right"></i></div>
          <div class="line">
            <b>Bước 3:</b> Để bỏ cửa hàng khỏi chính sách, chọn
            <b><i class="fa-solid fa-trash"></i></b> của cửa hàng đó.
          </div>
        </div>
        <div class="row">
          <div class="icon"><i class="fas fa-hand-point-right"></i></div>
          <div class="line">
            <b>Bước 4:</b> Chọn
            <b><i class="fa-regular fa-floppy-disk"></i></b> để lưu.
          </div>
        </div>
      </div>
    </app-step-box>
  </div>

  <div class="section in-app">
    <app-step-box>
      <h3 header>Các thao tác khác</h3>
      <i icon class="fa-solid fa-chevron-down"></i>
      <div class="modal">
        <div class="row">
          <div class="icon"><i class="fas fa-hand-point-right"></i></div>
          <div class="line">
            Chọn biểu tượng
            <b><i class="fa-solid fa-magnifying-glass"></i></b> để tìm kiếm
            nhanh theo tên hàng hoá/địa chỉ cửa hàng/chính sách.
          </div>
        </div>
      </div>
    </app-step-box>
  </div>

  <app-general-instructions></app-general-instructions>
</div>
