<desc>Thiết lập các chính sách xuất hàng từ cửa hàng hiện tại cho các cửa hàng khác trong hệ thống.</desc>

<how name="Video hướng dẫn" [expanded]="true" class="video">
  <iframe width="100%" height="auto" src="https://www.youtube.com/embed/-cXCywSYyg4?si=XDMYXejJ8JqX205p" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
</how>

<how name="Mô tả chức năng" [expanded]="true" [showIndex]="false">

  <step>Nút <b><i class="fa-regular fa-magnifying-glass"></i></b>: Tìm kiếm chính sách xuất hàng.</step>
  <step>Nút <b><i class="fa-solid fa-plus"></i></b>: Thêm mới chính sách xuất hàng.</step>
  <step>Nút <b><i class="fa-regular fa-floppy-disk"></i></b>: Lưu thông tin.</step>
  <step>Nút <b><i class="fa-regular fa-gear"></i></b>: Chỉnh sửa hoặc xoá chính sách xuất hàng.</step>

</how>

<how name="Thêm mới chính sách xuất hàng">
  <step>Chọn  <b><i class="fa-solid fa-plus"></i></b> để thêm mới chính sách xuất hàng.</step>
  <step>Nhập thông tin chính sách và nhấn <b><i class="fa-regular fa-floppy-disk"></i></b> để lưu lại.</step>
  <step>Để chỉnh sửa hoặc xóa chính sách, chọn  <b><i class="fa-regular fa-gear"></i></b> và chọn thao tác phù hợp.</step>
</how>

<how name="Thêm hàng hoá xuất">
  <step>Chọn chính sách muốn thêm hàng.</step>
  <step>Chọn  <b><i class="fa-regular fa-boxes"></i></b> và chọn <b><i class="fa-solid fa-plus"></i></b> để thêm hàng hoá.</step>
  <step>Chọn các mặt hàng cho phép xuất từ <b>danh sách hàng hoá</b>(trên điện thoại sau khi thêm hàng hoá thì ấn <b><i class="fa-regular fa-list"></i></b> để xem hàng đã thêm).</step>
  <step>Nhập <b>đơn giá</b> và <b>lô xuất</b> cho mỗi mặt hàng.</step>
  <step>Để xóa mặt hàng khỏi chính sách, chọn  <b><i class="fa-solid fa-trash"></i></b> của mặt hàng đó.</step>
  <step>Nhấn <b><i class="fa-regular fa-floppy-disk"></i></b> để lưu thay đổi.</step>
</how>

<how name="Thêm cửa hàng nhận">
  <step>Chọn chính sách muốn thêm cửa hàng.</step>
  <step>Chọn  <b><i class="fa-regular fa-user-tie"></i></b> và chọn <b><i class="fa-solid fa-plus"></i></b> để thêm cửa hàng.</step>
  <step>Chọn các cửa hàng từ <b>danh sách cửa hàng</b>(trên điện thoại sau khi thêm cửa hàng thì ấn <b><i class="fa-regular fa-list"></i></b> để xem cửa hàng đã thêm).</step>
  <step>Để xóa cửa hàng khỏi chính sách, chọn  <b><i class="fa-solid fa-trash"></i></b> của cửa hàng đó.</step>
  <step>Nhấn <b><i class="fa-regular fa-floppy-disk"></i></b> để lưu thay đổi.</step>
</how>

<app-general-instructions></app-general-instructions>
