<div class="guide-container">
    <h2>💰 10. Khởi tạo nguồn thu</h2>
    <p><strong>Mô tả:</strong>Khởi tạo thêm các đầu mục thu cho cửa hàng.</p>
  
    <div class="section">
      <h3>Hướng dẫn thực hiện.</h3>
  
      <div class="row">
        <div class="icon"><i class="fas fa-hand-point-right"></i></div>
        <div class="line">Bước 1: Chọn biểu tượng <strong><i class="fa-solid fa-bars"></i></strong> góc trái trên cùng, sau đó truy cập
          <strong>Nguồn thu</strong>.</div>
      </div>
  
      <div class="row">
        <div class="icon"><i class="fas fa-hand-point-right"></i></div>
        <div class="line"><strong>Bước 2:</strong> Nhấn nút <b><i class="fa-solid fa-plus"></i>Nguồn thu</b> để thêm mới.</div>
      </div>
  
      <div class="row">
        <div class="icon"><i class="fas fa-hand-point-right"></i></div>
        <div class="line"><strong>Bước 3:</strong> Nhập thông tin nguồn thu (<i>tên khoản thu, mô tả…</i>).</div>
      </div>
  
      <div class="row">
        <div class="icon"><i class="fas fa-hand-point-right"></i></div>
        <div class="line"><strong>Bước 4:</strong> Nhấn <b>Cập nhật</b>, sau đó nhấn <b><i class="fa-solid fa-floppy-disk"></i></b> ở góc trên bên phải để hoàn tất thao tác.</div>
      </div>
  
    </div>
  </div>