<desc>Hướng dẫn nhân viên pha chế và bếp thực hiện các món order một cách chính xác và nhanh chóng dựa vào các phiếu đồ.</desc>

<how name="Quản lý phiếu pha chế">
  <step>Xem danh sách món cần làm, bao gồm số lượng và yêu cầu đặc biệt (nếu có).</step>
  <step>Đánh dấu món đã hoàn thành bằng cách nhấn vào  <b><i class="fa-solid fa-check"></i></b> trên phiếu làm đồ.</step>
  <step>Xem lại lịch sử các phiếu đã xử lý để kiểm tra tiến độ hoặc đối chiếu với đơn hàng.</step>
  <step>Khi tất cả món trong phiếu đã hoàn thành, nhấn <b style="color: orange"><i class="fa-solid fa-check"></i></b> để gửi thông tin về khu vực thu ngân và cập nhật trạng thái hóa đơn.</step>
</how>

<app-general-instructions></app-general-instructions>
