<desc>Quản lí, theo dõi và xử lý các phiếu làm đồ nhận được theo yêu cầu của khách.</desc>

<how name="Video hướng dẫn" [expanded]="true" class="video">
<iframe width="100%" height="auto" src="https://www.youtube.com/embed/5aBW8SALtAM?si=ySW5vMkL251ChAgg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
</how>

<how name="Mô tả chức năng" [expanded]="true" [showIndex]="false">

  <step>Nút <b><i class="fa-regular fa-play"></i></b>: Thông báo món bắt đầu làm  </step>
  <step>Nút <b><i class="fa-regular fa-check"></i></b>: Xác nhận món, bàn đã làm xong</step>
  <step>Nút <b><i class="fa-solid fa-palette"></i></b>: Đổi màu nền</step>

</how>

<how name="Quản lý phiếu pha chế">
  <step>Xem danh sách món cần làm, bao gồm số lượng và yêu cầu đặc biệt (nếu có).</step>
  <step>Đánh dấu món, bàn đã hoàn thành bằng cách nhấn vào  <b><i class="fa-solid fa-check"></i></b> trên phiếu làm đồ.</step>
  <step>Xem lại lịch sử các phiếu đã xử lý để kiểm tra tiến độ hoặc đối chiếu với đơn hàng.</step>
</how>

<app-general-instructions></app-general-instructions>
