<div class="guide-container">
  <div class="section in-app">
    <p>
      <strong>Mô tả:</strong> Hướng dẫn nhân viên pha chế và bếp thực hiện các
      món order một cách chính xác và nhanh chóng dựa vào các phiếu đồ.
    </p>
  </div>
  <div class="section in-app">
    <app-step-box>
      <h3 header>Thao tác pha chế</h3>
      <i icon class="fa-solid fa-eye"></i>
      <div class="modal">
        <div class="row">
          <div class="icon"><i class="fas fa-hand-point-right"></i></div>
          <div class="line">
            <b>Bước 1:</b> Xem danh sách món cần làm, bao gồm số lượng và yêu
            cầu đặc biệt (nếu có).
          </div>
        </div>
        <div class="row">
          <div class="icon"><i class="fas fa-hand-point-right"></i></div>
          <div class="line">
            <b>Bước 2:</b> Đánh dấu món đã hoàn thành bằng cách nhấn vào biểu
            tượng <b><i class="fa-solid fa-check"></i></b> trên phiếu làm đồ.
          </div>
        </div>
        <div class="row">
          <div class="icon"><i class="fas fa-hand-point-right"></i></div>
          <div class="line">
            <b>Bước 3:</b> Xem lại lịch sử các phiếu đã xử lý để kiểm tra tiến
            độ hoặc đối chiếu với đơn hàng.
          </div>
        </div>
        <div class="row">
          <div class="icon"><i class="fas fa-hand-point-right"></i></div>
          <div class="line">
            <b>Bước 4:</b> Khi tất cả món trong phiếu đã hoàn thành, nhấn
            <b style="color: orange"><i class="fa-solid fa-check"></i></b> để
            gửi thông tin về khu vực thu ngân và cập nhật trạng thái hóa đơn.
          </div>
        </div>
      </div>
    </app-step-box>
  </div>

  <app-general-instructions></app-general-instructions>
</div>
