.container {
  display: flex;
  min-height: 100vh;
  font-family: Arial, sans-serif;
}

/* Sidebar */
.directory {
  width: 250px;
  background: #f2f2f2;
  padding: 15px;
  box-sizing: border-box;
  max-height: 100vh;
  overflow-y: auto;
  background-color: wheat;
}

.directory ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.directory li {
  margin-bottom: 8px;
}

.directory a {
  text-decoration: none;
  color: #333;
  display: block;
  padding: 5px 8px;
}

.directory a:hover {
  background: #ddd;
  border-radius: 4px;
}

/* Cấp con */
.directory ul ul {
  margin-left: 15px; /* thụt vào */
  border-left: 2px solid #ddd;
  padding-left: 10px;
}

/* Content */
.content {
  flex: 1;
  padding: 20px 0px 0px 20px;
  box-sizing: border-box;
}

.directory-inline {
  font-size: 14px;
  margin-bottom: 15px;
  padding-left: 10px;
  color: #777;
}

.infor {
  font-size: 16px;
  line-height: 1.6;
  max-height: 90vh;
  overflow-y: auto;
}
.directory a:hover {
  cursor: pointer;
}
.overlay {
  width: 100vw;
  height: 100vh;
  position: fixed;
  inset: 0; /* top:0; right:0; bottom:0; left:0 */
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 12px;
  background: rgba(0, 0, 0, 0.55);
  backdrop-filter: blur(4px);
}
.image {
  width: auto;
  max-width: 88vw;
  height: auto;
  max-height: 80vh;
  /* box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px; */
}
.image img {
  width: 100%;
  height: 100%;
  border-radius: 4px;
  /* border: black solid 1px; */
}
.btn-close button {
  width: 24px;
  height: 24px;
  background-color: white;
  border-radius: 50%;
  border: black solid 1px;
  text-align: center;
  outline: none;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.btn-close button:hover {
  cursor: pointer;
}
.image-title {
  height: auto;
  font-style: italic;
  font-weight: 600;
  padding: 6px;
  background-color: white;
  border-radius: 4px;
  border: none;
  outline: none;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
@keyframes selectTag{
  from{
    box-shadow: none;
  }to{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
}
.active{
  background-color: orange;
  animation:  selectTag 0.5s ease forwards;
}
/* Responsive */
@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .directory {
    display: none;
  }

  .content {
    padding-left: 0px;
  }
}
