<div class="container">
  <!-- Sidebar -->
  <div class="directory">
    <ul>
      <li>
        <a (click)="navigator('/home','')">Trang chủ</a>
      </li>
      <li *ngFor="let p of docs">
        <a routerLink="/">{{ p.data?.['title'] }}</a>
        <ul>
          <li *ngFor="let i of p.children" (click)="navigator(i.path || '', p.path || '')"><a routerLink="/">{{ i.data?.['title'] }}</a></li>
        </ul>
      </li>
    </ul>
  </div>

  <!-- Content -->
  <div class="content">
    <div class="directory-inline">
      <b (click)="navigator('/home','')"><i class="fa-solid fa-house"></i> Trang chủ</b> > <b>{{ currentP.data?.['title'] }}</b> > <b>{{ currentC.data?.['title'] }}</b>
    </div>
    <div class="infor">
      <router-outlet />
    </div>
  </div>
</div>
<div #overlay class="overlay">
  <div class="btn-close">
    <button (click)="closeImage()"><i class="fa-solid fa-xmark"></i></button>
  </div>
  <div class="image">
    <img [src]="imageDataSrc" />
  </div>
  <div class="image-title">{{ imageDataTitle }}</div>
</div>
