<desc>Thực hiện vào cuối ca làm việc để xác định, kiểm soát các hoá đơn và tổng tiền thanh toán mà nhân viên xử lý trong ca làm việc.</desc>

<how name="Mô tả chức năng" [expanded]="true" [showIndex]="false">
  <step>Nút <b><i class="fa-solid fa-magnifying-glass"></i></b>: Tìm kiếm phiếu.</step>
  <step>Nút <b><i class="fa-solid fa-plus"></i></b>: Thêm mới phiếu.</step>
  <step>Nút <b><i class="fa-solid fa-check"></i></b>: Xác nhận, duyệt phiếu chốt ca.</step>
  <step>Biểu tượng <b><i class="fa-solid fa-circle-check"></i></b>: Trạng thái đã xác nhận.</step>
  <step>Biểu tượng <b><i class="fa-regular fa-chevron-right"></i></b>: Danh sách chi tiết đang đóng.</step>
  <step>Biểu tượng <b><i class="fa-regular fa-chevron-down"></i></b>: Danh sách chi tiết đang mở.</step>
</how>

<how name="Thao tác với phiếu chốt ca">
  <step>Nhấn nút <b><i class="fa-solid fa-plus"></i></b> để thêm phiếu chốt ca.</step>
  <step>Chọn <b><i class="fa-solid fa-check"></i></b> để thêm hoá đơn mà bản thân đã xử lý.</step>
  <step>Nếu chọn nhầm hoá đơn, bạn có thể ấn <b><i class="fa-solid fa-xmark"></i></b> để bỏ chọn hoá đơn đó.</step>
  <step>Nhấn <b><i class="fa-regular fa-floppy-disk"></i></b> để hoàn tất.</step>
  <step>Ở danh sách chốt ca, <b>Quản lý</b> có thể chọn ngày và tìm phiếu cần duyệt rồi chọn <b><i class="fa-solid fa-check"></i></b> để xác nhận/duyệt phiếu chốt ca.</step>
  <step>Ấn vào phiếu chốt ca theo thời gian để xem lại lịch sử.</step>
</how>

<how name="Tìm kiếm phiếu chốt ca">
  <step>Chọn  <b><i class="fa-solid fa-magnifying-glass"></i></b>.</step>
  <step>Nhập <b>tên nhân sự</b> hoặc <b>ngày</b> để tìm kiếm.</step>
</how>

<app-general-instructions></app-general-instructions>
