<div class="guide-container">
  <div class="section in-app">
    <p>
      <strong>Mô tả:</strong> Hướng dẫn nhân viên chốt ca sau khi hết ca làm
      việc để xác định/kiểm soát các hoá đơn và phương thức thanh toán mà nhân
      viên đó xử lý trong ca làm việc.
    </p>
  </div>

  <div class="section in-app">
    <app-step-box>
      <h3 header>Thao tác với phiếu chốt ca</h3>
      <i icon class="fa-solid fa-eye"></i>
      <div class="modal">
        <div class="row">
          <div class="icon"><i class="fas fa-hand-point-right"></i></div>
          <div class="line">
            <b>Bước 1:</b> Nhấn nút <b><i class="fa-solid fa-plus"></i></b> để
            thêm phiếu chốt ca.
          </div>
        </div>
        <div class="row">
          <div class="icon"><i class="fas fa-hand-point-right"></i></div>
          <div class="line">
            <b>Bước 2:</b> Chọn <b><i class="fa-solid fa-check"></i></b> để thêm
            hoá đơn mà bản thân đã xử lý, nếu chọn nhầm có thể ấn
            <b><i class="fa-solid fa-xmark"></i></b> để bỏ.
          </div>
        </div>
        <div class="row">
          <div class="icon"><i class="fas fa-hand-point-right"></i></div>
          <div class="line">
            <b>Bước 3:</b> Nhấn
            <b><i class="fa-solid fa-floppy-disk"></i></b> để hoàn tất.
          </div>
        </div>
        <div class="row">
          <div class="icon"><i class="fas fa-hand-point-right"></i></div>
          <div class="line">
            <b>Bước 4:</b> Ở danh sách chốt ca, <b>Quản lý</b> có thể chọn ngày và tìm phiếu cần duyệt
            rồi chọn <b><i class="fa-solid fa-check"></i></b> để xác nhận/duyệt
            phiếu chốt ca.
          </div>
        </div>
      </div>
    </app-step-box>
  </div>

  <div class="section in-app">
    <app-step-box>
      <h3 header>Tìm kiếm phiếu chốt ca</h3>
      <i icon class="fa-solid fa-eye"></i>
      <div class="modal">
        <div class="row">
          <div class="icon"><i class="fa-solid fa-hand-point-right"></i></div>
          <div class="line">
            <b><b>Bước 1:</b></b> Chọn biểu tượng
            <strong><i class="fa-solid fa-magnifying-glass"></i></strong>.
          </div>
        </div>
        <div class="row">
          <div class="icon"><i class="fa-solid fa-hand-point-right"></i></div>
          <div class="line">
            <b><b>Bước 2:</b></b> Nhập <b>tên nhân sự/ngày</b> để tìm kiếm.
          </div>
        </div>
      </div>
    </app-step-box>
  </div>

  <app-general-instructions></app-general-instructions>
</div>
