<desc>Thực hiện vào cuối ca làm việc để xác định, kiểm soát các hoá đơn và tổng tiền thanh toán mà nhân viên xử lý trong ca làm việc.</desc>

<how name="Thao tác với phiếu chốt ca">
  <step>Nhấn nút <b><i class="fa-solid fa-plus"></i></b> để thêm phiếu chốt ca.</step>
  <step>Chọn <b><i class="fa-solid fa-check"></i></b> để thêm hoá đơn mà bản thân đã xử lý.</step>
  <step>Nhấn <b><i class="fa-solid fa-floppy-disk"></i></b> để hoàn tất.</step>
  <step>Ở danh sách chốt ca, <b>Quản lý</b> có thể chọn ngày và tìm phiếu cần duyệt rồi chọn <b><i class="fa-solid fa-check"></i></b> để xác nhận/duyệt phiếu chốt ca.</step>
  <step>Nếu chọn nhầm hoá đơn, bạn có thể ấn <b><i class="fa-solid fa-xmark"></i></b> để bỏ chọn hoá đơn đó.</step>
</how>

<how name="Tìm kiếm phiếu chốt ca">
  <step>Chọn biểu tượng <b><i class="fa-solid fa-magnifying-glass"></i></b>.</step>
  <step>Nhập <b>tên nhân sự</b> hoặc <b>ngày</b> để tìm kiếm.</step>
  <note>Việc tìm kiếm sẽ giúp bạn nhanh chóng xác định được phiếu chốt ca cụ thể cần xem hoặc duyệt.</note>
</how>

<app-general-instructions></app-general-instructions>
