<desc>Một số thông tin , diễn giải về các ký hiệu và nút bấm trong danh sách áp dụng chương trình, chính sách.</desc>

<how name="Mô tả chức năng" [expanded]="true" [showIndex]="false">

  <step>Nút <b><i class="fa-regular fa-magnifying-glass"></i></b>: Tìm kếm món</step>
  <step>Nút <b><i class="fa-solid fa-plus"></i></b>: Thêm món vào danh sách</step>
  <step>Nút <b><i class="fa-regular fa-floppy-disk"></i></b>: Lưu danh sách món đã chọn</step>
  <step>Nút <b><i class="fa-regular fa-gear"></i></b>: Sửa, khôi phục, xoá món trong danh sách</step>
  <step>Nút <b><i class="fa-solid fa-sparkles"></i></b>: Tương tác với AI</step>
  <step>Nút <b><i class="fa-solid fa-arrow-left"></i></b>: Hoàn tác</step>
  <step>Nút <b><i class="fa-solid fa-arrow-right"></i></b>: Làm lại</step>

</how>

