<div class="guide-container">
  <h2>3. Hướng dẫn tạo và Cấu hình món ăn trong menu</h2>
  <p>
    <strong>Mô tả:</strong>Tính năng Khởi tạo menu giúp bạn thiết lập danh sách
    món ăn, đồ uống hoặc sản phẩm mà cửa hàng cung cấp. Đây là bước quan trọng
    để quản lý bán hàng hiệu quả và đồng bộ trên toàn hệ thống.
  </p>
  <!-- a. Tạo menu món ăn -->
  <div class="section">
    <app-step-box>
      <h3 header>a. Tạo menu món ăn</h3>

      <h3
        icon
        class="btn-image"
        (click)="
          emitShowImageEvent(
            'assets/images/create-menu-1.png',
            'Ảnh khởi tạo món'
          )
        "
      >
        <i class="fa-solid fa-image"></i> Xem ảnh
      </h3>
      <div class="modal">
        <div class="row">
          <div class="icon"><i class="fas fa-hand-point-right"></i></div>
          <div class="line">
            Bước 1.1: Để tạo menu cho chuỗi cửa hàng, chọn biểu tượng
            <strong><i class="fa-solid fa-grid"></i></strong> góc phải trên
            cùng, chọn <b>Chính sách chung</b> và chọn <b>Thực đơn</b>..
          </div>
        </div>
        <div class="row">
          <div class="icon"><i class="fas fa-hand-point-right"></i></div>
          <div class="line">
            Bước 1.2:Để tạo menu cho cửa hàng, chọn biểu tượng
            <strong><i class="fa-solid fa-bars"></i></strong> góc trái trên
            cùng, chọn <b>Quản lý</b>, chọn <b>Thực đơn</b>.
          </div>
        </div>

        <!-- <div class="row">
      <div class="icon"><i class="fas fa-hand-point-right"></i></div>
      <div class="line">Bước 2: Tạo nhóm món:</div>
    </div>
    <div class="row sub">
      <div class="icon"><i class="fas fa-angle-right"></i></div>
      <div class="line">Nhấn <b><i class="fa-light fa-folder-plus"></i></b> để <b>thêm nhóm</b>.</div>
    </div>
    <div class="row sub">
      <div class="icon"><i class="fas fa-angle-right"></i></div>
      <div class="line">Nhập thông tin nhóm (Tên, Mô tả, Thú tự).</div>
    </div>
    <div class="row sub">
      <div class="icon"><i class="fas fa-angle-right"></i></div>
      <div class="line">Nhấn <b>Cập nhật</b> để lưu nhóm.</div>
    </div> -->

        <div class="row">
          <div class="icon"><i class="fas fa-hand-point-right"></i></div>
          <div class="line">Bước 2: Tạo món:</div>
        </div>
        <div class="row sub">
          <div class="icon"><i class="fas fa-angle-right"></i></div>
          <div class="line">
            Nhấn <b><i class="fa-solid fa-plus"></i></b> và chọn <b>Tạo món</b>.
          </div>
        </div>
        <div class="row sub">
          <div class="icon"><i class="fas fa-angle-right"></i></div>
          <div class="line">Nhập thông tin món ăn (tên món, giá…).</div>
        </div>
        <div class="row sub">
          <div class="icon"><i class="fas fa-angle-right"></i></div>
          <div class="line">Nhấn <b>Cập nhật</b> để lưu món.</div>
        </div>

        <div class="row">
          <div class="icon"><i class="fas fa-hand-point-right"></i></div>
          <div class="line">Bước 4: Lưu toàn bộ menu:</div>
        </div>
        <div class="row sub">
          <div class="icon"><i class="fas fa-angle-right"></i></div>
          <div class="line">
            Sau khi tạo xong nhóm và món, nhấn biểu tượng
            <b><i class="fa-solid fa-floppy-disk"></i></b> để hoàn tất.
          </div>
        </div>
      </div>
    </app-step-box>
  </div>

  <!-- b. <i class="fa-regular fa-sliders"></i>Cấu hình món ăn -->
  <div class="section">
    <app-step-box>
      <h3 header>b. Cấu hình món ăn</h3>

      <h3
        icon
        class="btn-image"
        (click)="
          emitShowImageEvent(
            'assets/images/create-menu-2.png',
            'Ảnh chỉnh sửa món'
          )
        "
      >
        <i class="fa-solid fa-image"></i> Xem ảnh
      </h3>
      <div class="modal">
        <app-step-box style="margin-top: 16px">
          <h3 header><i class="fas fa-cogs"></i> Thêm công thức cho món</h3>
          <h3
            icon
            class="btn-image"
            (click)="
              emitShowImageEvent(
                'assets/images/create-menu-3.png',
                'Ảnh chỉnh sửa công thức'
              )
            "
          >
            <i class="fa-solid fa-image"></i> Xem ảnh
          </h3>
          <div class="modal">
            <div class="row sub">
              <div class="icon"><i class="fas fa-angle-right"></i></div>
              <div class="line">
                Bước 1: Nhấn vào biểu tượng
                <strong><i class="fa-regular fa-gear"></i></strong> nằm dưới tên
                món/lựa chọn.
              </div>
            </div>
            <div class="row sub">
              <div class="icon"><i class="fas fa-angle-right"></i></div>
              <div class="line">Bước 2: Chọn <b>Thêm thành phần</b>.</div>
            </div>
            <div class="row sub">
              <div class="icon"><i class="fas fa-angle-right"></i></div>
              <div class="line">
                Bước 3: Nhập thông tin (ví dụ: nguyên liệu, định lượng…) rồi
                nhấn
                <b>Cập nhật</b>.
              </div>
            </div>
            <div class="row sub">
              <div class="icon"><i class="fas fa-angle-right"></i></div>
              <div class="line">
                Bước 4: Nhấn <b><i class="fa-solid fa-floppy-disk"></i></b> ở
                góc trên bên phải.
              </div>
            </div>
          </div>
        </app-step-box>

        <app-step-box style="margin-top: 16px">
          <h3 header><i class="fas fa-cogs"></i> Thêm lựa chọn cho món</h3>
          <h3
            icon
            class="btn-image"
            (click)="
              emitShowImageEvent(
                'assets/images/create-menu-4.png',
                'Ảnh chỉnh sửa lựa chọn'
              )
            "
          >
            <i class="fa-solid fa-image"></i> Xem ảnh
          </h3>
          <div class="modal">
            <div class="row sub">
              <div class="icon"><i class="fas fa-angle-right"></i></div>
              <div class="line">
                Bước 1: Nhấn vào biểu tượng
                <strong><i class="fa-regular fa-gear"></i></strong> dưới tên
                món.
              </div>
            </div>
            <div class="row sub">
              <div class="icon"><i class="fas fa-angle-right"></i></div>
              <div class="line">
                Bước 2: Chọn biểu tượng
                <b><i class="fa-solid fa-plus"></i></b> góc trên bên trái để
                <b>thêm lựa chọn</b>.
              </div>
            </div>
            <div class="row sub">
              <div class="icon"><i class="fas fa-angle-right"></i></div>
              <div class="line">
                Bước 3: Nhập thông tin (ví dụ: Size M, Size L, nóng, lạnh…).
              </div>
            </div>
            <div class="row sub">
              <div class="icon"><i class="fas fa-angle-right"></i></div>
              <div class="line">
                Bước 4: Nhấn <b>Cập nhật</b>, rồi ấn
                <b><i class="fa-solid fa-floppy-disk"></i></b> ở góc trên bên
                phải để lưu.
              </div>
            </div>
          </div>
        </app-step-box>
      </div>
      <div class="note">
        <p>
          (<b>Lưu ý:</b> Ấn vào biểu tượng
          <b><i class="fa-solid fa-magnifying-glass"></i></b> để tìm kiếm nhanh
          theo tên món.)
        </p>
      </div>
    </app-step-box>
  </div>

  <div class="section ">
    <app-step-box>
      <h3 header>c. Các thao tác khác</h3>
      <div class="modal">
        <div class="row">
          <div class="icon"><i class="fa-solid fa-hand-point-right"></i></div>
          <div class="line">
            Chọn biểu tượng
            <strong><i class="fa-solid fa-arrow-left"></i></strong> để trở về
            hành động trước đó.
          </div>
        </div>
        <div class="row">
          <div class="icon"><i class="fa-solid fa-hand-point-right"></i></div>
          <div class="line">
            Chọn biểu tượng
            <strong><i class="fa-solid fa-arrow-right"></i></strong> để hoàn tác
            hành động trở về.
          </div>
        </div>
        <div class="row">
          <div class="icon"><i class="fa-solid fa-hand-point-right"></i></div>
          <div class="line">
            Chọn biểu tượng
            <strong><i class="fa-solid fa-sparkles"></i></strong> để hỏi AI.
          </div>
        </div>
      </div>
    </app-step-box>
  </div>
</div>
