<desc>Kiểm tra và quyết toán doanh số, thu chi theo tháng, đảm bảo số liệu chính xác và đầy đủ.</desc>

<how name="Video hướng dẫn" [expanded]="true" class="video" *ngIf="!isMobile">
  <iframe width="100%" height="auto" src="https://www.youtube.com/embed/OQHu8qGHFU8?si=YnyHlUrTPR0RZTOd" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
</how>

<how name="Video hướng dẫn" [expanded]="true" class="video" *ngIf="isMobile">
  <iframe width="100%" height="auto" src="https://www.youtube.com/embed/zkbCb9XEJOE?si=OM6wq7r1uRDXPc81" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
</how>

<how name="Mô tả chức năng" [expanded]="true" [showIndex]="false">
  <step>Nút <b><i class="fa-solid fa-plus"></i></b>: Thêm phiếu thu, chi ngược</step>
  <step>Nút <b><i class="fa-solid fa-check"></i></b>: Xác nhận quyết toán.</step>
  <step>Nút <b><i class="fa-regular fa-layer-group"></i></b>: Xem thu, chi theo tổng tiền.</step>
  <step>Nút <b><i class="fa-regular fa-list"></i></b>: Xem thu, chi theo danh mục.</step>
  <step>Biểu tượng <b><i class="fa-regular fa-chevron-right"></i></b>: Danh sách chi tiết đang đóng.</step>
  <step>Biểu tượng <b><i class="fa-regular fa-chevron-down"></i></b>: Danh sách chi tiết đang mở.</step>
</how>

<how name="Thực hiện quyết toán">
  <step>Kiểm tra thông tin về doanh số, thu/chi, công nợ.</step>
  <step>Thêm các phiếu thu/chi ngược để cân đối số liệu nếu cần.</step>
  <step>Nhấn nút <b><i class="fa-solid fa-check"></i></b> để hoàn tất quyết toán doanh thu.</step>
  <step>Hệ thống sẽ ghi nhận số liệu quyết toán, cập nhật báo cáo tổng hợp và chuẩn bị dữ liệu cho báo cáo tài chính cuối ngày.</step>
</how>

<how name="Thêm phiếu thu/chi ngược">
  <step>Chọn  <b><i class="fa-solid fa-plus"></i></b> để thêm phiếu.</step>
  <step>Nhập các thông tin rồi ấn <b><i class="fa-regular fa-floppy-disk"></i></b>.</step>
  <step>Nhấn nút <b><i class="fa-solid fa-check"></i></b> để hoàn tất quyết toán doanh thu.</step>
  <step>Hệ thống sẽ ghi nhận số liệu quyết toán, cập nhật báo cáo tổng hợp và chuẩn bị dữ liệu cho báo cáo tài chính cuối ngày.</step>
</how>

<how name="Tìm kiếm phiếu thu/chi">
  <step>Chọn  <b><i class="fa-solid fa-magnifying-glass"></i></b>.</step>
  <step>Nhập <b>tên đối tác,...</b> để tìm kiếm.</step>
</how>

<app-general-instructions></app-general-instructions>
