<div class="guide-container">
  <div class="description">
    <p>
       Hướng dẫn quản lý kiểm tra và quyết toán doanh thu
      theo tháng, đảm bảo số liệu chính xác và đầy đủ.
    </p>
  </div>

  <div class="section in-app">
    <app-step-box>
      <h3 header>Thực hiện quyết toán</h3>
      <i icon class="fa-solid fa-chevron-down"></i>
      <div class="modal">
        <div class="row">
          <div class="icon"><i class="fas fa-hand-point-right"></i></div>
          <div class="line">
            <b>Bước 1:</b> Kiểm tra thông tin về doanh số, thu/chi, công nợ.
          </div>
        </div>
        <div class="row">
          <div class="icon"><i class="fas fa-hand-point-right"></i></div>
          <div class="line">
            <b>Bước 2:</b> Thêm các phiếu thu/chi ngược để cân đối số liệu nếu cần.
          </div>
        </div>
        <div class="row">
          <div class="icon"><i class="fas fa-hand-point-right"></i></div>
          <div class="line">
            <b>Bước 3:</b> Nhấn nút <b><i class="fa-solid fa-check"></i></b> để hoàn
            tất quyết toán doanh thu.
          </div>
        </div>
        <div class="row">
          <div class="icon"><i class="fas fa-hand-point-right"></i></div>
          <div class="line">
            <b>Bước 4:</b> Hệ thống sẽ ghi nhận số liệu quyết toán, cập nhật báo cáo
            tổng hợp và chuẩn bị dữ liệu cho báo cáo tài chính cuối ngày.
          </div>
        </div>
      </div>
    </app-step-box>
  </div>

  <div class="section in-app">
    <app-step-box>
      <h3 header>Thêm phiếu thu/chi ngược</h3>
      <i icon class="fa-solid fa-chevron-down"></i>
      <div class="modal">
        <div class="row">
          <div class="icon"><i class="fas fa-hand-point-right"></i></div>
          <div class="line">
            <b>Bước 1:</b> Chọn biểu tượng
            <strong><i class="fa-solid fa-plus"></i></strong> để thêm phiếu
          </div>
        </div>
        <div class="row">
          <div class="icon"><i class="fas fa-hand-point-right"></i></div>
          <div class="line">
            <b>Bước 2:</b> Nhập các thông tin rồi ấn <b>Cập nhật</b>.
          </div>
        </div>
        <div class="row">
          <div class="icon"><i class="fas fa-hand-point-right"></i></div>
          <div class="line">
            <b>Bước 3:</b> Nhấn nút <b><i class="fa-solid fa-check"></i></b> để hoàn
            tất quyết toán doanh thu.
          </div>
        </div>
        <div class="row">
          <div class="icon"><i class="fas fa-hand-point-right"></i></div>
          <div class="line">
            <b>Bước 4:</b> Hệ thống sẽ ghi nhận số liệu quyết toán, cập nhật báo cáo
            tổng hợp và chuẩn bị dữ liệu cho báo cáo tài chính cuối ngày.
          </div>
        </div>
      </div>
    </app-step-box>
  </div>

  <div class="section in-app">
    <app-step-box>
      <h3 header>Tìm kiếm phiếu thu/chi</h3>
      <i icon class="fa-solid fa-chevron-down"></i>
      <div class="modal">
        <div class="row">
          <div class="icon"><i class="fa-solid fa-hand-point-right"></i></div>
          <div class="line">
            <b><b>Bước 1:</b></b> Chọn biểu tượng
            <strong><i class="fa-solid fa-magnifying-glass"></i></strong>.
          </div>
        </div>
        <div class="row">
          <div class="icon"><i class="fa-solid fa-hand-point-right"></i></div>
          <div class="line">
            <b><b>Bước 2:</b></b> Nhập <b>tên đối tác,...</b> để tìm kiếm.
          </div>
        </div>
      </div>
    </app-step-box>
  </div>

  <app-general-instructions></app-general-instructions>
</div>
