<desc>
  Báo cáo chi tiết về hoạt động bán hàng, giúp theo dõi doanh thu và tình hình phục vụ.
</desc>

<how name="Video hướng dẫn" [expanded]="true" class="video">
<iframe width="100%" height="auto" src="https://www.youtube.com/embed/7_0Ea62lFzQ?si=NZvxy0uGgrchMQAW"  title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
</how>

<how name="Mô tả chức năng" [expanded]="true" [showIndex]="false">
  <step>Nút <b><i class="fa-regular fa-calendar"></i></b>: Chọn thời gian xem.</step>
  <step>Nút <b><i class="fa-regular fa-file-xmark"></i></b>: Xuất báo cáo dưới dạng excel.</step>
  <step>Nút <b><i class="fa-regular fa-user"></i></b>: Xem doanh số theo nhân sự.</step>
  <step>Nút <b><i class="fa-regular fa-bars"></i></b>: Xem món đang phục vụ, món huỷ.</step>
  <step>Nút <b><i class="fa-regular fa-trophy"></i></b>: Xem xếp hạng món bán.</step>
  <step>Nút <b><i class="fa-regular fa-chart-pie"></i></b>: Chọn loại báo cáo hoạt động.</step>
  <step>Nút <b><i class="fa-regular fa-filter"></i></b>: Lọc dữ liệu.</step>

</how>

<how name="Xem báo cáo hoạt động">
  <step>
    Chọn  <b><i class="fa-regular fa-calendar"></i></b>
    , chọn ngày bắt đầu và ngày kết thúc để xem báo cáo trong khoảng thời gian đó
  </step>

  <step>
    Xem các loại báo cáo về thông tin hoạt động:
    <table border="1" cellspacing="0" cellpadding="5">
      <thead>
        <tr>
          <th> Đầu mục</th>
          <th> Ý nghĩa</th>
          <th> Chi tiết</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Đã thu</td>
          <td>Tổng tiền đã thanh toán từ khách</td>
          <td>
            Nhấn  <b><i class="fa-chisel fa-regular fa-user-tie"></i></b>
            bên phải để xem doanh thu theo từng nhân viên
          </td>
        </tr>
        <tr>
          <td>Đang phục vụ</td>
          <td>Tổng tiền của các món chưa thanh toán/các bàn đang ngồi</td>
          <td>
            Nhấn  <b><i class="fa-regular fa-bars"></i></b>
            bên phải để xem chi tiết các món đang phục vụ
          </td>
        </tr>
        <tr>
          <td>Tổng doanh thu</td>
          <td>Tổng tiền của các món/hoá đơn đang phục vụ và đã thanh toán</td>
          <td>
            Nhấn  <b><i class="fa-regular fa-trophy"></i></b>
            bên phải để xem chi tiết doanh số/số lượng món đã bán
          </td>
        </tr>
        <tr>
          <td>Tổng huỷ</td>
          <td>Tổng tiền của các món bị huỷ</td>
          <td>
            Nhấn  <b><i class="fa-regular fa-bars"></i></b>
            bên phải để xem món nào bị huỷ
          </td>
        </tr>
      </tbody>
    </table>
  </step>

  <step>
    Xem lịch sử hóa đơn: ở phía dưới màn hình, chọn ngày cụ thể để xem chi tiết các hóa đơn trong ngày đó.
  </step>

  <step>
    Xuất báo cáo ra file Excel: nhấn vào  <b><i class="fa-regular fa-file-xmark"></i></b> để tải báo cáo về máy dưới dạng bảng tính.
  </step>
</how>

<app-general-instructions></app-general-instructions>
