<div class="guide-container">
  <h2>📥 6. Quy trình chốt ca</h2>
  <p>
    <strong>Mô tả:</strong>Hướng dẫn nhân viên chốt ca sau khi hết ca làm việc
    để xác định/kiểm soát các hoá đơn và phương thức thanh toán mà nhân viên đó
    xử lý trong ca làm việc.
  </p>

  <div class="section">
    <h3>
      a. Truy cập mục Thu & Chi.<button
        class="btn-image"
        (click)="
          emitShowImageEvent(
            'assets/images/thu-chi-1.png',
            'Ảnh truy cập chốt ca'
          )
        "
      >
        <i class="fa-solid fa-image"></i> Xem ảnh
      </button>
    </h3>
    <div class="row">
      <div class="icon"><i class="fas fa-hand-point-right"></i></div>
      <div class="line">
        Bước 1: Chọn biểu tượng
        <strong><i class="fa-solid fa-bars"></i></strong> góc trái trên cùng,
        chọn <b>Vận hành</b> sau đó truy cập <strong>Thu chi</strong>.
      </div>
    </div>
    <div class="row">
      <div class="icon"><i class="fas fa-hand-point-right"></i></div>
      <div class="line">
        Bước 2: Nhấn nút <b><i class="fa-solid fa-plus"></i></b>.
      </div>
    </div>
  </div>

  <div class="section">
    <h3>
      b. Thao tác với quy trình chốt ca.<button
        class="btn-image"
        (click)="
          emitShowImageEvent(
            'assets/images/clock-out-1.png',
            'Ảnh thao tác chốt ca.'
          )
        "
      >
        <i class="fa-solid fa-image"></i> Xem ảnh
      </button>
    </h3>
    <div class="row">
      <div class="icon"><i class="fas fa-hand-point-right"></i></div>
      <div class="line">Bước 3: Chọn <b>Chốt ca bán hàng</b>.</div>
    </div>
    <div class="row">
      <div class="icon"><i class="fas fa-hand-point-right"></i></div>
      <div class="line">
        Bước 4:Chọn <b><i class="fa-solid fa-plus"></i></b> để thêm chốt ca(Nếu
        đã có lịch sử chốt ca).
      </div>
    </div>
    <div class="row">
      <div class="icon"><i class="fas fa-hand-point-right"></i></div>
      <div class="line">
        Bước 5:Chọn <b><i class="fa-solid fa-check"></i></b> để thêm hoá đơn mà
        bản thân đã xử lý, nếu chọn nhầm có thể ấn
        <b><i class="fa-solid fa-xmark"></i></b> để bỏ.
      </div>
    </div>
    <div class="row">
      <div class="icon"><i class="fas fa-hand-point-right"></i></div>
      <div class="line">
        Bước 6:Nhấn <b><i class="fa-solid fa-floppy-disk"></i></b> để hoàn tất.
      </div>
    </div>
    <div class="row">
      <div class="icon"><i class="fas fa-hand-point-right"></i></div>
      <div class="line">
        Bước 7:Ở bảng lịch sử chốt ca, chọn
        <b><i class="fa-solid fa-check"></i></b> để xác nhận chốt ca.
      </div>
    </div>
    <div class="note">
      <p>
        (<b>Lưu ý:</b> Ấn vào biểu tượng
        <b><i class="fa-solid fa-magnifying-glass"></i></b> để tìm kiếm nhanh
        theo tên món.)
      </p>
    </div>
  </div>
</div>
