<div class="guide-container">
  <h2>11. Quy trình xuất hóa đơn điện tử</h2>
  <p>
    <strong>Mô tả:</strong>Hướng dẫn nhân viên và quản lý xuất hóa đơn điện tử
    nhanh chóng, đảm bảo tuân thủ quy định về kế toán và thuế.
  </p>

  <div class="section">
    <app-step-box>
      <h3 header>VIDEO HƯỚNG DẪN</h3>
      <h3 icon class="btn-image"><i class="fa-solid fa-image"></i> Xem clip</h3>
      <div class="modal video">
        <iframe
          src="https://www.youtube.com/embed/Ui4xnHI9wr8?si=7B8y3FkF_Rkjl4tb"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          referrerpolicy="strict-origin-when-cross-origin"
          allowfullscreen
        ></iframe>
      </div>
    </app-step-box>
  </div>

  <div class="section">
    <app-step-box>
      <h3 header>a. Truy cập cài đặt HĐĐT</h3>
      <h3
        icon
        class="btn-image"
        (click)="
          emitShowImageEvent(
            'assets/images/export-bills-1.png',
            'Ảnh truy cập cài đặt xuất hoá đơn'
          )
        "
      >
        <i class="fa-solid fa-image"></i> Xem ảnh
      </h3>
      <div class="modal">
        <div class="row">

          <div class="line">
            <b>Bước 1:</b> Chọn biểu tượng
            <strong><i class="fa-solid fa-bars"></i></strong> góc trái trên
            cùng, chọn <b>Chính sách</b>
            sau đó truy cập
            <strong>Cấu hình</strong> và chọn <b>Hóa đơn</b>.
          </div>
        </div>
        <div class="row">

          <div class="line">
            <b>Bước 2:</b> Chọn đơn vị cung cấp dịch vụ, sau đó nhập các thông tin từ
            dữ liệu do đơn vị đó cung cấp.
          </div>
        </div>
      </div>
    </app-step-box>
  </div>

  <div class="section">
    <app-step-box>
      <h3 header>b. Xuất hoá đơn điện tử</h3>
      <h3
        icon
        class="btn-image"
        (click)="
          emitShowImageEvent(
            'assets/images/export-bills-2.png',
            'Ảnh xuất hoá đơn điện tử'
          )
        "
      >
        <i class="fa-solid fa-image"></i> Xem ảnh
      </h3>
      <div class="modal">
        <div class="row">

          <div class="line">
            <b>Bước 2:</b> Chọn bàn hoặc hóa đơn cần xuất HĐĐT: Có thể chọn trong
            <b>lịch sử bán hàng</b> hoặc ngay khi <b>thanh toán</b>.
          </div>
        </div>
        <div class="row">

          <div class="line">
            <b>Bước 3:</b> Chọn biểu tượng
            <b><i class="fa-regular fa-circle-arrow-up"></i></b> và nhấn nút
            <b>Xuất hóa đơn màu đỏ</b> để hoàn tất thao tác.
          </div>
        </div>
        <div class="row">

          <div class="line">
            <b>Bước 4:</b> Hệ thống sẽ tự động tạo hóa đơn điện tử, đồng thời lưu trữ
            thông tin trên phần mềm của bên cung cấp dịch vụ để quản lý.
          </div>
        </div>
      </div>
    </app-step-box>
  </div>
</div>
