<div class="guide-container">
  <h2>🧾 9. Quy trình xuất hóa đơn điện tử (HĐĐT)</h2>
  <p>
    <strong>Mô tả:</strong>Hướng dẫn nhân viên và quản lý xuất hóa đơn điện tử nhanh chóng, đảm bảo tuân thủ quy định về
    kế toán và thuế.
  </p>

  <div class="section">
    <h3>a. Truy cập cài đặt HĐĐT.<button class="btn-image" (click)="
            emitShowImageEvent(
              'assets/images/hddt-1.PNG',
              'Ảnh truy cập cài đặt xuất hoá đơn'
            )
          "><i class="fa-solid fa-image"></i> Xem ảnh</button></h3>
    <div class="row">
      <div class="icon"><i class="fas fa-hand-point-right"></i></div>
      <div class="line"> Bước 1: Chọn biểu tượng <strong><i class="fa-solid fa-bars"></i></strong> góc trái trên cùng,
        sau đó truy cập
        <strong>Cấu hình</strong> và chọn <b>Hóa đơn</b>.
      </div>
    </div>
    <div class="row">
      <div class="icon"><i class="fas fa-hand-point-right"></i></div>
      <div class="line"> Bước 2: Chọn đơn vị cung cấp dịch vụ, sau đó nhập các thông tin từ dữ liệu do đơn vị đó cung cấp.
      </div>
    </div>
  </div>

  <div class="section">
    <h3>b. Chọn hóa đơn và xuất.<button class="btn-image" (click)="
            emitShowImageEvent(
              'assets/images/order-4.PNG',
              'Ảnh các thao tác xuất hoá đơn'
            )
          "><i class="fa-solid fa-image"></i> Xem ảnh</button></h3>
    <div class="row">
      <div class="icon"><i class="fas fa-hand-point-right"></i></div>
      <div class="line">Bước 2: Chọn bàn hoặc hóa đơn cần xuất HĐĐT:
        <ul>
          <li>Có thể chọn trong <b>lịch sử bán hàng</b> hoặc ngay khi <b>thanh toán</b>.</li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="icon"><i class="fas fa-hand-point-right"></i></div>
      <div class="line">Bước 3: Nhấn nút <b>Xuất hóa đơn màu đỏ</b> để hoàn tất thao tác.</div>
    </div>
    <div class="row">
      <div class="icon"><i class="fas fa-hand-point-right"></i></div>
      <div class="line">Bước 4: Hệ thống sẽ tự động tạo hóa đơn điện tử, đồng thời lưu trữ thông tin trên phần mềm của
        bên cung cấp dịch vụ để quản lý.</div>
    </div>
  </div>
</div>