<desc>Một số thông tin , diễn giải về các ký hiệu và nút bấm trong xử lý công nợ, đặt cọc.</desc>

<how name="Mô tả chức năng" [expanded]="true" [showIndex]="false">

  <step>Nút <b><i class="fa-regular fa-list"></i></b>: Xem thông tin công nợ, đặt cọc</step>
  <step>Nút <b><i class="fa-solid fa-history"></i></b>: Xem lịch sử công nợ, đặt cọc</step>
  <step>Nút <b><i class="fa-regular fa-pen"></i></b>: Điều chỉnh hoặc xử lý công nợ, đặt cọc</step>
  <step>Nút <b><i class="fa-regular fa-gear"></i></b>: Sửa, khoá hoặc xác nhận phiếu thu, chi cho công nợ, đặt cọc</step>

</how>
