<desc
  >Thiết lập danh sách món ăn, đồ uống hoặc sản phẩm mà cửa hàng cung cấp.</desc
>

<how name="Video hướng dẫn" [expanded]="true" class="video">
<iframe width="100%" height="auto" src="https://www.youtube.com/embed/G79qAjz11rI?si=bK4Kndnae4W2RlFF" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
</how>

<how name="Mô tả chức năng" [expanded]="true" [showIndex]="false">
  <step
    >Nút <b><i class="fa-regular fa-magnifying-glass"></i></b>: Tìm kếm
    món</step
  >
  <step
    >Nút <b><i class="fa-solid fa-plus"></i></b>: Thêm mới món</step
  >
  <step
    >Nút <b><i class="fa-regular fa-floppy-disk"></i></b>: Xác nhận/Lưu dữ
    liệu</step
  >
  <step
    >Nút <b><i class="fa-solid fa-trash"></i></b>: Xoá thành phần công
    thức</step
  >
  <step
    >Nút <b><i class="fa-solid fa-sparkles"></i></b>: Tương tác với AI</step
  >
  <step
    >Nút <b><i class="fa-solid fa-arrow-left"></i></b>: Hoàn tác</step
  >
  <step
    >Nút <b><i class="fa-solid fa-arrow-right"></i></b>: Làm lại</step
  >
  <step
    >Nút <b><i class="fa-regular fa-clipboard"></i></b>: Dán dữ liệu</step
  >
  <step
    >Biểu tượng <b><i class="fa-regular fa-copy"></i></b>: Thể hiện dữ liệu
    món/lựa chọn đã được sao chép.</step
  >
  <step
    >Biểu tượng <b><i class="fa-solid fa-lock"></i></b>: Thể hiện nhóm/món thuộc chính sách chung của hệ thống.</step
  >
</how>

<how name="Tạo menu món ăn">
  <step
    >Nhấn <b><i class="fa-solid fa-plus"></i></b> và chọn <b>Tạo món</b>.</step
  >
  <step>Nhập thông tin món.</step>
  <step
    >Nhấn <b><i class="fa-regular fa-floppy-disk"></i></b> để lưu món.</step
  >
</how>

<how name="Thêm công thức cho món">
  <step
    >Nhấn vào <b><i class="fa-regular fa-gear"></i></b> của món và chọn
    <b>Công thức</b>.</step
  >
  <step
    >Chọn <b><i class="fa-regular fa-plus"></i></b> dưới mục
    <b>Thành phần</b>.</step
  >
  <step>Nhập thông tin (ví dụ: nguyên liệu, định lượng...) và xác nhận.</step>
  <step>Ấn vào một <b>Thành phần</b> trong công thức để sửa thông tin.</step>
  <step
    >Chọn <b><i class="fa-solid fa-trash"></i></b> để xoá thành phần trong công
    thức.</step
  >
  <step
    >Nhấn <b><i class="fa-regular fa-floppy-disk"></i></b> để lưu.</step
  >
</how>

<how name="Thêm lựa chọn cho món">
  <step
    >Nhấn vào <b><i class="fa-regular fa-gear"></i></b> của món và chọn
    <b>Công thức</b>.</step
  >
  <step
    >Chọn <b><i class="fa-regular fa-plus"></i></b> góc dưới bên trái để
    <b>Thêm lựa chọn</b>.</step
  >
  <step
    >Nhập thông tin (ví dụ: Size M, Size L, nóng, lạnh...) và xác nhận.</step
  >
  <step
    >Nhấn <b><i class="fa-regular fa-floppy-disk"></i></b> để lưu.</step
  >
</how>

<how name="Các thao tác khác">
  <step>
    Chọn biểu tượng <strong><i class="fa-solid fa-sparkles"></i></strong> để hỏi
    hoặc đưa ra yêu cầu cho AI thực hiện..</step
  >
  <step>
    Chọn biểu tượng <strong><i class="fa-regular fa-gear"></i></strong> của nhóm
    để tạo món cho nhóm, sửa nhóm hoặc xoá nhóm.</step
  >
  <step>
    Chọn biểu tượng
    <strong><i class="fa-regular fa-gear"></i></strong> của món để thêm công
    thức/lựa chọn, sửa món hoặc xoá món.</step
  >
  <step>
    Chọn biểu tượng
    <strong><i class="fa-regular fa-gear"></i></strong> của lựa chọn để chỉnh
    sửa, sao chép hoặc xoá dữ liệu lựa chọn.</step
  >
</how>

<app-general-instructions></app-general-instructions>
