<div class="guide-container">
  <div class="description">
    <p>
       Tính năng Khởi tạo menu giúp bạn thiết lập danh
      sách món ăn, đồ uống hoặc sản phẩm mà cửa hàng cung cấp.
    </p>
  </div>
  <!-- a. Tạo menu món ăn -->
  <div class="section in-app">
    <app-step-box>
      <h3 header>Tạo menu món ăn</h3>
      <i icon class="fa-solid fa-chevron-down"></i>

      <!-- <div class="row">
      <div class="icon"><i class="fas fa-hand-point-right"></i></div>
      <div class="line"><b>Bước 2:</b> Tạo nhóm món:</div>
    </div>
    <div class="row sub">
      <div class="icon"><i class="fa-solid fa-hand-point-right"></i></div>
      <div class="line">Nhấn <b><i class="fa-light fa-folder-plus"></i></b> để <b>thêm nhóm</b>.</div>
    </div>
    <div class="row sub">
      <div class="icon"><i class="fa-solid fa-hand-point-right"></i></div>
      <div class="line">Nhập thông tin nhóm (Tên, , Thú tự).</div>
    </div>
    <div class="row sub">
      <div class="icon"><i class="fa-solid fa-hand-point-right"></i></div>
      <div class="line">Nhấn <b><i class="fa-regular fa-floppy-disk"></i></b> để lưu nhóm.</div>
    </div> -->
      <div class="modal">
        <div class="row">
          <div class="icon"><i class="fa-solid fa-hand-point-right"></i></div>
          <div class="line">
            <b>Bước 1:</b> Nhấn <b><i class="fa-solid fa-plus"></i></b> và chọn
            <b>Tạo món</b>.
          </div>
        </div>
        <div class="row">
          <div class="icon"><i class="fa-solid fa-hand-point-right"></i></div>
          <div class="line">
            <b>Bước 2:</b> Nhập thông tin món ăn (tên món, giá…).
          </div>
        </div>
        <div class="row">
          <div class="icon"><i class="fa-solid fa-hand-point-right"></i></div>
          <div class="line">
            <b>Bước 3:</b> Nhấn <b><i class="fa-regular fa-floppy-disk"></i></b> để lưu món.
          </div>
        </div>
        <div class="row">
          <div class="icon"><i class="fa-solid fa-hand-point-right"></i></div>
          <div class="line">
            <b>Bước 4:</b> Sau khi tạo xong các món, nhấn biểu tượng
            <b><i class="fa-solid fa-floppy-disk"></i></b> để hoàn tất.
          </div>
        </div>
      </div>
    </app-step-box>
  </div>

  <!-- b. <i class="fa-regular fa-sliders"></i>Cấu hình món ăn -->
  <div class="section in-app">
    <app-step-box>
      <h3 header>Cấu hình món ăn</h3>
      <i icon class="fa-solid fa-chevron-down"></i>
      <div class="modal">
        <div class="row">
          <div class="line">
            <b>Thêm công thức cho món/lựa chọn</b>
          </div>
        </div>
        <div class="row sub">
          <div class="icon"><i class="fa-solid fa-hand-point-right"></i></div>
          <div class="line">
            <b>Bước 1:</b> Nhấn vào biểu tượng
            <strong><i class="fa-regular fa-gear"></i></strong> nằm dưới tên
            món/lựa chọn.
          </div>
        </div>
        <div class="row sub">
          <div class="icon"><i class="fa-solid fa-hand-point-right"></i></div>
          <div class="line"><b>Bước 2:</b> Chọn <b>Thêm thành phần</b>.</div>
        </div>
        <div class="row sub">
          <div class="icon"><i class="fa-solid fa-hand-point-right"></i></div>
          <div class="line">
            <b>Bước 3:</b> Nhập thông tin (ví dụ: nguyên liệu, định lượng…) rồi
            nhấn <b><i class="fa-regular fa-floppy-disk"></i></b>.
          </div>
        </div>
        <div class="row sub">
          <div class="icon"><i class="fa-solid fa-hand-point-right"></i></div>
          <div class="line">
            <b>Bước 4:</b> Nhấn <b><i class="fa-solid fa-floppy-disk"></i></b> để lưu.
          </div>
        </div>

        <div class="row">
          <div class="line">
            <b>Thêm lựa chọn cho món</b> (ví dụ: size lớn/nhỏ, nóng/lạnh…)
          </div>
        </div>
        <div class="row sub">
          <div class="icon"><i class="fa-solid fa-hand-point-right"></i></div>
          <div class="line">
            <b>Bước 1:</b> Nhấn vào biểu tượng
            <strong><i class="fa-regular fa-gear"></i></strong> dưới tên món.
          </div>
        </div>
        <div class="row sub">
          <div class="icon"><i class="fa-solid fa-hand-point-right"></i></div>
          <div class="line">
            <b>Bước 2:</b> Chọn biểu tượng
            <b><i class="fa-solid fa-plus"></i></b> góc trên bên trái để
            <b>thêm lựa chọn</b>.
          </div>
        </div>
        <div class="row sub">
          <div class="icon"><i class="fa-solid fa-hand-point-right"></i></div>
          <div class="line">
            <b>Bước 3:</b> Nhập thông tin (ví dụ: Size M, Size L, nóng, lạnh…) và nhấn <b><i class="fa-regular fa-floppy-disk"></i></b>.
          </div>
        </div>
        <div class="row sub">
          <div class="icon"><i class="fa-solid fa-hand-point-right"></i></div>
          <div class="line">
            <b>Bước 4:</b> Nhấn
            <b><i class="fa-solid fa-floppy-disk"></i></b>
            để lưu.
          </div>
        </div>
      </div>
    </app-step-box>
  </div>

  <div class="section in-app">
    <app-step-box>
      <h3 header>Tìm kiếm món</h3>
      <i icon class="fa-solid fa-chevron-down"></i>
      <div class="modal">
        <div class="row">
          <div class="icon"><i class="fa-solid fa-hand-point-right"></i></div>
          <div class="line">
            <b>Bước 1:</b> Chọn biểu tượng
            <strong><i class="fa-solid fa-magnifying-glass"></i></strong>.
          </div>
        </div>
        <div class="row">
          <div class="icon"><i class="fa-solid fa-hand-point-right"></i></div>
          <div class="line">
            <b>Bước 2:</b> Nhập <b>tên món</b> để tìm kiếm.
          </div>
        </div>
      </div>
    </app-step-box>
  </div>

  <div class="section in-app">
    <app-step-box>
      <h3 header>Các thao tác khác</h3>
      <i icon class="fa-solid fa-chevron-down"></i>
      <div class="modal">
        <div class="row">
          <div class="icon"><i class="fa-solid fa-hand-point-right"></i></div>
          <div class="line">
            Chọn biểu tượng
            <strong><i class="fa-solid fa-arrow-left"></i></strong> để trở về
            hành động trước đó.
          </div>
        </div>
        <div class="row">
          <div class="icon"><i class="fa-solid fa-hand-point-right"></i></div>
          <div class="line">
            Chọn biểu tượng
            <strong><i class="fa-solid fa-arrow-right"></i></strong> để hoàn tác
            hành động trở về.
          </div>
        </div>
        <div class="row">
          <div class="icon"><i class="fa-solid fa-hand-point-right"></i></div>
          <div class="line">
            Chọn biểu tượng
            <strong><i class="fa-solid fa-sparkles"></i></strong> để hỏi AI.
          </div>
        </div>
      </div>
    </app-step-box>
  </div>

  <app-general-instructions></app-general-instructions>
</div>
