<desc>Thiết lập danh sách món ăn, đồ uống hoặc sản phẩm mà cửa hàng cung cấp.</desc>

<how name="Mô tả chức năng" [expanded]="true" [showIndex]="false">

  <step>Nút <b><i class="fa-regular fa-magnifying-glass"></i></b>: Tìm kếm món</step>
  <step>Nút <b><i class="fa-solid fa-plus"></i></b>: Thêm mới món</step>
  <step>Nút <b><i class="fa-regular fa-floppy-disk"></i></b>: Lưu món, nhóm</step>
  <step>Nút <b><i class="fa-regular fa-pen"></i></b>: Chỉnh sửa món, nhóm</step>
  <step>Nút <b><i class="fa-solid fa-trash"></i></b>: Xoá món, nhóm</step>
  <step>Nút <b><i class="fa-solid fa-sparkles"></i></b>: Tương tác với AI</step>
  <step>Nút <b><i class="fa-solid fa-arrow-left"></i></b>: Hoàn tác</step>
  <step>Nút <b><i class="fa-solid fa-arrow-right"></i></b>: Làm lại</step>
  <step>Nút <b><i class="fa-regular fa-copy"></i></b>: Sao chép dữ liệu.</step>
  <step>Nút <b><i class="fa-regular fa-clipboard"></i></b>: Dán dữ liệu</step>

</how>

<how name="Tạo menu món ăn">
  <step>Nhấn <b><i class="fa-solid fa-plus"></i></b> và chọn <b>Tạo món</b>.</step>
  <step>Nhập thông tin món ăn.</step>
  <step>Nhấn <b><i class="fa-regular fa-floppy-disk"></i></b> để lưu món.</step>
  <step>Chọn  <b><i class="fa-regular fa-pen"></i></b> để sửa thông tin.</step>
  <step>Chọn  <b><i class="fa-solid fa-trash"></i></b> để xoá.</step>
  <step>Sau khi tạo xong các món, nhấn  <b><i class="fa-solid fa-floppy-disk"></i></b> để hoàn tất.</step>
</how>

<how name="Thêm công thức cho món">
  <step>Nhấn vào  <b><i class="fa-regular fa-gear"></i></b> nằm dưới tên món/lựa chọn.</step>
  <step>Chọn <b>Thêm thành phần</b>.</step>
  <step>Nhập thông tin (ví dụ: nguyên liệu, định lượng...) rồi nhấn <b><i class="fa-regular fa-floppy-disk"></i></b>.</step>
  <step>Chọn  <b><i class="fa-regular fa-gear"></i></b> để sửa thông tin.</step>
  <step>Chọn  <b><i class="fa-solid fa-trash"></i></b> để xoá.</step>
  <step>Nhấn <b><i class="fa-solid fa-floppy-disk"></i></b> để lưu.</step>
</how>

<how name="Thêm lựa chọn cho món">
  <step>Nhấn vào  <b><i class="fa-regular fa-gear"></i></b> dưới tên món.</step>
  <step>Chọn  <b><i class="fa-solid fa-plus"></i></b> góc trên bên trái để <b>thêm lựa chọn</b>.</step>
  <step>Nhập thông tin (ví dụ: Size M, Size L, nóng, lạnh...) và nhấn <b><i class="fa-regular fa-floppy-disk"></i></b>.</step>
  <step>Chọn  <b><i class="fa-regular fa-pen"></i></b> để sửa thông tin.</step>
  <step>Chọn  <b><i class="fa-solid fa-trash"></i></b> để xoá.</step>
  <step>Nhấn <b><i class="fa-solid fa-floppy-disk"></i></b> để lưu.</step>
</how>

<app-general-instructions></app-general-instructions>
