<desc>Một số thông tin , diễn giải về các ký hiệu và nút bấm trong chỉnh sửa món, lựa chọn món.</desc>

<how name="Mô tả chức năng" [expanded]="true" [showIndex]="false">

  <step>Nút <b><i class="fa-regular fa-plus"></i></b>: Thêm thành phần, topping, lựa chọn</step>
  <step>Nút <b><i class="fa-regular fa-layer-group"></i></b>:Bật tắt chế độ đa lớp</step>
  <step>Nút <b><i class="fa-regular fa-gear"></i></b>: Chỉnh sửa, sao chép, cắt, xoá lựa chọn</step>
  <step>Nút <b><i class="fa-regular fa-clipboard"></i></b>: Dán dữ liệu vừa copy</step>
  <step>Nút <b><i class="fa-solid fa-trash"></i></b>: Xoá thành phần trong công thức</step>
  <step>Nút <b><i class="fa-regular fa-arrow-left"></i></b>: Hoàn tác</step>
  <step>Nút <b><i class="fa-regular fa-arrow-right"></i></b>: Làm lại</step>
  <step>Nút <b><i class="fa-regular fa-floppy-disk"></i></b>: Lưu lại</step>
  <step>Biểu tượng <b><i class="fa-regular fa-copy"></i></b>: Thể hiện dữ liệu đã được sao chép</step>

</how>
