<desc>Một số thông tin , diễn giải về các ký hiệu và nút bấm trong chỉnh sửa món, lựa chọn món.</desc>

<how name="Mô tả chức năng" [expanded]="true" [showIndex]="false">

  <step>Nút <b><i class="fa-regular fa-plus"></i></b>: Thêm topping cho món, lựa chọn</step>
  <step>Nút <b><i class="fa-regular fa-copy"></i></b>: Copy dữ liệu món, lựa chọn</step>
  <step>Nút <b><i class="fa-regular fa-clipboard"></i></b>: Dán dữ liệu vừa copy</step>
  <step>Nút <b><i class="fa-regular fa-layer-group"></i></b>: Cái này chưa rõ ý nghĩa</step>
  <step>Nút <b><i class="fa-regular fa-pen"></i></b>: Chỉnh sửa thông tin món, lựa chọn</step>
  <step>Nút <b><i class="fa-regular fa-sparkles"></i></b>: Tương tác với AI</step>
  <step>Nút <b><i class="fa-regular fa-arrow-left"></i></b>: Hoàn tác</step>
  <step>Nút <b><i class="fa-regular fa-arrow-right"></i></b>: Làm lại</step>
  <step>Nút <b><i class="fa-regular fa-floopy-disk"></i></b>: Lưu lại các thao tác vừa thực hiện</step>

</how>
