<desc>Một số thông tin , diễn giải về các ký hiệu và nút bấm trong mục xử lý hoá đơn chốt ca.</desc>

<how name="Mô tả chức năng" [expanded]="true" [showIndex]="false">

  <step>Nút <b><i class="fa-regular fa-check"></i></b>: Thêm hoá đơn vào danh sách</step>
  <step>Nút <b><i class="fa-regular fa-xmark"></i></b>: Bỏ hoá đơn khỏi danh sách</step>
  <step>Nút <b><i class="fa-regular fa-floppy-disk"></i></b>: Lưu lại danh sách hoá đơn</step>
  <step>Nút <b><i class="fa-regular fa-clock"></i> <i class="fa-solid fa-sort"></i></b>: Săp xếp theo thời gian</step>
  <step>Nút <b><i class="fa-regular fa-location"></i> <i class="fa-solid fa-sort"></i></b>: Săp xếp theo bàn</step>
  <step>Nút <b><i class="fa-regular fa-tag"></i> <i class="fa-solid fa-sort"></i></b>: Săp xếp theo ghi chú</step>
  <step>Nút <b><i class="fa-regular fa-user"></i> <i class="fa-solid fa-sort"></i></b>: Săp xếp theo nhân sự</step>
  <step>Nút <b><i class="fa-regular fa-cash-register"></i> <i class="fa-solid fa-sort"></i></b>: Săp xếp theo số tiền</step>

</how>
