<desc>Thiết lập danh sách hàng hóa để quản lý kinh doanh hiệu quả</desc>

<how name="Thêm mới mặt hàng">
  <step>Nhấn nút <b><i class="fa-solid fa-plus"></i></b> để thêm mặt hàng (chủng loại).</step>
  <step>Nhập thông tin mặt hàng (ví dụ: Bột Cacao, Bột Mix,...).</step>
  <step>Nhấn <b><i class="fa-solid fa-check"></i></b> để xác nhận.</step>
  <step>Chọn  <b><i class="fa-solid fa-floppy-disk"></i></b> để lưu lại.</step>
</how>

<how name="Thêm sản phẩm cho mặt hàng">
  <step>Chọn mặt hàng vừa tạo trong danh sách.</step>
  <step>Ở khung <b>Danh mục sản phẩm</b>, chọn <b><i class="fa-solid fa-plus"></i></b> để thêm sản phẩm mới.</step>
  <step>Nhập thông tin chi tiết cho sản phẩm (ví dụ: Bột Cacao sẽ có Bột Cacao A, Bột Cacao B,...).</step>
  <step>Nhấn <b><i class="fa-solid fa-check"></i></b> để xác nhận.</step>
  <step>Chọn  <b><i class="fa-solid fa-xmark"></i></b> và nhấn <b><i class="fa-solid fa-floppy-disk"></i></b> để hoàn tất.</step>
</how>

<how name="Chỉnh sửa sản phẩm">
  <step>Để sửa thông tin:
     Chọn <b>nhóm hàng</b>
    -> Chọn <b>mặt hàng (chủng loại)</b>
    -> Chọn <b>sản phẩm</b> cần sửa
    -> Sửa thông tin và nhấn <b><i class="fa-solid fa-check"></i></b>
    -> Chọn  <b><i class="fa-solid fa-xmark"></i></b> và nhấn <b><i class="fa-solid fa-floppy-disk"></i></b> để hoàn tất.</step>
  <step>Để xoá hàng hoá:
    Chọn <b>nhóm hàng</b>
    -> Chọn <b>mặt hàng (chủng loại)</b>
    -> Chọn <b>sản phẩm</b> cần xoá
    -> Nhấn <b><i class="fa-solid fa-trash"></i></b>
    -> Chọn  <b><i class="fa-solid fa-xmark"></i></b> và nhấn <b><i class="fa-solid fa-floppy-disk"></i></b> để hoàn tất.</step>
</how>

<how name="Tìm kiếm hàng hoá">
  <step>Chọn  <b><i class="fa-solid fa-magnifying-glass"></i></b>.</step>
  <step>Nhập <b>tên hàng hoá</b> để tìm kiếm.</step>
</how>

<how name="Các thao tác khác">
  <step>Chọn <b><i class="fa-solid fa-arrow-left"></i></b> để trở về hành động trước đó.</step>
  <step>Chọn <b><i class="fa-solid fa-arrow-right"></i></b> để hoàn tác hành động trở về.</step>
  <step>Chọn <b><i class="fa-solid fa-sparkles"></i></b> để tạo nhanh bằng AI.</step>
</how>

<app-general-instructions></app-general-instructions>
