<desc>Thiết lập danh sách hàng hóa để quản lý kinh doanh hiệu quả</desc>

<how name="Video hướng dẫn" [expanded]="true" class="video" *ngIf="!isMobile">
<iframe width="100%" height="auto" src="https://www.youtube.com/embed/KL5GxCMj2zs?si=HpLbY_hOEcFWuDOb" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
</how>

<how name="Video hướng dẫn" [expanded]="true" class="video" *ngIf="isMobile">
<iframe width="100%" height="auto" src="https://www.youtube.com/embed/h5z0OiCgFi8?si=0RO5u3atH72953BJ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
</how>


<how name="Mô tả chức năng" [expanded]="true" [showIndex]="false">
  <step
    >Nút <b><i class="fa-regular fa-magnifying-glass"></i></b>: Tìm kếm hàng
    hoá.</step
  >
  <step
    >Nút <b><i class="fa-solid fa-plus"></i></b>: Thêm mới hàng hoá.</step
  >
  <step
    >Nút <b><i class="fa-regular fa-floppy-disk"></i></b>: Lưu lại thông
    tin.</step
  >
  <step
    >Nút <b><i class="fa-regular fa-gear"></i></b>: Chỉnh sửa, xoá mặt hàng,
    nhóm hàng hoá.</step
  >
  <step
    >Nút <b><i class="fa-solid fa-trash"></i></b>: Xoá sản phẩm.</step
  >
  <step
    >Nút <b><i class="fa-solid fa-arrow-left"></i></b>: Hoàn tác.</step
  >
  <step
    >Nút <b><i class="fa-solid fa-arrow-right"></i></b>: Làm lại.</step
  >
  <step
    >Biểu tượng <b><i class="fa-solid fa-chevron-right"></i></b>: Danh sách chi
    tiết đang đóng.</step
  >
  <step
    >Biểu tượng <b><i class="fa-solid fa-chevron-down"></i></b>: Danh sách chi
    tiết đang mở.</step
  >
  <step
    >Biểu tượng <b><i class="fa-solid fa-lock"></i></b>: Thể hiện đây là hàng
    hoá trong chính sách chung.</step
  >
</how>

<how name="Lưu ý về hàng hoá">
  <step
    >Hàng hoá được mô tả theo cấp độ như sau: <b>Nhóm hàng hoá</b>
    <i class="fa-regular fa-arrow-right"></i> <b>Mặt hàng (chủng loại)</b>
    <i class="fa-regular fa-arrow-right"></i> <b>Sản phẩm</b>.</step
  >
  <step
    >Một <b>nhóm hàng hoá</b> (VD: Cà phê) sẽ bao gồm nhiều
    <b>mặt hàng (chủng loại)</b> (VD: Cà phê bột, cà phê Arabica,...).</step
  >
  <step
    >Một <b>mặt hàng (chủng loại)</b> (VD: Cà phê bột) sẽ bao gồm nhiều
    <b>sản phẩm</b> (VD: Cà phê bột hãng A, cà phê bột hãng B,...).</step
  >
</how>

<how name="Thêm mới mặt hàng">
  <step
    >Nhấn nút <b><i class="fa-solid fa-plus"></i></b> để thêm mặt hàng (chủng
    loại).</step
  >
  <step>Nhập thông tin mặt hàng (ví dụ: Bột Cacao, Bột Mix,...).</step>
  <step
    >Nhấn <b><i class="fa-regular fa-floppy-disk"></i></b> để Lưu.</step
  >
</how>

<how name="Thêm sản phẩm cho mặt hàng">
  <step>Chọn mặt hàng vừa tạo trong danh sách.</step>
  <step
    >Ở khung <b>Danh mục sản phẩm</b>, chọn
    <b><i class="fa-solid fa-plus"></i></b> để thêm sản phẩm mới.</step
  >
  <step
    >Nhập thông tin chi tiết cho sản phẩm (ví dụ: Bột Cacao sẽ có Bột Cacao A,
    Bột Cacao B,...).</step
  >
  <step
    >Nhấn <b><i class="fa-regular fa-floppy-disk"></i></b> để Lưu.</step
  >
</how>

<how name="Chỉnh sửa nhóm, mặt hàng">
  <step
    >Chọn <b><i class="fa-regular fa-gear"></i></b> của nhóm, mặt hàng muốn
    sửa.</step
  >
  <step>Chọn Chỉnh sửa/xoá nhóm, mặt hàng.</step>
  <step
    >Nhấn <b><i class="fa-regular fa-floppy-disk"></i></b> để Lưu.</step
  >
</how>

<how name="Chỉnh sửa sản phẩm">
  <step
    >Để sửa thông tin: Chọn <b>nhóm hàng</b>
    <i class="fa-regular fa-arrow-right"></i> Chọn <b>mặt hàng (chủng loại)</b>
    <i class="fa-regular fa-arrow-right"></i> Chọn <b>sản phẩm</b> cần sửa
    <i class="fa-regular fa-arrow-right"></i> Sửa thông tin và nhấn
    <b><i class="fa-regular fa-floppy-disk"></i></b> để Lưu.</step
  >
  <step
    >Để xoá hàng hoá: Chọn <b>nhóm hàng</b>
    <i class="fa-regular fa-arrow-right"></i> Chọn <b>mặt hàng (chủng loại)</b>
    <i class="fa-regular fa-arrow-right"></i> Chọn <b>sản phẩm</b> cần xoá
    <i class="fa-regular fa-arrow-right"></i> Nhấn
    <b><i class="fa-solid fa-trash"></i></b> để hoàn tất.</step
  >
</how>

<app-general-instructions></app-general-instructions>
