<desc>Thiết lập danh sách hàng hóa để quản lý kinh doanh hiệu quả</desc>

<how name="Mô tả chức năng" [expanded]="true" [showIndex]="false">
  <step>Nút <b><i class="fa-regular fa-magnifying-glass"></i></b>: Tìm kếm hàng hoá.</step>
  <step>Nút <b><i class="fa-solid fa-plus"></i></b>: Thêm mới hàng hoá.</step>
  <step>Nút <b><i class="fa-regular fa-floppy-disk"></i></b>: Lưu hàng hoá.</step>
  <step>Nút <b><i class="fa-regular fa-gear"></i></b>: Chỉnh sửa, xoá mặt hàng, nhóm hàng hoá.</step>
  <step>Nút <b><i class="fa-solid fa-trash"></i></b>: Xoá sản phẩm.</step>
  <step>Nút <b><i class="fa-solid fa-arrow-left"></i></b>: Hoàn tác.</step>
  <step>Nút <b><i class="fa-solid fa-arrow-right"></i></b>: Làm lại.</step>
  <step>Biểu tượng <b><i class="fa-solid fa-chevron-right"></i></b>: Danh sách chi tiết đang đóng.</step>
  <step>Biểu tượng <b><i class="fa-solid fa-chevron-down"></i></b>: Danh sách chi tiết đang mở.</step>
  <step>Biểu tượng <b><i class="fa-solid fa-lock"></i></b>: Thể hiện đây là hàng hoá trong chính sách chung.</step>
</how>

<how name="Thêm mới mặt hàng">
  <step>Nhấn nút <b><i class="fa-solid fa-plus"></i></b> để thêm mặt hàng (chủng loại).</step>
  <step>Nhập thông tin mặt hàng (ví dụ: Bột Cacao, Bột Mix,...).</step>
  <step>Nhấn <b><i class="fa-solid fa-check"></i></b> để xác nhận.</step>
  <step>Chọn  <b><i class="fa-solid fa-floppy-disk"></i></b> để lưu lại.</step>
</how>

<how name="Thêm sản phẩm cho mặt hàng">
  <step>Chọn mặt hàng vừa tạo trong danh sách.</step>
  <step>Ở khung <b>Danh mục sản phẩm</b>, chọn <b><i class="fa-solid fa-plus"></i></b> để thêm sản phẩm mới.</step>
  <step>Nhập thông tin chi tiết cho sản phẩm (ví dụ: Bột Cacao sẽ có Bột Cacao A, Bột Cacao B,...).</step>
  <step>Nhấn <b><i class="fa-solid fa-check"></i></b> để xác nhận.</step>
  <step>Chọn  <b><i class="fa-solid fa-xmark"></i></b> và nhấn <b><i class="fa-solid fa-floppy-disk"></i></b> để hoàn tất.</step>
</how>

<how name="Chỉnh sửa sản phẩm">
  <step>Để sửa thông tin:
     Chọn <b>nhóm hàng</b>
    -> Chọn <b>mặt hàng (chủng loại)</b>
    -> Chọn <b>sản phẩm</b> cần sửa
    -> Sửa thông tin và nhấn <b><i class="fa-solid fa-check"></i></b>
    -> Chọn  <b><i class="fa-solid fa-xmark"></i></b> và nhấn <b><i class="fa-solid fa-floppy-disk"></i></b> để hoàn tất.</step>
  <step>Để xoá hàng hoá:
    Chọn <b>nhóm hàng</b>
    -> Chọn <b>mặt hàng (chủng loại)</b>
    -> Chọn <b>sản phẩm</b> cần xoá
    -> Nhấn <b><i class="fa-solid fa-trash"></i></b>
    -> Chọn  <b><i class="fa-solid fa-xmark"></i></b> và nhấn <b><i class="fa-solid fa-floppy-disk"></i></b> để hoàn tất.</step>
</how>

<app-general-instructions></app-general-instructions>
