<desc
  >Quản lý danh sách cửa hàng, giúp bạn nhanh chóng tạo mới và truy cập cửa hàng
  để đi vào hoạt động.</desc
>

<how name="Mô tả chức năng" [expanded]="true" [showIndex]="false">
  <step>Nút <b><i class="fa-solid fa-plus"></i></b>: Thêm mới cửa hàng/nhóm cửa hàng</step>
  <step>Nút <b><i class="fa-regular fa-cash-register"></i></b>: Truy cập vận hàng cửa hàng</step>
  <step>Nút <b><i class="fa-regular fa-chart-pie"></i></b>: Truy cập báo cáo cửa hàng, nhóm cửa hàng</step>
  <step>Nút <b><i class="fa-regular fa-magnifying-glass"></i></b>: Tìm kếm cửa hàng</step>
  <step>Nút <b><i class="fa-regular fa-qrcode"></i></b>: Quét QR liên kết</step>

  <step>Biểu tượng <b><i class="fa-regular fa-chevron-right"></i></b>: Thể hiện nhóm đóng</step>
  <step>Biểu tượng <b><i class="fa-regular fa-chevron-down"></i></b>: Thể hiện nhóm đang mở</step>
  <step>Biểu tượng <b><i class="fa-regular fa-cash-register"></i></b>: Doanh số dã thu</step>
  <step>Biểu tượng <b><i class="fa-regular fa-mug-saucer"></i></b>: Doanh số chưa thu</step>
  <step>Biểu tượng <b><i class="fa-regular fa-calendar"></i></b>: Tổng doanh số</step>
  <step>Biểu tượng <b><i class="fa-regular fa-circle-check"></i></b>: Cửa hàng thuộc sở hữu của tài khoản.</step>
  <step>Biểu tượng <b><i class="fa-regular fa-share-nodes"></i></b>: Cửa hàng được chủ sở hữu khác chia sẻ cho tài khoản.</step>
</how>

<how name="Tạo cửa hàng mới" >
  <step
    >Chọn  <b><i class="fa-regular fa-plus"></i></b> và chọn
    <b>Tạo cửa hàng mới</b>.</step
  >
  <step>Nhập tên cửa hàng và địa chỉ (VD: đường, quận, thành phố) vào ô trống.</step>
  <step>Nhấn <b><i class="fa-regular fa-plus"></i></b> để lưu lại.</step>
</how>

<how name="Tạo nhóm cửa hàng">
  <step
    >Chọn  <b><i class="fa-solid fa-plus"></i></b> và chọn
    <b>Tạo nhóm cửa hàng</b>.</step
  >
  <step
    >Nhập tên nhóm, và thêm các cửa hàng vào nhóm từ
    <b>Danh sách cửa hàng</b>.</step
  >
  <step>Nhấn <b><i class="fa-regular fa-floppy-disk"></i></b> để lưu lại.</step>
</how>
<app-general-instructions></app-general-instructions>
