<desc
  >Quản lý danh sách cửa hàng, giúp bạn nhanh chóng tạo mới và truy cập cửa hàng
  để đi vào hoạt động.</desc
>

<how name="Tạo cửa hàng mới">
  <step
    >Chọn biểu tượng <b><i class="fa-solid fa-plus"></i></b> và chọn
    <b>Tạo cửa hàng mới</b>.</step
  >
  <step>Nhập tên cửa hàng và địa chỉ vào ô trống.</step>
  <step>Nhấn <b>Tạo cửa hàng</b> để lưu lại.</step>
</how>

<how name="Tạo nhóm cửa hàng">
  <step
    >Chọn biểu tượng <b><i class="fa-solid fa-plus"></i></b> và chọn
    <b>Tạo nhóm cửa hàng</b>.</step
  >
  <step
    >Nhập tên nhóm, và thêm các cửa hàng vào nhóm từ
    <b>Danh sách cửa hàng</b>.</step
  >
  <step>Nhấn <b>Cập nhật</b> để lưu lại.</step>
</how>

<how name="Truy cập và quản lý cửa hàng">
  <step
    >Chọn biểu tượng <b><i class="fa-regular fa-cash-register"></i></b> để truy
    cập vào vận hành cửa hàng.</step
  >
  <step
    >Chọn biểu tượng <b><i class="fa-light fa-chart-pie"></i></b> để truy cập
    Báo cáo.</step
  >
  <step
    >Chọn biểu tượng <b><i class="fa-regular fa-gear"></i></b> của nhóm cửa hàng
    để <b>chỉnh sửa</b> nhóm.</step
  >
</how>

<how name="Tìm kiếm cửa hàng">
  <step
    >Chọn biểu tượng <b><i class="fa-solid fa-magnifying-glass"></i></b>.</step
  >
  <step>Nhập <b>tên/địa chỉ</b> cửa hàng để tìm kiếm.</step>
</how>

<how name="Quét QR liên kết">
  <step
    >Chọn biểu tượng <b><i class="fa-solid fa-qrcode"></i></b>.</step
  >
  <step>Cho phép app truy cập máy ảnh trên thiết bị.</step>
  <step
    >Quét <b>mã QR</b> được cung cấp để liên kết <b>cửa hàng/nhân sự</b>.</step
  >
</how>

<how name="Phân loại cửa hàng">
  <step>Các cửa hàng sẽ được phân loại theo địa chỉ khởi tạo.</step>
  <step
    >Biểu tượng <b><i class="fa-regular fa-circle-check"></i></b> thể hiện cho
    cửa hàng thuộc sở hữu của tài khoản.</step
  >
  <step
    >Biểu tượng <b><i class="fa-regular fa-share-nodes"></i></b> thể hiện cho
    cửa hàng được chủ sở hữu khác chia sẻ cho tài khoản.</step
  >
</how>

<app-general-instructions></app-general-instructions>
