<div class="guide-container">
  <!-- <h2>Hướng dẫn tạo cửa hàng</h2> -->
  <p>
    <strong>Mô tả:</strong> Tính năng Khởi tạo cửa hàng giúp bạn nhanh chóng tạo
    mới một cửa hàng và truy cập cài đặt để thiết lập các thông tin cơ bản ban
    đầu.
  </p>
  <div class="section">
    <app-step-box>
      <h3 header>Tạo cửa hàng mới <i class="fa-solid fa-eye"></i></h3>
      <div class="modal">
        <div class="row">
          <div class="icon"><i class="fa-solid fa-hand-point-right"></i></div>
          <div class="line">
            <b>Bước 1:</b> Mở ứng dụng, chọn biểu tượng
            <strong><i class="fa-solid fa-plus"></i></strong> và chọn
            <strong>Tạo cửa hàng mới</strong>.
          </div>
        </div>
        <div class="row">
          <div class="icon"><i class="fa-solid fa-hand-point-right"></i></div>
          <div class="line">
            <b>Bước 2:</b> Nhập tên cửa hàng và địa chỉ vào ô trống.
          </div>
        </div>
        <div class="row">
          <div class="icon"><i class="fa-solid fa-hand-point-right"></i></div>
          <div class="line">
            <b>Bước 3:</b> Nhấn <strong>Tạo cửa hàng</strong> để lưu lại.
          </div>
        </div>
      </div>
    </app-step-box>
  </div>

  <div class="section">
    <app-step-box>
      <h3 header>
        Truy cập phần cài đặt của cửa hàng <i class="fa-solid fa-eye"></i>
      </h3>
      <div class="modal">
        <div class="row">
          <div class="icon"><i class="fa-solid fa-hand-point-right"></i></div>
          <div class="line">
            <b>Bước 1:</b> Sau khi tạo xong, chọn biểu tượng
            <strong><i class="fa-regular fa-cash-register"></i></strong> để truy
            cập vào cửa hàng vừa tạo.
          </div>
        </div>
        <div class="row">
          <div class="icon"><i class="fa-solid fa-hand-point-right"></i></div>
          <div class="line">
            <b>Bước 2:</b> Chọn biểu tượng
            <strong><i class="fa-solid fa-bars"></i></strong> góc trái trên
            cùng, sau đó truy cập <strong>Quản lý</strong>, chọn
            <b>Cấu hình</b>, rồi chọn <strong>Cửa hàng</strong>.
          </div>
        </div>
      </div>
    </app-step-box>
  </div>
</div>
