<desc>Một số thông tin , diễn giải về các ký hiệu và nút bấm trong chi tiết hoá đơn.</desc>

<how name="Mô tả chức năng" [expanded]="true" [showIndex]="false">

  <step>Nút <b><i class="fa-regular fa-file"></i></b>: Xem chi tiết hoá đơn</step>
  <step>Nút <b><i class="fa-solid fa-history"></i></b>: Xem lịch sử order</step>
  <step>Nút <b><i class="fa-regular fa-circle-arrow-up"></i></b>: Xuất hoá đơn điện tử</step>
  <step>Nút <b><i class="fa-regular fa-print"></i></b>: In lại hoá đơn</step>
  <step>Nút <b><i class="fa-regular fa-share-nodes"></i></b>: Chia sẻ hoá đơn</step>
  <step>Nút <b><i class="fa-regular fa-calculator"></i></b>: Bật máy tính</step>

</how>
