/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.guide-container {
  max-width: 100%;
  margin: 0 auto;
  /* padding-top: 10px;
  padding-right: 10px; */
  padding: 10px;
}
.guide-container table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 14px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
}

/* Table header */
.guide-container table thead {
  background-color: #007bff;
  color: #fff;
}

.guide-container table thead th {
  padding: 10px 15px;
  text-align: left;
}

/* Table body */
.guide-container table tbody tr {
  background-color: #f9f9f9;
  transition: background 0.3s;
}

.guide-container table tbody tr:nth-child(even) {
  background-color: #f1f1f1;
}

.guide-container table tbody tr:hover {
  background-color: #e0f0ff;
}

.guide-container table tbody td {
  padding: 10px 15px;
  vertical-align: top;
}
.guide-container h2 {
  text-align: center;
  text-transform: uppercase;
}

.guide-container > p {
  padding: 14px;
}

step b, step strong {
  color: #fd7e14 !important;
  text-transform: uppercase;
  margin: auto 2px;
}

step ul li{
  list-style: none;
  margin-top: 12px;
}

step table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 14px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
}

/* Table header */
step table thead {
  background-color: #007bff;
  color: #fff;
}

step table thead th {
  padding: 10px 15px;
  text-align: left;
}

/* Table body */
step table tbody tr {
  background-color: #f9f9f9;
  transition: background 0.3s;
}

step table tbody tr:nth-child(even) {
  background-color: #f1f1f1;
}

step table tbody tr:hover {
  background-color: #e0f0ff;
}

step table tbody td {
  padding: 10px 15px;
  vertical-align: top;
}
.section {
  margin: 10px 10px 24px 10px;
  padding: 20px 20px 20px 20px;
  border-radius: 6px;
  background: wheat;
}
.description {
  margin: 24px 10px 24px 10px;
  padding: 20px 20px 20px 20px;
  border-radius: 6px;
}
.in-app {
  background-color: white;
  box-shadow: 0 0 10px 3px #00000026;
}

.section .modal {
  line-height: 20px;
}

.section h3 {
  font-size: 0.8rem;
  text-transform: uppercase;
}

.section .row {
  display: flex;
  gap: 8px;
  margin-top: 12px;
}

.section .row .icon {
  color: orange;
}
.note {
  font-style: italic;
  font-weight: 400;
  margin-top: 16px;
}
.show-image {
  font-style: italic;
}
.show-image:hover {
  cursor: pointer;
}
.play {
  padding-left: 12px;
}
.btn-image {
  width: auto;
  height: auto;
  /* padding: 4px; */
  border-radius: 4px;
  outline: none;
  /* border:grey solid 1px; */
}
/* Responsive chung */
@media (max-width: 768px) {
  .guide-container {
    padding: 12px;
  }

  .guide-container h2 {
    font-size: 16px;
  }
  .guide-container p {
    font-size: 14px;
  }
  .section .row .line {
    font-size: 12px;
  }

  step{
    font-size: 12px;
  }
  .section h3 {
    font-size: 0.8rem;
    text-transform: uppercase;
  }
  .section h3:hover {
    cursor: pointer;
  }
  .description p{
    font-size: 14px;
  }
  .note {
    font-size: 12px;
  }
  .image-title {
    font-size: 14px;
    font-weight: 400;
  }
}

@media (max-width: 480px) {
  .guide-container {
    padding: 10px;
  }
  .guide-container table {
    display: block;
    overflow-x: auto;
    white-space: wrap;
  }
}
