<desc>Cách tạo mới và thao tác với đơn nhập, xuất hàng hoá của cửa hàng.</desc>

<how name="Mô tả chức năng" [expanded]="true" [showIndex]="false">
  <step>Nút <b><i class="fa-solid fa-asterisk"></i></b>: Xem loại hàng.</step>
  <step>Nút <b><i class="fa-solid fa-magnifying-glass"></i></b>: Tìm kiếm hàng hoá.</step>
  <step>Nút <b><i class="fa-solid fa-plus"></i></b>: Thêm hàng hoá.</step>
  <step>Nút <b><i class="fa-solid fa-trash"></i></b>: Xoá đơn.</step>
  <step>Nút <b><i class="fa-regular fa-file"></i></b>: Xem danh sách hàng hoá đã thêm.</step>
  <step>Nút <b><i class="fa-regular fa-floppy-disk"></i></b>: Lưu đơn.</step>
  <step>Nút <b><i class="fa-solid fa-arrow-left"></i></b>: Hoàn tác.</step>
  <step>Nút <b><i class="fa-solid fa-arrow-right"></i></b>: Làm lại.</step>
  <step>Nút <b><i class="fa-solid fa-check"></i></b>: Xác nhận đơn.</step>
</how>

<how name="Tạo đơn nhập/xuất hàng">
  <step>Chọn loại hàng hoá như <b>Hàng mới, hàng trả lại,...</b> trên giao diện hoặc chọn <b><i class="fa-solid fa-asterisk"></i></b> để xem.</step>
  <step>Chọn các mặt hàng từ <b>Danh sách hàng hóa</b>.</step>
  <step>Điền <b>Số lượng</b> và <b>Đơn giá</b> cho từng mặt hàng rồi ấn <b><i class="fa-regular fa-check"></i></b>.</step>
  <step>Chọn trạng thái đơn <b>đã trả tiền</b> hoặc <b>chưa trả tiền</b>(trên giao diện điện thoại, hãy ấn vào <b><i class="fa-regular fa-file" để chọn></i></b> để chọn).</step>
  <step>Nhấn <b><i class="fa-regular fa-floppy-disk"></i></b> để lưu đơn nhập/xuất hàng.</step>
  <step>Để xóa một mặt hàng khỏi đơn, chọn  <b><i class="fa-solid fa-trash"></i></b> bên cạnh mặt hàng đó.</step>
</how>
