<div class="guide-container">
  <h2>🤝 8. Khởi tạo đối tác (nhà cung cấp, …)</h2>
  <p>
    <strong>Mô tả:</strong>Thiết lập danh sách đối tác giúp bạn quản lý nhà cung
    cấp, khách hàng hoặc đối tác dịch vụ một cách đầy đủ và thuận tiện. Hãy làm
    theo các bước sau để thêm và Cấu hình đối tác.
  </p>

  <div class="section">
    <h3>
      a.Thêm đối tác.<button
        class="btn-image"
        (click)="
          emitShowImageEvent(
            'assets/images/create-partner-1.PNG',
            'Ảnh thêm mới đối tác'
          )
        "
      >
        <i class="fa-solid fa-image"></i> Xem ành
      </button>
    </h3>
    <div class="row">
      <div class="icon"><i class="fas fa-hand-point-right"></i></div>
      <div class="line">
        Bước 1: Chọn biểu tượng <strong><i class="fa-solid fa-bars"></i></strong> góc trái trên cùng, sau đó truy cập
        <strong>Đối tác</strong>.
      </div>
    </div>
    <div class="row">
      <div class="icon"><i class="fas fa-hand-point-right"></i></div>
      <div class="line">
        Bước 2: Nhấn nút <b><i class="fa-solid fa-plus"></i>Đối tác</b> để thêm
        mới.
      </div>
    </div>
    <div class="row">
      <div class="icon"><i class="fas fa-hand-point-right"></i></div>
      <div class="line">
        Bước 3: Nhập thông tin đối tác (tên, số điện thoại, địa chỉ…) rồi nhấn
        <b>Cập nhật</b> để lưu.
      </div>
    </div>
  </div>

  <div class="section">
    <h3>
      b.Cấu hình chi tiết cho đối tác.<button
        class="btn-image"
        (click)="
          emitShowImageEvent(
            'assets/images/create-partner-2.PNG',
            'Ảnh cấu hình chi tiết đối tác'
          )
        "
      >
        <i class="fa-solid fa-image"></i> Xem ành
      </button>
    </h3>
    <div class="row">
      <div class="icon"><i class="fas fa-hand-point-right"></i></div>
      <div class="line">
        Bước 4.1: Nhấn vào biểu tượng
        <b><i class="fa-regular fa-gear"></i></b> của đối tác muốn chỉnh sửa.
      </div>
    </div>
    <div class="row">
      <div class="icon"><i class="fas fa-hand-point-right"></i></div>
      <div class="line">
        Bước 4.2: Chọn một trong các mục: <b>Dịch vụ</b>, <b>Hàng hóa</b>, hoặc
        <b>Tài khoản</b>.
      </div>
    </div>
    <div class="row">
      <div class="icon"><i class="fas fa-hand-point-right"></i></div>
      <div class="line">
        Bước 4.3: Nhấn
        <b><i class="fa-regular fa-plus"></i>Dịch vụ/Hàng hoá/Tài khoản</b> để
        thêm mới, nhập thông tin vào biểu mẫu.
      </div>
    </div>
    <div class="row">
      <div class="icon"><i class="fas fa-hand-point-right"></i></div>
      <div class="line">
        Bước 4.4: Nhấn <b>Cập nhật</b> để lưu Cấu hình vừa nhập.
      </div>
    </div>
    <!-- <div class="row">
      <div class="icon"><i class="fas fa-hand-point-right"></i></div>
      <div class="line">Bước 4.5: Cuối cùng, nhấn <b><i class="fa-solid fa-floppy-disk"></i></b> ở góc trên bên phải để hoàn tất.</div>
    </div> -->
  </div>
</div>
