<desc>Cách tạo mới và thao tác với phiếu kiểm hàng hoá của cửa hàng.</desc>

<how name="Mô tả chức năng" [expanded]="true" [showIndex]="false">
  <step>Nút <b><i class="fa-solid fa-magnifying-glass"></i></b>: Tìm kiếm hàng hoá.</step>
  <step>Nút <b><i class="fa-solid fa-list"></i></b>: Xem loại hàng hoá.</step>
  <step>Nút <b><i class="fa-solid fa-plus"></i></b>: Thêm hàng hoá.</step>
  <step>Nút <b><i class="fa-solid fa-trash"></i></b>: Xoá đơn hoặc hàng hoá.</step>
  <step>Nút <b><i class="fa-regular fa-file"></i></b>: Xem danh sách hàng hoá đã thêm.</step>
  <step>Nút <b><i class="fa-regular fa-floppy-disk"></i></b>: Lưu đơn.</step>
  <step>Nút <b><i class="fa-solid fa-arrow-left"></i></b>: Hoàn tác.</step>
  <step>Nút <b><i class="fa-solid fa-arrow-right"></i></b>: Làm lại.</step>
  <step>Nút <b><i class="fa-solid fa-check"></i></b>: Xác nhận đơn.</step>
</how>

<how name="Thao tác kiểm kê hàng hoá">
  <step>Chọn  <b><i class="fa-regular fa-list"></i></b> để chọn loại hàng kiểm.</step>
  <step>Chọn các mặt hàng cần kiểm từ <b>Danh sách hàng hoá</b>.</step>
  <step>Điền <b>số lượng hàng hoá hiện có tại cửa hàng(thực kiểm)</b> cho từng mặt hàng và ấn <b><i class="fa-solid fa-check"></i></b>.</step>
  <step>Nhấn <b><i class="fa-regular fa-floppy-disk"></i></b> để lưu phiếu kiểm.</step>
  <step>Để xóa một mặt hàng khỏi đơn kiểm, chọn  <b><i class="fa-solid fa-trash"></i></b> bên cạnh mặt hàng đó.</step>
</how>

<how name="Các thao tác khác">
  <step>Chọn <b><i class="fa-solid fa-magnifying-glass"></i></b> để tìm kiếm hàng hoá.</step>
  <step>Chỉnh sửa thông tin phiếu và nhấn <b><i class="fa-solid fa-floppy-disk"></i></b> để cập nhật phiếu.</step>
  <step>Chọn <b><i class="fa-solid fa-trash"></i></b> để xóa phiếu.</step>
  <step>Chọn <b><i class="fa-solid fa-check"></i></b> để xác nhận phiếu.</step>
  <step>Phiếu kiểm sau khi xác nhận sẽ không thể sửa lại hay xoá được.</step>
</how>
