<div class="guide-container">
  <h2>13. Quy trình xử lý công nợ</h2>
  <p>
    <strong>Mô tả:</strong> Hướng dẫn nhân viên cách xem và xử lý các công phát
    sinh của cửa hàng trong quá trình vận hành.
  </p>

  <div class="section">
    <app-step-box>
      <h3 header>VIDEO HƯỚNG DẪN</h3>
      <h3 icon class="btn-image"><i class="fa-solid fa-image"></i> Xem clip</h3>
      <div class="modal video">
        <iframe
          src="https://www.youtube.com/embed/TS9NPBHF_Tc?si=EyeoY4G3DVmQazrc"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          referrerpolicy="strict-origin-when-cross-origin"
          allowfullscreen
        ></iframe>
      </div>
    </app-step-box>
  </div>

  <div class="section">
    <app-step-box>
      <h3 header>a. Truy cập mục Công nợ</h3>
      <h3
        icon
        class="btn-image"
        (click)="
          emitShowImageEvent(
            'assets/images/debts-1.png',
            'Ảnh truy cập công nợ'
          )
        "
      >
        <i class="fa-solid fa-image"></i> Xem ảnh
      </h3>
      <div class="modal">
        <div class="row">

          <div class="line">
            <b>Bước 1:</b> Chọn biểu tượng
            <strong><i class="fa-solid fa-bars"></i></strong> góc trái trên
            cùng, chọn <b>Vận hành</b> sau đó truy cập <strong>Công nợ</strong>.
          </div>
        </div>
      </div>
    </app-step-box>
  </div>

  <div class="section">
    <app-step-box>
      <h3 header>b. Xem thông tin công nợ</h3>
      <h3
        icon
        class="btn-image"
        (click)="
          emitShowImageEvent('assets/images/debts-2.png', 'Ảnh xem công nợ.')
        "
      >
        <i class="fa-solid fa-image"></i> Xem ảnh
      </h3>
      <div class="modal">
        <div class="row">

          <div class="line">
            <b>Bước 1:</b> Chọn <b>Công nợ</b> để xem danh sách công nợ của cửa hàng.
          </div>
        </div>
        <div class="row">

          <div class="line">
            <b>Bước 2:</b> Chọn <b>đối tác</b> và chọn biểu tượng
            <b><i class="fa-solid fa-list"></i></b> để xem
            <b>thông tin công nợ</b>. Sau đó, chọn biểu tượng
            <b><i class="fa-regular fa-pen"></i></b> và nhập thông tin để có thể
            tạo phiếu <b>trả nợ/thu nợ</b> cho đối tác.
          </div>
        </div>
        <div class="row">

          <div class="line">
            <b>Bước 3:</b> Chọn <b>đối tác</b> và chọn biểu tượng
            <b><i class="fa-solid fa-clock-rotate-left"></i></b> để xem chi tiết
            <b>lịch sử công nợ</b>. Sau đó, chọn biểu tượng
            <b><i class="fa-regular fa-pen"></i></b> và nhập thông tin để có thể
            tạo thêm phiếu trả nợ cho đối tác. Đối với các phiếu
            <b>trả nợ/thu nợ</b> đang chờ duyệt, người dùng có thể :
            <ul style="list-style: none;line-height: 30px;">
              <li>
                <b>Xác nhận</b>: Chọn biểu tượng
                <b><i class="fa-regular fa-gear"></i></b> và chọn
                <b>Xác nhận</b>.
              </li>
              <li>
                <b>Khoá phiếu</b>: Chọn biểu tượng
                <b><i class="fa-regular fa-gear"></i></b> và chọn
                <b>Khoá phiếu</b>.
              </li>
              <li>
                <b>Xoá phiếu</b>: Chọn biểu tượng
                <b><i class="fa-regular fa-gear"></i></b> và chọn
                <b>Xoá phiếu</b>.
              </li>
            </ul>
          </div>
        </div>
        <div class="note">
          <p>
            (<b>Lưu ý:</b> Ấn vào biểu tượng
            <b><i class="fa-solid fa-magnifying-glass"></i></b> để tìm kiếm
            nhanh đối tác/công nợ và các phiếu sau khi khoá sẽ không xoá được.)
          </p>
        </div>
      </div>
    </app-step-box>
  </div>

  <div class="section">
    <app-step-box>
      <h3 header>c. Xem thông tin đặt cọc</h3>
      <h3
        icon
        class="btn-image"
        (click)="
          emitShowImageEvent('assets/images/debts-3.png', 'Ảnh xem đặt cọc.')
        "
      >
        <i class="fa-solid fa-image"></i> Xem ảnh
      </h3>
      <div class="modal">
        <div class="row">

          <div class="line">
            <b>Bước 1:</b> Chọn <b>Đặt cọc</b> để xem chi tiết các khoản cọc của cửa
            hàng.
          </div>
        </div>
        <div class="row">

          <div class="line">
            <b>Bước 2:</b> Chọn <b>đối tác</b> và chọn biểu tượng
            <b><i class="fa-solid fa-list"></i></b> để xem
            <b>thông tin đặt cọc</b>. Sau đó, chọn biểu tượng
            <b><i class="fa-regular fa-pen"></i></b> và nhập thông tin để có thể
            tạo phiếu <b>hoàn tiền cọc/trừ tiền cọc đối tác</b> từ đối tác.
          </div>
        </div>
        <div class="row">

          <div class="line">
            <b>Bước 3:</b> Chọn <b>đối tác</b> và chọn biểu tượng
            <b><i class="fa-solid fa-clock-rotate-left"></i></b> để xem chi tiết
            <b>lịch sử đặt cọc</b>. Sau đó, chọn biểu tượng
            <b><i class="fa-regular fa-pen"></i></b> và nhập thông tin để có thể
            tạo thêm phiếu nhận lại cọc từ đối tác. Đối với các phiếu
            <b>hoàn tiền cọc/trừ tiền cọc đối tác</b> đang chờ duyệt, người dùng
            có thể :
            <ul style="list-style: none;line-height: 30px;">
              <li>
                <b>Xác nhận</b>: Chọn biểu tượng
                <b><i class="fa-regular fa-gear"></i></b> và chọn
                <b>Xác nhận</b>.
              </li>

              <li>
                <b>Khoá phiếu</b>: Chọn biểu tượng
                <b><i class="fa-regular fa-gear"></i></b> và chọn
                <b>Khoá phiếu</b>.
              </li>
              <li>
                <b>Xoá phiếu</b>: Chọn biểu tượng
                <b><i class="fa-regular fa-gear"></i></b> và chọn
                <b>Xoá phiếu</b>.
              </li>
            </ul>
          </div>
        </div>
        <div class="note">
          <p>
            (<b>Lưu ý:</b> Ấn vào biểu tượng
            <b><i class="fa-solid fa-magnifying-glass"></i></b> để tìm kiếm
            nhanh đối tác/đặt cọc và các phiếu sau khi khoá sẽ không xoá được.)
          </p>
        </div>
      </div>
    </app-step-box>
  </div>
</div>
