<div class="guide-container">
  <h2>13. Quy trình xử lý công nợ</h2>
  <p>
    <strong>Mô tả:</strong> Hướng dẫn nhân viên cách xem và xử lý các công phát sinh của cửa hàng trong quá trình vận hành.
  </p>

  <div class="section">
    <app-step-box>
      <h3 header>a. Truy cập mục Công nợ</h3>
      <h3
        icon
        class="btn-image"
        (click)="
          emitShowImageEvent(
            'assets/images/debts-1.png',
            'Ảnh truy cập công nợ'
          )
        "
      >
        <i class="fa-solid fa-image"></i> Xem ảnh
      </h3>
      <div class="modal">
        <div class="row">
          <div class="icon"><i class="fas fa-hand-point-right"></i></div>
          <div class="line">
            Bước 1: Chọn biểu tượng
            <strong><i class="fa-solid fa-bars"></i></strong> góc trái trên
            cùng, chọn <b>Vận hành</b> sau đó truy cập <strong>Công nợ</strong>.
          </div>
        </div>
      </div>
    </app-step-box>
  </div>

  <div class="section">
    <app-step-box>
      <h3 header>b. Xem thông tin công nợ</h3>
      <h3
        icon
        class="btn-image"
        (click)="
          emitShowImageEvent(
            'assets/images/debts-2.png',
            'Ảnh xem công nợ.'
          )
        "
      >
        <i class="fa-solid fa-image"></i> Xem ảnh
      </h3>
      <div class="modal">
        <div class="row">
          <div class="icon"><i class="fas fa-hand-point-right"></i></div>
          <div class="line">
            Bước 1: Chọn <b><i class="fa-regular fa-files"></i></b> để xem chi tiết công nợ của đối tác.
          </div>
        </div>
        <div class="row">
          <div class="icon"><i class="fas fa-hand-point-right"></i></div>
          <div class="line">
            Bước 2: Chọn dữ liệu ở cột <b>Đã khấu trừ</b> để xem lịch sử khấu trừ nếu có.
          </div>
        </div>
        <div class="row">
          <div class="icon"><i class="fas fa-hand-point-right"></i></div>
          <div class="line">
            Bước 3: Chọn biểu tượng <b><i class="fa-regular fa-gear"></i></b> ở mỗi công nợ để xử lý đặt cọc(thêm khấu trừ công nợ nếu có đặt cọc trước đó).
          </div>
        </div>
        <div class="note">
          <p>
            (<b>Lưu ý:</b> Ấn vào biểu tượng
            <b><i class="fa-solid fa-magnifying-glass"></i></b> để tìm kiếm
            nhanh đối tác/công nợ.)
          </p>
        </div>
      </div>
    </app-step-box>
  </div>
</div>

