<div class="guide-container">
  <h2>💰 9. Khởi tạo phụ thu</h2>
  <p><strong>Mô tả:</strong>Thiết lập các khoản thu thêm như phí giao hàng, phí phục vụ…</p>

  <div class="section">
    <h3>Hướng dẫn thực hiện.<button
          class="btn-image"
          (click)="
            emitShowImageEvent(
              'assets/images/create-fee-1.PNG',
              'Ảnh thêm mới phụ thu'
            )
          "
          ><i class="fa-solid fa-image"></i> Xem ảnh</button
        ></h3>

    <div class="row">
      <div class="icon"><i class="fas fa-hand-point-right"></i></div>
      <div class="line"><strong>Bước 1:</strong> Vào mục <b><i class="fa-regular fa-sliders"></i>Cấu hình</b>, chọn <b>Phụ thu</b>.</div>
    </div>

    <div class="row">
      <div class="icon"><i class="fas fa-hand-point-right"></i></div>
      <div class="line"><strong>Bước 2:</strong> Nhấn nút <b><i class="fa-solid fa-plus"></i>Nguồn thu</b> để thêm mới.</div>
    </div>

    <div class="row">
      <div class="icon"><i class="fas fa-hand-point-right"></i></div>
      <div class="line"><strong>Bước 3:</strong> Nhập thông tin phụ thu (<i>tên khoản thu, số tiền, ghi chú…</i>).</div>
    </div>

    <div class="row">
      <div class="icon"><i class="fas fa-hand-point-right"></i></div>
      <div class="line"><strong>Bước 4:</strong> Nhấn <b>Cập nhật</b>, sau đó nhấn <b><i class="fa-solid fa-floppy-disk"></i></b> ở góc trên bên phải để hoàn tất thao tác.</div>
    </div>

  </div>
</div>
