<div class="guide-container">
  <h2>💰 9. Khởi tạo thuế & phí</h2>
  <p><strong>Mô tả:</strong>Khởi tạo các khoản thuế cần nộp hoặc các phụ phí thu thêm như phí dịch vụ, phi giao hàng,...</p>

  <div class="section">
    <h3>Hướng dẫn thực hiện.<button
          class="btn-image"
          (click)="
            emitShowImageEvent(
              'assets/images/create-fee-1.PNG',
              'Ảnh thêm mới phụ thu'
            )
          "
          ><i class="fa-solid fa-image"></i> Xem ảnh</button
        ></h3>

    <div class="row">
      <div class="icon"><i class="fas fa-hand-point-right"></i></div>
      <div class="line">Bước 1: Chọn biểu tượng <strong><i class="fa-solid fa-bars"></i></strong> góc trái trên cùng, sau đó truy cập
        <strong>Thuế & Phí</strong>.</div>
    </div>

    <div class="row">
      <div class="icon"><i class="fas fa-hand-point-right"></i></div>
      <div class="line">Bước 2: Nhấn nút <b><i class="fa-solid fa-plus"></i></b> để thêm mới.</div>
    </div>

    <div class="row">
      <div class="icon"><i class="fas fa-hand-point-right"></i></div>
      <div class="line">Bước 3: Nhập thông tin thuế hoặc phí (<i>tên, giá trị, mô tả…</i>).</div>
    </div>

    <div class="row">
      <div class="icon"><i class="fas fa-hand-point-right"></i></div>
      <div class="line">Bước 4: Nhấn <b>Cập nhật</b>, sau đó nhấn <b><i class="fa-solid fa-floppy-disk"></i></b> ở góc trên bên phải để hoàn tất thao tác.</div>
    </div>

  </div>
</div>
